.faqWrapper{
    height: auto;
    padding-bottom: 30px;
}
.faqRepeatedBlockQuestion{
    font-size: 16px;
    margin-left: 30px !important;
}
.faqRepeatedBlockAnswer{
    font-size: 16px;
    padding: 10px 5px 0px 5px;
    text-align: justify !important;
}
.faqImage{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.faqImage1{
    width: 100%;
    border-radius: 10px;
}
.faqCard{
    border: none;
}
.faqCard i{
    margin-top: -15px;
}
.plusIconWrapper{
    position: absolute;
    margin-left: 0%;
    margin-top: -16px !important;
}
.faqCardHeader{
    background-color: #fff;
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
}
.faqCardHeader h6{
    color: #000 !important;
    text-decoration: none !important;
    border-bottom: 1px solid lightgray !important;
}
.faqCardHeader a{
    color: #000 !important;
    text-decoration: none !important;
}
.faqCardHeader i{
    color: #033554 !important;
    text-decoration: none !important;   
}
.faqCollapse{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.faqSubTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 5px;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */


/* [xs] Extra Small Devices [Phone - Portrait, less than 575px] */
@media (max-width: 575px){
  /* No media query for "xs'' since this is the default in Bootstrap 4 because it is "Mobile First" */
}


/* [sm] Small Devices [Phone - Landscape, 576px and up] */
@media (min-width: 576px){

}


/* [md] Medium Devices [Tablet - Portrait, 768px and up] */
@media (min-width: 768px){

}


/* [lg] Large Devices [Tablet - Landscape, 992px and up] */
@media (min-width: 992px){

    .faqImage{
        height: 190px;
        width: 100%;
    }
    .faqImage1{
        height: 190px;
        width: 100%;
    }
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1200px and up] */
@media (min-width: 1200px){

    .faqImage{
        height: 250px;
        width: 111%;
        margin-left: -20px;
        margin-bottom: 0px;
    }
    .faqImage1{
        height: 250px;
        width: 111%;
        margin-left: -20px;
    }
    .faqRepeatedBlockQuestion{
        font-size: 16px;
        margin-left: 30px !important;
    }
    .faqRepeatedBlockAnswer{
        font-size: 16px;
        padding: 10px 5px 0px 5px;
        text-align: justify !important;
    }
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1366px and up] */
@media (min-width:1366px){

}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1440px and up] */
@media (min-width:1440px){

}


/* [xxl] Extra Large Devices [Desktop/Laptop (FHD), 1920px and up] */
@media (min-width:1920px){

}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */