@font-face {
  font-family  : 'Montserrat-Bold';
  font-style   : normal;
  src          : url("../../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family  : 'Montserrat';
  font-style   : normal;
  src          :  url("../../../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family  : 'Montserrat-Light';
  font-style   : normal;
  src          : url("../../../fonts/Montserrat-Light.ttf");
}


.faqWrapper{
    height: auto;
    padding-bottom: 30px;
}
.faqRepeatedBlockQuestion{
    font-size: 16px;
    font-family  : 'Montserrat';
    margin-left: 30px !important;
}
.faqRepeatedBlockAnswer{
    font-size: 16px;
    font-family  : 'Montserrat-Light';
    padding: 10px 5px 0px 5px;
    text-align: justify !important;
}
.faqImage{
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.faqImage1{
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
}
.faqCard{
    border: none;
}
.faqCard i{
    margin-top: -15px;
}
.plusIconWrapper{
    position: absolute;
    margin-left: 0%;
    margin-top: -16px !important;
}
.faqCardHeader{
    background-color: #fff;
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
}
.faqCardHeader h6{
    color: #000 !important;
    text-decoration: none !important;
    border-bottom: 1px solid lightgray !important;
}
.faqCardHeader a{
    color: #000 !important;
    text-decoration: none !important;
}
.faqCardHeader i{
    color: #033554 !important;
    text-decoration: none !important;   
}
.faqCollapse{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.faqSubTitle{
    font-size: 18px;
    font-weight: bold;
    font-family  : 'Montserrat-Bold';
    margin-bottom: 15px;
    margin-left: 5px;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (max-width: 320px){  
    .faqImage{
        height: 150px;
        width: 100%;
        margin-top: 30px;
    }
    .faqImage1{
        height: 150px;
        width: 100%;
        margin-top: 30px;
    }

    .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

    .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}
@media (min-width: 320px) and (max-width: 480px){   
     .faqImage{
        height: 200px;
        width: 100%;
        margin-top: 30px;
    }
    .faqImage1{
        height: 200px;
        width: 100%;
        margin-top: 30px;
    }

    .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

    .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 480px) and (max-width: 640px){   
     .faqImage{
        height: 250px;
        width: 350px;
        margin-top: 30px;
    }
    .faqImage1{
        height: 250px;
        width: 350px;
        margin-top: 30px;
    }

    .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

    .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 640px) and (max-width: 860px){   
    .faqImage{
        height: 250px;
        width: 450px;
        margin-top: 30px;
    }
    .faqImage1{
        height: 250px;
        width: 450px;
        margin-top: 30px;
    }

    .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

    .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 860px) and (max-width: 1280px) {
    .faqImage{
        height: 250px;
        width: 100%;
    }
    .faqImage1{
        height: 250px;
        width: 100%;
    }

    .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

    .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 1280px) and (max-width: 1366px) { 
    .faqImage{
        height: 250px;
        width: 100%;
        margin-left: -20px;
        margin-bottom: 0px;
    }
    .faqImage1{
        height: 250px;
        width: 100%;
        margin-left: -20px;
    }
    .faqRepeatedBlockQuestion{
        font-size: 18px;
        margin-left: 30px !important;
    }
    .faqRepeatedBlockAnswer{
        font-size: 14px;
        padding: 10px 5px 0px 5px;
        text-align: justify !important;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) { 
    .faqSubTitle{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

        .faqImage{
            width: 100%;
            height: 351px;
        }
        .faqImage1{
            width: 100%;
            height: 351px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 1440px) and (max-width: 1536px) { 
    .faqSubTitle{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

        .faqImage{
            width: 600px;
            height: 351px;
        }
        .faqImage1{
            width: 600px;
            height: 351px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 1536px) and (max-width: 1680px) { 
    .faqSubTitle{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 19px;
        }

        .faqImage{
            width: 650px;
            height: 351px;
        }
        .faqImage1{
            width: 650px;
            height: 351px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 14px;
        }
}

@media (min-width: 1680px) and (max-width: 1920px) { 
    .faqSubTitle{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 20px;
        }

        .faqImage{
            width: 710px;
            height: 351px;
        }
        .faqImage1{
            width: 710px;
            height: 351px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 15px;
        }
}

@media (min-width: 1920px) and (max-width: 2560px)  {
    .faqSubTitle{
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 22px;
        }

        .faqImage{
            width: 780px;
            height: 421px;
            margin-left: 12%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .faqImage1{
            width: 780px;
            height: 421px;
            margin-left: 12%;
            border-radius: 10px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 16px;
        }
}

@media (min-width: 2560px){
    .faqSubTitle{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 5px;
      }

      .faqRepeatedBlockQuestion{
            font-size: 24px;
        }

        .faqImage{
            width: 780px;
            height: 421px;
            margin-left: 12%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .faqImage1{
            width: 780px;
            height: 421px;
            margin-left: 12%;
            border-radius: 10px;
        }

        .faqRepeatedBlockAnswer{
            font-size: 17px;
        }
}

/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */