.CustomGetStartedWrap{
	height: 425px;
	/*position: relative;*/
	/*background-color: #fff;*/
	background-size: 100% 100%;
	color: #fff;
}
.marginTop5per{
	margin-top: 22%;
}
.DescFontCGS{
	font-size: 18px;
	line-height: 1.45;

}
.spbox_imga1{
	z-index: 1;
	height: 375px;
	position: relative;
	top: -35px;
}