.contactuswrap{
    height: 470px;
    background-color: #f1f1f1;
    margin-top: 30px;
}
.headingtitle{
    font-size: 36px;
    color: #555555;
    letter-spacing: 1px;
    margin-left: 15px;
}
.fName{
    margin-top: 10px;
    margin-left: 5px;
    color: #555555;
}
.asterik{
    color: red;
}
.subButton{
    height: 50px;
    margin-top: 30px;
    margin-left: 973px;
    font-size: 30px;
}
.error{
    color:red;
}