.webWrapper{
	margin: 35px 0px;
	color: #fff;
}

.webBox{
	height: 235px;
	/*background-color: #ccc;*/
	/*border: 1px solid #888;*/
	background-size: 100% 100%;
}
.webBox img{
	margin-left: 46%;
	height: 65px;
}
.webBox h1{
	margin-top: 5%;
	}