API/node_modules
API/nodemon.js

MobileApp/node_modules
MobileApp/AppDesigns/currentApp

WebApp/admin/node_modules
WebApp/vendor/node_modules
WebApp/sampurnaWebsite/node_modules

WebApp/admin/.env
WebApp/vendor/.env
WebApp/sampurnaWebsite/next.config.js

WebApp/admin/build
WebApp/vendor/build

