
.stdBlockFGImage{
    /*width: 100%;*/
    border-radius: 19px;
}

.stdBlockDescriptionBlack{
    font-size: 20px;
    color: #000;
    text-align: justify;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (min-device-width: 1024px){

    .stdBlockFGImage{
        margin-top: -70px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 0px;
        text-align: left;
        text-align: justify;
    }
}


@media (min-device-width: 1366px){

    .stdBlockFGImage{
        height: 369px;
        margin-top: -70px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 19px;
        margin-top: 39px;
        margin-left: 35px;
        text-align: left;
        text-align: justify;
    }
}

@media (min-device-width: 1440px){

    .stdBlockFGImage{
        height: 368px;
        margin-top: -70px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 52px;
        margin-left: 51px;
        text-align: left;
        text-align: justify;
    }
}


@media (min-device-width: 1536px){

    .stdBlockFGImage{
        height: 400px;
    }

    .stdBlockDescriptionBlack{
        font-size: 21px;
        margin-top: 33px;
        margin-left: 30px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 50px;
    }

}

/*@media (min-device-width: 1640px){

}*/

@media (min-device-width: 1920px){
    
    .stdBlockFGImage{
        height: 460px;
    }

    .stdBlockDescriptionBlack{
        font-size: 22px;
        margin-top: 83px;
        margin-left: 100px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 50px;
    }
}

@media (min-device-width: 2560px){

    .stdBlockFGImage{
        height: 543px;
    }

    .stdBlockDescriptionBlack{
        font-size: 28px;
        margin-top: 116px;
        margin-left: 167px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 50px;
    }

}
