API/node_modules
API/nodemon.js

MobileApp/eCommApp/node_modules

WebApp/admin/node_modules
WebApp/vendorOld/node_modules
WebApp/vendorNew/node_modules
WebApp/franchise/node_modules
WebApp/ba/node_modules
WebApp/sampurnaWebsite/node_modules

WebApp/admin/.env
WebApp/vendorOld/.env
WebApp/vendorNew/.env
WebApp/franchise/.env
WebApp/ba/.env
WebApp/sampurnaWebsite/next.config.js

WebApp/admin/build
WebApp/vendorNew/build
WebApp/vendorOld/build
WebApp/franchise/build
WebApp/ba/build
WebApp/sampurnaWebsite/build

