.simplePageBanner{
	height: 250px;
	background-size: 250% 100%;
	background-repeat: no-repeat;
	padding-top: 0.1px;
}

.simplePageBannerTitle{
	font-size: 40px;
	font-weight: 700;
    margin-top: 100px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (max-width: 575px){
    
}

@media (min-width: 576px){

	.simplePageBannerTitle{
		font-size: 35px;
	}
}

@media (min-width: 768px){

	.simplePageBannerTitle{
		font-size: 40px;
	}
}

@media (min-width: 992px){

	.simplePageBanner{
		background-size: 100% 100%;
	}
	.simplePageBannerTitle{
		font-size: 45px;
		margin-left: 60px;
	}
}

@media (min-width: 1200px){

	.simplePageBanner{
		background-size: 100% 100%;
	}
	.simplePageBannerTitle{
		font-size: 45px;
		margin-top: 100px;
		margin-left: 60px;
		text-align: left;
	}
}

@media (min-width: 1920px){

	.simplePageBanner{
		background-size: 100% 100%;
		height: 320px;
	}
	.simplePageBannerTitle{
		font-size: 60px;
		margin-top: 123px;
		margin-left: 100px; 
	}
}

@media (min-width: 2560px){

	.simplePageBanner{
		background-size: 100% 100%;
		height: 390px;
	}
	.simplePageBannerTitle{
		font-size: 70px;
		margin-top: 150px;
		margin-left: 100px; 
	}
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */