.blockWrapper{
  height: auto;
  min-height:60px;
   /* background-size: 100% 100%; */
} 
.textWrapper{
   /* margin-top: 60px; */
   color: #000;
   /* font-size: 35px; */
   text-align: left;
}

.pageAboutText{
   word-spacing: 3px;
   font-size: 50px;
   /* margin-top: -120px; */
   /* padding-top: 130px; */
}
.pageAboutText1{
   position: absolute;
   /* margin-top: 15px; */
   word-spacing: 2px;
   font-size: 35px;
   /* color: #ff4157!important; */
   font-weight: 900;
}
.subTitle{
   /* margin-top: 15px; */
   font-size: 18px;
   /* margin-left: -60px; */
}
