.orderReviewsWrapper{
	margin-bottom: 20px;
}

.ma{
    margin: auto !important;
}

.eCommTitle {
    background-color: #033554;
    color: #fff;
    font-weight:bold;
    border-radius: 6px 6px 0px 0px;
}

.paymentMethod {
    margin-top: 30px;
    padding-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 6px;    
}

.shippingAddress {
     word-break: break-all; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    /*height: 936px;*/
    height:auto;
    border-radius: 6px;
    /* overflow: auto; */
}

.paymentMethodTitle {
    padding: 15px;
    font-size:14px !important;
    margin-bottom: 10px;
}

.orderReviews {
    margin-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 6px;    
}

.f14{
	font-size:14px;
}

.checkoutADDCss {
    font-size: 12px ! important;
    line-height: 2;
    /*margin-top:100px !important;*/
}

.f11N{
	font-size: 11px ! important;
	font-weight: 500;
}

.AEDColor{
    color:#DC1919;
}

.orclass{
    color:#333;
    font-size:13px;
    float:left;
}

.grey{
    color:#ccc ;
    height:15px;
}

.f13N{
	font-size: 13px ! important;
}

.f14B{
	font-size:14px !important;
	/*font-weight:bold;*/
}

.f16{
    font-size:16px !important;    
}

.bold{
	font-weight:bold;
}

.border1{
	border-radius:6px 0px 0px 6px !important;    
}

.border2{
	border-radius:0px 6px 6px 0px !important;
}

.orline{
    border-bottom:1px solid #ccc !important;
    float:left;
    margin-top: 10px !important;
}

.cuponBtn {
    padding: 5px;
    font-size: 12px;
    height: 38px;
    background-color:#033554 !important;
    color:#fff !important;
}

.currencyColor{
	color:#878787;
}

.addressWrapper{
	height:auto;
}

.headerH{
    max-height: 100px !important;
}

.modalHeader{
    background-color:#033554;
    border-bottom:0px !important;
}

 .close1 {
    font-size: 24px !important;
    /*opacity: 1 !important;*/
    color: #fff;
    /*border-radius: 3px;*/
    font-weight: 100;
    padding: 0px 5px !important;
    background-color: #033554 !important;
    /*margin-right: 20px;*/
    border:1px solid #033554 !important;
    vertical-align: text-top !important;
    text-align:top !important;
    margin-top:0px !important;
}

.modalT{
    font-size:12px !important;
    font-weight:300 !important;
    margin-top:12px !important;
}

.formcontrol1 {/*
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;    
    background-clip: padding-box;*/
    background-color: #eee;
    border:none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
   /* -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;*/
}

.modalBg{
    background-color:#eee;
    padding-bottom:50px !important;
}

.listColor{
    color:#fff !important;
    font-size:12px !important;
    font-weight:200 !important;
    min-height:300px;
    height:auto;
}

.saveBtn{
    background-color:#033554 !important;
    color:#fff !important;
}

  .addBTN{
    background-color: #033554 !important;
    height: 35px;
    font-size: 12px;
    color: #fff !important;
    border: 1px solid #033554 !important;
    border-radius: 4px !important;
    text-align: center;
    padding: 6px 20px;
    /* margin-top: 5px !important; */
    -webkit-transition: 0.6s ease !important;
    transition: 0.6s ease !important;
    font-weight: 600 !important;
  }

  .modalBodyRadius{
    border-radius:0px 0px 6px 6px;
  }

  .modal-content {
    border-radius:3px !important;
  }