@font-face {
    font-family: 'Montserrat-Black';
    src        : url('../../Themes/Sampurna/fonts/Montserrat-Black.ttf');
}

.checkoutWrapper {
    min-height: 600px;
}

.orderReviewsWrapper {
    margin-bottom             : 20px;
    background                : #FFFFFF 0% 0% no-repeat padding-box;
    border                    : 0.5px solid #ededed;
    margin-top                : -10px;
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
}

.checkOutTerms {
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    border       : 0.5px solid #ededed;
    border-radius: 6px;
}

.mtErrMsg {
    margin-top: -10px !important
}

.ma {
    margin: auto !important;
}

.eCommTitle {
    background-color: #033554;
    color           : #fff;
    font-weight     : bold;
    border-radius   : 6px 6px 0px 0px;
}

.tableBorderNone {
    border    : none !important;
    margin-top: -10px !important;
}

.productHeaderWrapper th {
    font-size  : 12px ! important;
    font-family: 'Montserrat-Bold';
    color      : #000000;
}

.productHeaderWrapper1 {
    font-family: 'Montserrat-Bold';
    color      : #000000;
}

.checkoutBrandTitle {
    letter-spacing: 0px !important;
    color         : #000000 !important;
    opacity       : 1 !important;
    font-family   : 'Montserrat-Medium' !important;
    font-size     : 14px !important;
}

.checkoutProductName {
    letter-spacing: 0px !important;
    color         : #000000 !important;
    opacity       : 0.5 !important;
    font-family   : 'Montserrat-Regular' !important;
    font-size     : 12px !important;
}

.modalMainWrapper {
    border-radius: 19px !important;
}

.productHeaderWrapper {
    border-bottom: 1px solid #ddd;
}

.infoCircle {
    color      : #ccc;
    cursor     : pointer !important;
    margin-left: -15px !important;
}

.paymentMethod {
    margin-top    : 30px;
    padding-bottom: 50px;
    background    : #FFFFFF 0% 0% no-repeat padding-box;
    border        : 0.5px solid #ededed;
    border-radius : 6px;
}

.shippingAddress {
    word-break    : break-all;
    margin-top    : 20px;
    margin-bottom : 20px;
    padding-bottom: 20px;
    background    : #FFFFFF 0% 0% no-repeat padding-box;
    border        : 0.5px solid #ededed;
    /*height      : 936px;*/
    height        : auto;
    border-radius : 6px;
    /* overflow   : auto; */
}

.paymentMethodTitle {
    padding      : 15px;
    font-size    : 14px !important;
    margin-bottom: 10px;
}

.orderReviews {
    margin-top    : 30px;
    padding-bottom: 30px;
    /* border     : 1px solid #ddd; */
    margin-bottom : 20px;
    border-radius : 6px;
    overflow-x    : hidden !important;
}

.pnHidden {
    color: #fff !important;

}

.onlinePayment {
    font-size: 10px;
}

.cardDelivery {
    margin-top: -13px !important;
}

.f14 {
    font-size  : 14px;
    white-space: nowrap;
}

.checkoutADDCss {
    font-size   : 12px !important;
    line-height : 2;
    /*margin-top:100px !important;*/
}

.f11N {
    font-size  : 9px !important;
    font-weight: 500;
}

.vendorBgColorSM {
    background             : #133554;
    padding                : 10px;
    color                  : white;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}

.AEDColor {
    letter-spacing: 0px;
    color         : #000000 !important;
    text-transform: capitalize;
    opacity       : 0.6;
    font-family   : 'Montserrat-Medium';
    font-weight   : 500;
    font-size     : 12px;
}

.deleteCredit {
    color : #f00;
    cursor: pointer;
}

.orclass {
    color    : #000;
    font-size: 13px;
    float    : left;
}

.grey {
    color : #ccc;
    height: 15px;
}

.totalAmountWrapper {
    margin-left: 70px;
}

.f13N {
    font-size  : 12px ! important;
    color      : #000;
    margin-top : -6px;
    margin-left: 2px;
}

.f13N input {
    height: 18px !important;
}

.f14B {
    font-size    : 12px !important;
    /*font-weight:bold;*/
    margin-top   : 2px;

}

.f14BM p {
    font-size     : 12px !important;
    /* font-weight: bold; */
    margin-top    : 15px;
    margin-left   : 71%;
    position      : absolute;

}

.modalCloseButtonWrapper {
    margin-left: -27px !important;
    cursor     : pointer !important;
    margin-top : -25px !important;
}

.modalCloseButtonWrapperM {
    margin-left: -27px !important;
    cursor     : pointer !important;
    margin-top : -25px !important;
    font-size  : 24px !important;
}

.modalLogoWrapper {
    position   : absolute;
    height     : 29px !important;
    margin-left: -96px;
    margin-top : -1px !important;
}

.modalLogoWrapperM {
    position   : absolute;
    height     : 29px !important;
    margin-left: -10px;
    margin-top : 11px !important;
}

.f16 {
    font-size: 16px !important;
}

.f161 {
    font-size  : 16px !important;
    font-family: 'Montserrat-Black';

}

.f1612 {
    font-size     : 16px !important;
    font-family   : 'Montserrat-Black';
    /* margin-left: -4% !important; */
}

.bold {
    font-weight: 900 !important;
    color      : #000;
}

.border1 {
    border-radius: 6px 0px 0px 6px !important;
    height       : 38px !important;
}

.border2 {
    border-radius: 0px 6px 6px 0px !important;
    height       : 38px !important;
}

.orline {
    border-bottom: 1px solid #ccc !important;
    float        : left;
    margin-top   : 10px !important;
}

.cuponBtn {
    padding         : 5px;
    font-size       : 12px;
    height          : 38px;
    background-color: #033554 !important;
    color           : #fff !important;
}

.currencyColor {
    color      : #000000;
    text-align : left;
    font-family: 'Montserrat-Medium';
}

.currencyColor11 {
    color      : #000000;
    text-align : left;
    opacity    : 0.4;
    font-family: 'Montserrat-Medium';
    font-weight: 600;
}

.currencyColor12 {
    letter-spacing: 0px;
    color         : #E88686;
    opacity       : 1;
}

.currencyColor121 {
    letter-spacing: 0px;
    color         : #E88686;
    opacity       : 0.4;
}

.currencyColor1 {
    color: #3E9D5E !important;
}

.checkoutCurrencyWrapper {
    right: -20% !important;
}

.checkoutCurrencyWrapper2 {
    right: -11% !important;
}

.addressWrapper {
    height: auto;
}

.headerH {
    max-height: 100px !important;
}

.modalHeader {
    background-color       : #033554;
    border-bottom          : 0px !important;
    border-top-left-radius : 19px !important;
    border-top-right-radius: 19px !important;
}

.modalHeaderM {
    background-color       : #033554;
    border-bottom          : 0px !important;
    border-top-left-radius : 19px !important;
    border-top-right-radius: 19px !important;
    padding-bottom         : 45px !important;
}

.close1 {
    font-size       : 24px !important;
    /*opacity       : 1 !important;*/
    color           : #fff;
    /*border-radius : 3px;*/
    font-weight     : 100;
    padding         : 0px 5px !important;
    background-color: #033554 !important;
    /*margin-right  : 20px;*/
    border          : 1px solid #033554 !important;
    vertical-align  : text-top !important;
    text-align      : top !important;
    margin-top      : 0px !important;
}

.modalT {
    font-size  : 12px !important;
    font-weight: 300 !important;
    margin-top : 12px !important;
}

.formcontrol1 {
    border       : none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
}

.formcontrol1:focus {
    border       : none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
    outline      : none !important;
}



.modalBg {
    background-color          : #fff;
    padding-bottom            : 50px !important;
    border-bottom-left-radius : 19px !important;
    border-bottom-right-radius: 19px !important;
}

.listColor {
    color      : #333 !important;
    font-size  : 12px !important;
    font-weight: 200 !important;
    min-height : 300px;
    height     : auto;
}

.saveBtn {
    letter-spacing: 0px !important;
    color         : #FFFFFF !important;
    opacity       : 1 !important;

    height       : 47px !important;
    border-radius: 6px !important;
    background   : #033554 0% 0% no-repeat padding-box !important;
    box-shadow   : -3px 3px 6px #0000004D !important;
    border-radius: 6px !important;
    opacity      : 1 !important;
    border       : none !important;
}

.saveBtn:hover {
    color        : #000 !important;
    height       : 47px !important;
    border       : 1px solid lightgray !important;
    border-radius: 6px !important;

}

.addBTN {
    background-color  : #033554 !important;
    height            : 55px;
    font-size         : 12px;
    color             : #fff !important;
    border            : 1px solid #033554 !important;
    border-radius     : 4px !important;
    text-align        : center;
    padding           : 6px 20px;
    /* margin-top     : 5px !important; */
    -webkit-transition: 0.6s ease !important;
    transition        : 0.6s ease !important;
    font-weight       : 600 !important;
}

.form-control {
    border       : none !important;
    border-bottom: solid 1px #ced4da !important;
}

.addBTN1 {
    background-color  : #033554 !important;
    height            : 55px;
    font-size         : 12px;
    color             : #fff !important;
    border            : 1px solid #033554 !important;
    border-radius     : 4px !important;
    text-align        : center;
    padding           : 18px 20px;
    /* margin-top     : 5px !important; */
    -webkit-transition: 0.6s ease !important;
    transition        : 0.6s ease !important;
    font-weight       : 600 !important;
}

.modalBodyRadius {
    border-radius: 19px !important;
}

.modalContent {
    border-radius: 25px !important;
}

.modalContentM {
    border-radius: 25px !important;
    margin-bottom: 45px !important;
}

.modal-content {
    border-radius: 3px !important;
}

.cartTitle {
    font-size     : 36px;
    margin-left   : 41px;
    margin-top    : 15px;
    font-family   : 'Montserrat-Bold';
    color         : #000000;
    opacity       : 1;
    letter-spacing: 0px;
}

.errorMsg {
    font-size: 10px;
    color    : #f00;
}

.singleRow {
    /* border: 0.5px solid lightgray; */
}

.dumySpan {
    color: #fff !important;
}

.GrandTotalBoxMobileView {
    min-height         : 420px !important;
    height             : auto;
    /* background-color: aquamarine; */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .pnHidden {
        color: #fff !important;

    }

    .pnHidden1 {
        color: #000000 !important;

    }

    .singleRow {
        border: none !important;
    }

    .f1612 {
        font-size  : 16px !important;
        font-family: 'Montserrat-Black';
        margin-left: -4% !important;
    }

    .modalLogoWrapper {
        position   : absolute;
        height     : 29px !important;
        margin-left: -128px;
        margin-top : -4px !important;
    }

    .f11N {
        font-size     : 11px !important;
        font-family   : 'Montserrat-Medium';
        letter-spacing: 0px;
        opacity       : 1;
        color         : #000000 !important;

    }
}

@media (min-width: 640px) {
    .modalLogoWrapper {
        position      : absolute;
        height        : 29px !important;
        /* margin-left: -128px; */
        margin-top    : -2px !important;
    }

    .GrandTotalBoxMobileView {
        min-height  : 420px !important;
        height      : auto;
        margin-right: 85px !important;
    }

    .f13N {
        font-size  : 12px ! important;
        color      : #000;
        margin-top : -6px;
        margin-left: -29px !important;
    }

    .f13NE {
        font-size     : 12px ! important;
        color         : #000;
        margin-top    : -6px;
        /* margin-left: -29px !important; */
        letter-spacing: 0px;
        color         : #000000 !important;
        text-transform: capitalize;
        opacity       : 0.6;
        font-family   : 'Montserrat-Medium';
        font-weight   : 500;
    }

    .f13NTerms {
        font-size  : 12px ! important;
        color      : #000;
        margin-top : -6px;
        margin-left: 0px !important;
    }

    .f13N1 {
        font-size  : 12px ! important;
        color      : #000;
        margin-top : -6px;
        margin-left: 11px !important;
    }

    .f13N2 {
        font-size  : 12px ! important;
        color      : #000;
        margin-top : -6px;
        margin-left: 0px !important;
    }

    .addBTN {
        background-color  : #033554 !important;
        height            : 55px;
        font-size         : 12px;
        color             : #fff !important;
        border            : 1px solid #033554 !important;
        border-radius     : 4px !important;
        text-align        : center;
        padding           : 6px 20px;
        /* margin-top     : 5px !important; */
        -webkit-transition: 0.6s ease !important;
        transition        : 0.6s ease !important;
        font-weight       : 600 !important;
        margin-right      : 0px !important;
    }
}

.disccountCoupnWrapper {
    letter-spacing: 0px;
    color         : #000000 !important;
    text-transform: capitalize;
    opacity       : 0.6;
    font-family   : 'Montserrat-Medium';
    font-weight   : 500;
}

.creditColorCheckout {
    letter-spacing: 0px;
    color         : #DC1919;
    text-transform: capitalize;
}

.selectShippingTitle {
    margin-left: -6px !important;
}

@media only screen and (min-width: 1200px) {
    .totalAmountWrapper {
        margin-left: 56px;
    }

}

@media only screen and (min-width: 1300px) {
    .totalAmountWrapper {
        margin-left: 70px;
    }

}

@media only screen and (min-width: 1600px) {
    .totalAmountWrapper {
        margin-left: 90px;
    }

}

@media only screen and (min-width: 1920px) {
    .totalAmountWrapper {
        margin-left: 102px;
    }

}