.item_Name{
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Montserrat-Regular';
}
.item_Name:hover{
    text-decoration: none !important;
}
.dealsBlock img{
    height: 250px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
}
@media (min-width: 1920px){
    .dealsBlock img{
        height: 368px;
    }
    .dealsBlock{
        margin-top: 3rem!important;
    }
    .item_Name{
        font-size: 19px;
    }
}