.item_Name{
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.dealsBlock img{
    height: 250px;
    width: 100%;
    cursor: pointer;
}