.item_Name{
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat-Medium';
}
.item_Name:hover{
    text-decoration: none !important;
}
.dealsBlock img{
    height: 250px;
    width: 100%;
    cursor: pointer;
}
@media (min-width: 1920px){
    .dealsBlock img{
        height: 250px;
    }
    .dealsBlock{
        margin-top: 2rem!important;
    }
    .item_Name{
        font-size: 20px;
        margin-top: 15px;
    }
}