@font-face {
  font-family:'Montserrat-Medium';
  src: url('../../Themes/Sampurna/fonts/Montserrat-Medium.ttf');
}

.accUserDetails h6 {
    font-size: 14px !important;
}

.accUserDetails p {
    font-size: 14px !important;
}

.contactInformationWrapper {
    border       : 1px solid #033554;
    border-radius: 19px;
}

.accountDashBoardwrapper {
    min-height         : 300px;
    /* background-color: aqua; */
}

.addressBookMainWrapper {
    min-height         : 300px;
    /* background-color:red; */
}

.accountDashBoardInnerwrapper {
    min-height      : 230px;
    background-color: white;
    border          : 1px solid #033554;
    border-radius   : 19px;
}

.asterikSign{
    color: #DC1919;
}

.editAccInputWrapper input {
    border       : none !important;
    border-radius: 0px !important;
    border-bottom: 0.5px solid lightgrey !important;
}

.editAccInputWrapper input:focus {
    border       : none !important;
    border-radius: 0px !important;
    border-bottom: 0.5px solid lightgrey !important;
}

.emailPwdWrapper {
    position: absolute;
    top     : 55px;
    left    : 93%;
}

.accountInformationMainWrapper h4 {
    font-family: 'Montserrat-Bold';
    color      : #000000;
}

.editAccInputWrapperInner i {
    position: absolute;
    left    : 20px;
    top     : 4px;
}

/* .horizontalLine{
    border-bottom: solid 1px #ddd;
} */
.box {
    background-color: white;
    border          : 2px solid #033554;
    border-radius   : 12px;
    width           : 100%;
    min-height      : 250px;
    color           : black;
}

.editAccountFont{
    font-family: "Montserrat-SemiBold";
}


@media only screen and (min-device-width: 1536px) {
    .editAccountTitle{
        font-size: 30px;
        font-family: "Montserrat-Bold";
    }
}    



@media only screen and (min-device-width: 1920px) {
    .editAccountTitle{
        font-size: 37px;
    }

    .editAccountFont{
        font-family: "Montserrat-Medium";
        font-size: 16px;
    }

}