.NoAvailableImg {
	/*width:214px !important;*/
	height: 100%;
}

.itemImg {
	min-width    : 90% !important;
	max-width    : 0%;
	min-height   : 70% !important;
	border       : solid 1px #ddd;
	border-radius: 20px;
}

.categoryName {
	position      : absolute;
	top           : 187px;
	text-align    : center;
	color         : #000;
	letter-spacing: 0px;
	font-family   : 'Montserrat-Bold';
}

.itemImg div {
	min-width: 100% !important;
}

.outerBox {
	min-width: 100% !important;
}

.itemImg img {
	background-size: 100% 100% !important;
	min-width      : 100% !important;
	border-radius  : 18px !important;
}

.react-multi-carousel-item::before {
	content           : "";
	position          : absolute;
	top               : 0px;
	right             : 0px;
	bottom            : 0px;
	left              : 0px;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color  : rgba(0, 0, 0, 0.25);
}

.categoryCarousel{
	
}