@import '../fonts/font.css';

:root {

	--bannerTitle   : 64px;
	/* --bannerTitle: 4.685vw; */
	/* --bannerTitle: 4rem; */

	--bannerSubTitle   : 32px;
	/* --bannerSubTitle: 2.343vw; */
	/* --bannerSubTitle: 2rem; */

	--bannerDescription   : 20px;
	/* --bannerDescription: 1.464vw; */
	/* --bannerDescription: 1.25rem; */


	--blockTitle   : 46px;
	/* --blockTitle: 3.367vw; */
	/* --blockTitle: 2.875rem; */

	--blockSubTitle   : 22px;
	/* --blockSubTitle: 1.611vw; */
	/* --blockSubTitle: 1.375rem; */

	--blockDescription   : 20px;
	/* --blockDescription: 1.25rem; */
	/* --blockDescription: 1.464vw; */


	--repBlockTitle   : 22px;
	/* --repBlockTitle: 1.611vw; */
	/* --repBlockTitle: 1.375rem; */

	--repBlockSubTitle   : 18px;
	/* --repBlockSubTitle: 1.318vw; */
	/* --repBlockSubTitle: 1.125rem; */

	--repBlockDescription   : 16px;
	/* --repBlockDescription: 1.171vw; */
	/* --repBlockDescription: 1rem; */


	--formTitle   : 34px;
	/* --formTitle: 2.489vw; */
	/* --formTitle: 2.125rem; */

	--formSubTitle   : 16px;
	/* --formSubTitle: 1.171vw; */
	/* --formSubTitle: 1rem; */

	--formDescription   : 14px;
	/* --formDescription: 1.025vw; */
	/* --formDescription: 0.875rem; */


	--globalLink: #fff;

}


body {
	font-family: 'Montserrat' !important;
}


.bannerTitle {
	font-size  : var(--bannerTitle) !important;
	font-weight: 800;
}

.bannerSubTitle {
	font-size  : var(--bannerSubTitle) !important;
	font-weight: 600;
}

.bannerDescription {
	font-size  : var(--bannerDescription) !important;
	font-weight: 400;
}


.blockTitle {
	font-size   : var(--blockTitle) !important;
	/* font-size: calc(100% + 1.7vw + 1.7vh); */
	font-weight : 400;
	text-align  : center;
}

.blockSubTitle {
	font-size  : var(--blockSubTitle) !important;
	font-weight: 400;
}

.blockDescription {
	font-size   : var(--blockDescription) !important;
	/* font-size: calc(100% + 0.33vw + 0.33vh); */
	font-weight : 400;
	line-height : 1.4;
}


.repBlockTitle {
	font-size  : var(--repBlockTitle) !important;
	font-weight: 400;
}

.repBlockSubTitle {
	font-size  : var(--repBlockSubTitle) !important;
	font-weight: 400;
}

.repBlockDescription {
	font-size  : var(--repBlockDescription) !important;
	font-weight: 400;
}


.formTitle {
	font-size: var(--formTitle) !important;
}

.formSubTitle {
	font-size: var(--formSubTitle) !important;
}

.formDescription {
	font-size: var(--formDescription) !important;
}


.marker a {
	color : var(--globalLink) !important;
	cursor: pointer;
}