
.productsCategoryBlock a{
    text-decoration: none !important;
}
.categoryCarousel{
    margin-bottom: 20px;
}
.categoryName{
    font-size: 15px;
    text-decoration: none !important;
    color: #333;
}
.categoryBlock{
    text-decoration: none !important;
}
.categoryPhoto{
    display: grid !important;
}