
.productsCategoryBlock a{
    text-decoration: none !important;
}
.categoryCarousel{
    /* margin-bottom: 20px; */
}
.categoryName{
    font-size: 16px;
    color: #fff;
    font-weight:bold !important;
    position:absolute;
    top:40px;
}
.categoryName:hover{
    color: lightcoral;
    text-decoration: none !important;
}
.categoryBlock:hover {
    text-decoration: none !important;
}
.categoryPhoto{
    display: grid !important;
}

.react-multi-carousel-item::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*background-color: rgba(0,0,0,0.7);*/
    background-color: rgba(0,0,0,1);
}


.itemImg img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*background-color: rgba(0,0,0,0.7);*/
    background-color: rgba(0,0,0,1);
}
