@font-face {
  font-family: 'Montserrat-Bold';
  src        : url('../../../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src        : url('../../../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src        : url('../../../fonts/Montserrat-SemiBold.ttf');
}
.newDealTitle{
  font-size: 22px;
  font-family: 'Montserrat-ExtraBold';
}
.realtivePossion{
  position: relative;
}
.noImgBackImg{
  width: 50%;
}
.imgEffect{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 47px;
    background: transparent linear-gradient(0deg, #000000 0%, #0B0B0BDD 36%, #54545400 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 7px 7px;
}
.alertMessage{
    position: fixed;
    z-index: 1000;
    top: 25px !important;
    right: 42px !important;
    display: block;
}

.categoryBlockWrapper{
    margin-top: 35px;
}
.secssionMargin{
  /*margin-top: 20px;
  margin-bottom: -15px;*/
}
.carouselNewWrapper{
  /*padding: 14px !important;*/
}


.breadCrumbs {
  background-color: #efefef;
  padding         : 25px;
}

.breadCrumbs ul {
  margin-bottom: 0px !important;
}

.links li {
  display        : inline-block;
  list-style     : none;
  padding        : 5px 0px;
  text-decoration: none;
}

.offTxt {
  font-size: 7px;
}

.links li a {
  text-decoration: none;
  color          : #333;
  font-size      : 16px;
}

/* ---------- rightside flter -----------  */
.rightSidefilter {
  margin-top: 33px;
}

.sortProducts,
.limitProducts {
  border          : solid 1px #eee !important;
  padding         : 10px !important;
  background-color: transparent;
}

.limitProducts option {
  line-height: 20px !important;
}

.selectOption {
  line-height: 20px !important;
}

.loadingBlock {
  height: 400px;
}

.react-multi-carousel-track {
  list-style: none !important;
}

.singleProduct {
  /* background-color: yellow; */
  padding-left : 5px;
  padding-right: 5px;
}

.priceDivProduct {
  color: #333 !important;
}

.transDivEcommerce {
  background-color: #333;
  position        : absolute;
  margin-top      : -365px !important;
  height          : 300px;
}

.optionDiv {
  height             : 55px;
  opacity            : 0;
  padding-right      : 22px !important;
  padding-left       : 40px !important;
  margin-top         : -40px;
  transition-duration: 0.7s;

}

.ecommerceProduct:hover .optionDiv {
  transform          : translate(0px, -80px);
  opacity            : 1;
  transition-duration: 0.7s;

}

.cartButton1 {
  height      : 48px;
  font-size   : 18px;
  text-align  : center;
  margin-right: 10px;
  cursor      : pointer;
}

.offerDetails {
  background-color: transparent;
  height          : 25px;
  padding-top     : 3px;
  color           : #fff;
  font-size       : 13px;
  font-weight     : bold;
}

.ecommerceCollage {
  background    : #fff;
  box-shadow    : 0 2px 4px 0 rgba(0, 0, 0, .08);
  padding-bottom: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.productcomponentheading {
  padding      : 0px !important;
  margin-bottom: 0px;
  margin-top   : 0px;
}

.producttextclass {
  border-bottom: 2px solid #555;
  margin       : 0px !important;
  color        : #555;
  text-align   : left;
  width        : auto;
}

.producttimer li {
  display        : inline-block;
  list-style-type: none;
  padding-right  : 1em;
  text-transform : uppercase;
  color          : #777;
  font-weight    : 700;
}

.producttimerdiv {
  background-color: #F7F7F7;
  padding         : 5px 10px;
  border-radius   : 5px;
}

.producttimer ul {
  margin-bottom : 0px;
  padding-bottom: 0px;
  text-align    : center;
  font-size     : 16px;
}

.productcarotext1 {
  white-space  : nowrap;
  overflow     : hidden !important;
  text-overflow: ellipsis;
  cursor       : pointer;
  text-align   : center;
}

.productcarotext1:hover {
  color: #FBBD65 !important;
}

.productcarotext1:focus {
  color: #FBBD65 !important;
}

.discounttag {
  position              : absolute;
  /* background-color   : var(--Discountcolor) !important; */
  /* background-image   : url("/images/eCommerce/OfferTag.png"); */
  background-image      : url("/images/eCommerce/OfferTag.svg");

  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: 100% 100%;
  color              : var(--whiteColor) !important;
  z-index            : 10;
  border-radius      : 3px;
  /* padding-top     : 10px; */
  width              : 64px;
  height             : 67px;
  font-size          : 13px;
  font-weight        : 700;
  white-space        : nowrap;
  margin-top         : 0px;
  text-align         : center !important;
  padding-top        : 7px;
  top                : -7px;
}

.labelCategory {
  font-size          : 12px;
  margin-top         : -40px;
  /* background-color: #ddd; */
  cursor             : pointer;
}

.pcButtonwrapper {
  height          : 32px;
  font-size       : 12px;
  background-color: #CBCBCB;
  color           : #000;
  border-radius   : 6px;
  outline         : none !important;
  box-shadow      : none;
  border          : none !important;
}


.ratebox {
  line-height     : normal;
  display         : inline-block;
  color           : #fff;
  padding         : 2px 4px 2px 6px;
  border-radius   : 3px;
  font-weight     : 500;
  font-size       : 12px;
  vertical-align  : middle;
  background-color: #388e3c;
  /*width         : 40px;*/
}

.sortLable {
  margin-top: 10px;
}

.ecommerceTabContent,
.carouselWraper,
.carouselInnerBlock1 {
  padding-left : 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card {
  border: 1px solid #f1f2f2;
}

.item-top {
  text-align: center;
}

.ImgWrapper {
  height    : 175px;
  margin-top: 20px;
}

.wishlistBtn {
  /* margin-top: 20px; */
  z-index : 1;
  position: absolute;
}

.productImg {
  overflow: hidden;
  height  : auto;
  z-index : 0 !important;
}

.productImg a {
  display      : grid;
  text-align   : center;
  /*padding-top: 20px;*/
  outline      : 0px;
}

.noAvailableImg {
  display   : block;
  text-align: center;
  outline   : 0px;
  width     : 100%;
}

.NoAvailableImg {
  /* width: 100%; */
  background-image       : url("/images/eCommerce/productloader.gif");
  background-size        : contain;
  background-repeat      : no-repeat;
  border-top-left-radius : 15px;
  border-top-right-radius: 15px;
  margin                 : auto !important;
  /* padding-top         : 10px!important; */
  position               : relative;
  top                    : 5px;
  margin-bottom          : 10px !important;
  padding                : 8px !important;
}

.sizeUnitName {
  font-size: 12px;
  font-family: "Montserrat-Regular";

}

.NoAvailableImg1 {
  /* width: 100%; */
  background-image       : url("/images/eCommerce/productloader.gif");
  background-size        : contain;
  background-repeat      : no-repeat;
  border-top-left-radius : 15px;
  border-top-right-radius: 15px;
  /* margin-left         : 32px!important;
  margin-top             : 52px!important; */
}

.hoveractions1 a {
  display    : block;
  text-align : center;
  padding-top: 20px;
  color      : #fff;
}

.productImg .hoveractions1 {
  z-index           : 9999;
  margin            : 0;
  position          : absolute;
  left              : 0;
  right             : 0;
  bottom            : 0;
  top               : 0;
  height            : 263px;
  background        : rgba(128, 125, 116, 0);
  text-align        : center;
  visibility        : hidden;
  transform         : scale(0);
  -webkit-transition: all .5s ease-out 0s;
  -moz-transition   : all .5s ease-out 0s;
}

.productImg:hover .hoveractions1 {
  /*background: rgba(0,0,0,0.5);*/
  visibility        : visible;
  transform         : scale(1);
  -webkit-transition: all .5s ease-out 0s;
  -moz-transition   : all .5s ease-out 0s;
  width             : 84%;
  left              : 20px;
  height            : 187px;
  top               : 5px;
}


.innerDiv {
  padding   : 0px 0px 0px 0px;
  text-align: center;
}

.innerDiv a {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  width        : 100%;
}

.innerDiv a:hover {
  color          : #A2632C !important;
  text-decoration: none;
}

.bracket {
  font-weight: bold;
}

.disscountDetails span,
.disscountDetails .fa-inr {
  font-size: 10px !important;
}

.globalProductItemName {
  height: 25px;
}

.globalProdName {
  height       : 25px;
  margin-bottom: -10px;
  font-size    : 14px;
  /* cursor    : pointer; */
}

.priceWrapper {
  height : 28px;
  /* margin-bottom: 15px; */
}

.price {
  font-size  : 14px;
  font-weight: 600;
  /*color    : #DC1919 !important;  */
  color      : #000 !important;
  height     : 30px;
}

.oldprice {
  font-size            : 12px;
  color                : #aaa !important;
  text-decoration      : line-through;
  text-decoration-color: #DC1919;
}

.product_brand {
  color        : #555;
  font-size    : 12px;
  font-weight  : 700;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  width        : 100%;
  height       : 17px;
}

.producttextclass h3 {
  font-size: 18px !important;
}

.producttimerposition {
  position: absolute;
  top     : 18px;
  left    : 684px;
}

.producttimerposition1 {
  top: 12px;
}

.addtocartbtn:before {
  font-family   : "Font Awesome 5 Free";
  content       : "\f07a";
  display       : inline-block;
  padding-right : 3px;
  vertical-align: middle;
  font-weight   : 900;
}

.product_item_photo Image {
  border : none !important;
  padding: 45px !important;
  filter : drop-shadow(3px 3px 3px #888) !important;
}

.productInnerWrap {
  transition: .4s ease;
}

.productWrapper {
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  margin-bottom: 25px;
}

.productListWrapper {
  margin-top       : -17px;
  border-top       : solid 1px #eee;
  /* padding-bottom: 20px; */
}

.filterWrapper {
  margin-top: 20px;
}

.ProductViewWrapper {
  padding-bottom: 20px;
  background    : #f9f9f9;
  /* box-shadow : 0px 0px 0px 2px #00000029; */
  /* box-shadow    : 0px 0px 5px 0px #aaaaaa; */
}

.productCaroselBlock {
  border       : 1px solid #ddd;
  margin-top   : 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 260px;
  border-radius: 15px;
  box-shadow: -3px 3px 6px #00000059;
}

.productBlock {
  /* border       : 1px solid #ddd; */
  border-radius: 19px;
  margin-top   : 5px;
  margin-bottom: 5px;
  background   : #fff;
  box-shadow   : -3px 3px 6px #00000059;
  /* height    : 300px; */
}

.productDetailVendorName {
  font-size       : 13px;
  background-color: #f6f6f6 !important;
}

.vendorName {
  font-size: 12px;
}
.chaneVendorBtn{
  padding-right: 60px;
}
.chaneVendorBtn a {
  text-decoration: underline;
  font-family: 'Montserrat-Regular';
  /* margin-left : 74.9%; */
  color          : #033554 !important;
}

.chaneVendorBtn a:hover {
  color: #033554 !important;
}

.availablesize {
  padding         : 0 10px !important;
  text-transform  : uppercase !important;
  font-size       : 12px !important;
  border          : 1px solid #80b435 !important;
  font-weight     : 400 !important;
  border-radius   : 5px;
  background-color: #fff;
  height          : 30px;
  margin-left     : -3px;
}

.addtocartbtn {
  height        : 26px;
  padding-top   : 5px;
  padding-bottom: 7px;
  border        : 1px solid #A2632C;
  border-radius : 15px;
  width         : 140px;
  margin-top    : 10px;
  color         : #A2632C;
}

.homeCart {
  /* margin-top: 5px; */
  padding      : 0px 14px;
  font-weight  : bold;
  font-size    : 12px;
  border       : 1px solid #80b435;
  border-radius: 5px;
  color        : #80b435;
  height       : 30px;
  background   : #fff;
}

.homeCart:hover {
  background: #80b435;
  color     : #fff;
}

.marathiName {
  font-family  : 'aps_dev_priyanka' !important;
  font-weight  : 700;
  font-size    : 13px;
  height       : 30px;
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
  display      : block;
  margin-top   : -15px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
  display      : block;
  font-size    : 14px;
  font-family: 'Montserrat-Regular';
}

.wishIcon {
  margin-top      : 5px;
  padding         : 0px 0px;
  font-weight     : bold;
  font-size       : 12px;
  border          : transparent;
  z-index         : 1;
  /* border-radius: 15px; */
  /* color        : #80b435; */
  background      : transparent;
  /* position        : absolute; */
  /* left            : 80%; */
  top             : 0%;
  font-size       : 20px;
  font-weight     : 700;
}

.exclusiveProduct .owl-nav button.owl-next {
  /* display: none; */
  margin-left: 1220px !important;
}

.NoPadding {
  padding-left : 0px !important;
  padding-right: 0px !important;
}

.custom-container {
  height    : 100px;
  width     : 100%;
  background: #fff;
  position  : absolute;
  color     : #000;
}

.modal-content {
  border-radius: 0px !important;
}

.modal-header img {
  height: 20px;
}
/* css for filters */
.categoryFilterTitle {
  font-size          : 16px;
  padding            : 20px 28px;
  font-weight        : 900 !important;
  border-bottom      : solid 1px #ddd;
  background         : #F9F9F9 0% 0% no-repeat padding-box;
  box-shadow         : 0px 3px 6px #00000029;
  opacity            : 1;
  letter-spacing     : 0px;
  font-family        : 'Montserrat-Bold' !important;
}

.pcSubCatFlterWrapper {
  box-shadow: 5px 0 5px -5px #333;
}

.activeSubCategory {
  /*background-color: #FFC0CB !important;*/
  background-color: #033554 !important;
}

.activeSubCategory a {
  color: #fff !important;
}

.filterBlockWrapper {
  border       : solid 1px #eee;
  /* height       : max-content; */
  /* box-shadow: 3px 3px 3px #00000030; */
  box-shadow: 4px 3px 6px #00000029;
  z-index      : 999 !important;
}

.accordion {
  background-color: #eee;
  color           : #444;
  cursor          : pointer;
  padding         : 18px;
  width           : 100%;
  border          : none;
  text-align      : left;
  outline         : none;
  font-size       : 15px;
  transition      : 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content    : '\002B';
  color      : #777;
  font-weight: bold;
  float      : right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panelCategory {
  padding         : 0 18px;
  background-color: white;
  max-height      : 0;
  overflow        : hidden;
  transition      : 0.2s ease-out;
}

.centreDetaillistItemEcommerce {
  font-size: 15px !important;
}

.panelHeading {
  padding      : 2px 10px;
  cursor       : pointer;
  border-bottom: solid 0.5px #eee;


}

.panelHeading span {
  margin-left: 50px;
  margin-top : -24px;
  font-size  : 14px;
  color      : #000;
  /* font-weight: 500 !important; */
  /*font-family        : 'Montserrat-Bold' !important;*/

}

.panelHeading input {
  margin-left: 10px;
}

.panelHeading h4 a {
  margin-left    : 57px;
  font-size      : 14px;
  text-decoration: none !important;
  color          : #000;
  font-weight    : 500;
  display        : inline-block;
  /*font-family :'Montserrat'!important;*/
}

.panelHeading h4 {
  /* margin-left: 72px!important; */

}

.vendorNameWrapper {
  font-size: 13px;
  padding-left: 45px;
}

.changeVendorWrapper {
  margin-left: 10px;
}

.categoryUl {
  list-style-type: none;
  margin-top     : -10px;
}

.subCategorylia {
  color          : black !important;
  text-decoration: none !important;
  font-size      : 15px;
}

.subcategoryLi {
  /* padding:10px; */
  margin-top: 10px;
  cursor    : pointer;
}

.panel-body {
  padding-left: 0px;
}

.morecontent span {
  display: none;
}

.comment {
  width           : 400px;
  background-color: #f0f0f0;
  margin          : 10px;
}

/* input[type=text]:focus {
  width: 250px;
} */
.productNotAvailable {
  height             : 400px;
  background-image   : url("/images/eCommerece/book.gif");
  background-position: center;
  font-size          : 20px;
  text-align         : center;
}

.textAlign {
  text-align: center;
}

.line {
  position          : absolute;
  height            : 2px;
  width             : 0%;
  background-color  : #fff;
  /*background-color: #ff4157;*/
  /*margin          :0 auto;*/
  /*margin-bottom   : 45px;*/
  bottom            : 0;
  top               : 30;
}

.title4 .line .span {
  position        : absolute;
  height          : 2px;
  width           : 80px;
  background-color: #ff4157;
  margin-bottom   : 35px;
  top             : 6px;
  margin          : auto;
  left            : 0;
  right           : 0
}

.title4 .line .span:after,
.title4 .line .span:before {
  position        : absolute;
  height          : 2px;
  width           : 6px;
  content         : "";
  background-color: #ff4157;
  top             : 0px
}

.title4 .line .span:after {
  right: -10px
}

.title4 .line .span:before {
  left: -10px
}

.title_inner4 {
  font-weight      : 600;
  line-height      : 1;
  /* text-transform: uppercase; */
  letter-spacing   : 0.02em;
  font-size        : 36px;
}
.panelCategory {
  border-bottom: solid 1px #ccc;
}

.brandFilterInput {
  height: 15px ;
  width : 15px ;
}

.brandInput {
  padding: 3px 0px;
}

.react-multiple-carousel__arrow::before {
  font-size  : 14px !important;
  right      : 0px;
  color      : #ccc !important;
  display    : block;
  font-family: revicons;
  text-align : center;
  z-index    : 2;
  position   : relative;
}

.react-multiple-carousel__arrow {
  background: none;
  min-width : 30px;
  min-height: 30px;
}

.wishlistBlockBorder {
  border       : 1px solid #707070;
  border-radius: 19px;
  opacity      : 1;
}

.titleFont {
  font-size    : 18px !important;
  text-align   : center !important;
  margin-bottom: 10px;
  font-family: 'Montserrat-ExtraBold';
  text-align: left!important;

}

.titleFont1 {
  font-size    : 18px !important;
  text-align   : center !important;
  margin-bottom: 0px;
  font-family: 'Montserrat-ExtraBold';
  text-align: left!important;
}

.f14 {
  font-size  : 14px;
  margin-left: -60px;
}
.categoryFilterTitle{
    font-size: 15px;
  }
  .panelHeading h4 a, .panelHeading span{
    margin-left    : 35px;
    font-size      : 13px;
    font-weight    : 100;
    margin-top     : -30px;
    font-family: 'Montserrat-Regular';
  }
  .panelHeading{
    padding: 18px 0px 12px 30px;
  }
  .brandFilterInput {
    height: 20px;
    width: 20px;
  }
  .brandInput{
    margin-top: 10px;
  }
  .f14 {
    font-size: 15px;
    margin-left: -80px;
    font-family   : 'Montserrat-Regular';
  }
  .labelCategory {
    font-size : 15px;
    
  }
  .labelCategory .yk16xz{
    background-color: #C2C1C1!important;
  }
  .ellipsis {
    font-size: 16px;
  }
  .price{
    font-size: 15px;
    font-family   : 'Montserrat-SemiBold';
  } 
  .addcartBtnWraper button{
  font-family   : 'Montserrat-Regular';
  font-weight: 500;
}

  .vendorNameWrapper{
    font-size: 13px;
  }
  .venderName{
  font-family   : 'Montserrat-Regular';
  }
  .venderName2{
    font-family   : 'Montserrat-Medium';
  }
@media only screen and (max-device-width: 480px) {
  .mobileViewPadding {
    padding-left : 5px !important;
    padding-right: 5px !important;
  }
  .productDetailVendorName {
    font-size: 10px;
  }  
  .card {
    border      : 1px solid #f1f2f2;
    height      : 385px;
    padding     : 0px;
  }
  .vendorNameWrapper{
    font-size: 12px;
     padding-left: 15px;
  }
  .chaneVendorBtn{
    padding-right: 15px;
  }
  .chaneVendorBtn{
    font-size: 12px;
  }
  .f14{
    margin-left: -70px;
  }
  .panelHeading a,
  .panelHeading span{
    margin-left: 25px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */



@media (min-width: 480px) and (max-width: 767px) {  
  .chaneVendorBtn{
      padding-right: 30px;
  }
  .chaneVendorBtn a{
    font-size: 12px;
  }
  .vendorNameWrapper{
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {  
  .categoryFilterTitle{
      font-size: 14px;
  }
  .chaneVendorBtn{
      padding-right: 0px;
  }
/*  .chaneVendorBtn a{
    font-size: 13px;
  }*/
  .vendorNameWrapper{
    padding-left: 0px;
  }
  .discounttag{
      margin-top: -6px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px){
  
  .vendorNameWrapper{
    padding-left: 30px;
  }
  .chaneVendorBtn{
    padding-right: 28px;
  }

}


@media (min-width: 1280px) and (max-width: 1366px){
  .line {
    position          : absolute;
    height            : 2px;
    /*width             : 100%;
*/    background-color  : #000;
    /*background-color: #ff4157;*/
    /*margin          :0 auto;*/
    /*margin-bottom   : 45px;*/
    bottom            : 0;
    top               : 32px;

  }

  .titleFont {
    font-size       : 35px !important;
    text-align      : left !important;
    /* overflow     : hidden!important; */
    color           : #000 !important;
  /*  margin-left     : 80px;*/
  }

  .titleFont1 {
    font-size       : 35px !important;
    text-align      : left !important;
    /* overflow     : hidden!important; */
    color           : #000 !important;
    /* margin-left     : 80px;*/
  }

  .sortPbWrapper {
    margin-left: 82% !important;
  }

  .rightSidefilter {
    margin-top: 28px;
  }
}

@media (min-width: 1440px) and (max-width: 1680px) {  
  .categoryFilterTitle{
    font-size: 18px;
  }
  .panelHeading h4 a, .panelHeading span{
    margin-left    : 35px;
    font-size      : 16px;
    margin-top     : -36px;
  }
  .panelHeading{
    padding: 18px 0px 12px 30px;
  }
  .brandFilterInput {
    height: 20px;
    width: 20px;
  }
  .brandInput{
    margin-top: 10px;
  }
  .f14 {
    font-size: 16px;
    margin-left: -80px;
  }
  .labelCategory {
    font-size : 16px;
    background-color: #eee;
  }
  .ellipsis {
    font-size: 18px;
  }
  .price{
    font-size: 16px;
  } 
  .vendorNameWrapper{
    font-size: 14px;
    padding-left: 55px;
  }
  .titleFont1,.titleFont{
    font-size: 50px!important;
  }
  .line{
       /* width: 100%;*/
      background-color: #000;
          top: 45px;
  }
  .categoryblock .itemImg img {
      width: 260px;
      height: 240px;
  }
  .productCaroselBlock{
    width: 165px;
    height: 229px;
  }

  
  .productCaroselBlock .NoAvailableImg{
    top: 0px;
    width: 100%;
  }


}


@media (min-width: 1680px) and (max-width: 1919px) {  
  .panelHeading h4 a, .panelHeading span{
    margin-left    : 55px;
    font-weight    : 100;
    margin-top     : -36px;
  }
  .panelHeading{
    padding: 18px 0px 12px 30px;
  }
  .brandFilterInput {
    height: 20px;
    width: 20px;
  }
  .brandInput{
    margin-top: 10px;
  }
  .f14 {
    font-size: 16px;
    margin-left: -80px;
  }
  .labelCategory {
    font-size : 16px;
    background-color: #eee;
  }
  .ellipsis {
    font-size: 18px;
  }
  .price{
    font-size: 16px;
  } 
  .vendorNameWrapper{
    font-size: 16px;
    padding-left: 55px;
  }
  .titleFont1,.titleFont{
    font-size: 55px!important;
  }
  .line{
        /*width: 100%;*/
      background-color: #000;
          top: 50px;
  }
  .categoryblock .itemImg img {
      width: 280px;
      height: 260px;
  }
  .productCaroselBlock{
    width: 185px;
    height: 249px;
  }
}

@media (min-width: 1920px){  
  .panelHeading h4 a, .panelHeading span{
    margin-left    : 55px;
    font-size      : 18px;
    margin-top: -36px;
  }
  .panelHeading{
    padding: 18px 0px 12px 30px;
  }
  .brandFilterInput {
    height: 20px;
    width: 20px;
  }
  .brandInput{
    margin-top: 10px;
  }
  .ellipsis {
    font-size: 16px;
  }
  .vendorNameWrapper{
    font-size: 18px;
    padding-left: 55px;
  }
  .productBlock{
    height: 380px;

  }
  .chaneVendorBtn{
    padding-right: 95px;
  }
  .chaneVendorBtn a{
    font-size: 18px;
  }
}

@media (min-width: 1920px)  {
  .titleFont1,.titleFont{
    font-size: 62px!important;
    text-align: left!important;
  }
  .line{
       /* width: 100%;*/
      background-color: #000;
  }
  .productCaroselBlock{
    width: 205px;
    height: 270px;
  }
  .productCaroselBlock .NoAvailableImg{
    top: 0px;
    width: 100%;
  }
  .productCaroselBlock .ImgWrapper{
    height: 165px;
    margin-top: 40px;
  }
  .titleFont1{
    margin-bottom: 0px;
    /*margin-left: 140px;*/
  }
  .titleFont{
    margin-bottom: 10px;
    /*margin-left: 140px;*/
  }
  .line{
    top: 55px;
  }
  /*.categoryBlockWrapper .item_Name{
    font-size: 18px;
  }*/

}





/***********************************************************Media Query Written By Sanket*******************************************************/


@media only screen and (min-device-width: 320px) {

   .vendorNameWrapper {
    padding-left: 30px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 19px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 8px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 0px;
    left: 3px;
  }

  .productBlock{
    width: 281px;
    height: 312px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    width: 169px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 128px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 142px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 122px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
    margin-left: -9px;
  }

 }

 @media only screen and (min-device-width: 360px) {

  .vendorNameWrapper {
    padding-left: 30px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 25px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 3px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 8px;
    left: 3px;
  }

  .productBlock{
    width: 281px;
    height: 312px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 96px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 142px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 142px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
  }

 }

 @media only screen and (min-device-width: 375px) {

    .vendorNameWrapper {
    padding-left: 30px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 28px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 3px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 6px;
    left: 3px;
  }

  .productBlock{
    width: 281px;
    height: 348px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 86px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 183px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 172px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
    margin-left: -10px;
  }

 }

 @media only screen and (min-device-width: 414px) {

  .vendorNameWrapper {
    padding-left: 30px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 35px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 2px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 8px;
    left: 3px;
  }

  .productBlock{
    width: 281px;
    height: 348px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 63px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 183px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 172px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
  }

 }

   @media only screen and (min-device-width: 568px) {

    .vendorNameWrapper {
      padding-left: 6px;
    }

    .rightSidefilter {
      margin-right: 56px;
      margin-bottom: 23px;
    }

    .chaneVendorBtn {
      font-size: 9px;
      padding-right: 16px;
    }

   }


  @media only screen and (min-device-width: 640px) {

  .vendorNameWrapper {
    padding-left: 0px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 0px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 13px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 11px;
    left: 8px;
  }

  .productBlock{
    width: 361px;
    height: 360px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 28px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 118px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 209px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 209px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
  }

  }  

  @media only screen and (min-device-width: 667px) {

    .panelHeading {
      padding: 5px 0px 0px 0px;
    }

    .rightSidefilter {
      margin-right: 127px;
      margin-bottom: 23px;
    }

    .chaneVendorBtn {
      font-size: 9px;
      padding-right: 16px;
    }

   } 

  @media only screen and (min-device-width: 736px) {

  .vendorNameWrapper {
    padding-left: 0px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 1px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 12px;
    padding-left: 12px;
    top: -7px;
    left: 13px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 11px;
    left: 8px;
  }

  .productBlock{
    width: 361px;
    height: 360px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 28px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 144px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 209px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 209px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
  }

  }  

 @media only screen and (min-device-width: 768px) {

  .vendorNameWrapper {
    padding-left: 0px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 15px;
    padding-left: 12px;
    top: -7px;
    left: 13px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 2px;
    left: 1px;
  }

  .productBlock{
    width: 211px;
    height: 278px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 0px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 112px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 112px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 0px;
    margin-left: -10px;
  }

 }

  @media only screen and (min-device-width: 812px) {

  .vendorNameWrapper {
    padding-left: 0px;
  }

  }  

 @media only screen and (min-device-width: 1024px) {

  .vendorNameWrapper {
    padding-left: 28px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 9px;
    padding-right: 34px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 15px;
    padding-left: 12px;
    top: -7px;
    left: 13px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 2px;
    left: 1px;
  }

  .productBlock{
    width: 211px;
    height: 278px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 69px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 112px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 112px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading {
    padding: 5px 0px 0px 43px;
  }

 }  

@media only screen and (min-device-width: 1280px) {

  .vendorNameWrapper{
    padding-left: 46px;
  }

  .categoryFilterTitle{
    font-size: 14px;
  }

  .chaneVendorBtn {
    font-size: 13px;
    padding-right: 40px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
    width: 52%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 12px;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .discounttag{
    width: 71px;
    height: 72px;
    font-size: 9px;
    padding-top: 15px;
    padding-left: 12px;
    top: -7px;
    left: 13px;
    font-family: "Montserrat-Medium";
  }

  .offTxt {
    font-size: 9px;
  }

  .wishIcon{
    top: 2px;
    left: 1px;
  }

  .productBlock{
    width: 211px;
    height: 307px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
    font-family: "Montserrat-Regular";
  }

  .ellipsis {
    font-size: 15px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 11px;
    font-family: "Montserrat-SemiBold";
  }

  .price{
    font-size: 11px;
    font-family: "Montserrat-ExtraBold";
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 0px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 138px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 135px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 2px;
  }

  .panelHeading{
    padding: 12px 0px 0px 36px;
  }

}  

@media only screen and (min-device-width: 1366px) {

  .vendorNameWrapper{
    padding-left: 46px;
  }

  .categoryFilterTitle{
    font-size: 15px;
  }

  .chaneVendorBtn {
    font-size: 13px;    
    padding-right: 50px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 13px;
  }

  .discounttag{
    width: 71px;
    height: 73px;
    font-size: 10px;
    padding-top: 13px;
    padding-left: 15px;
    top: -7px;
    left: 15px;
  }

  .offTxt {
    font-size: 10px;
  }

  .wishIcon{
    top: 5px;
    left: 2px;
  }

  .productBlock{
    width: 221px;
    height: 320px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 16px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 12px;
  }

  .price{
    font-size: 12px;
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: 4px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 150px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 138px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 3px;
  }

  .panelHeading{
    padding: 12px 0px 0px 39px;
  }

} 

@media only screen and (min-device-width: 1440px) {

  .vendorNameWrapper{
    padding-left: 46px;
  }

  .categoryFilterTitle{
    font-size: 16px;
  }

  .chaneVendorBtn {    
    padding-right: 54px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 14px;
    padding-top: 4px;
  }

  .discounttag{
    width: 71px;
    height: 76px;
    font-size: 11px;
    padding-top: 12px;
    padding-left: 13px;
    top: -8px;
    left: 8px;
  }

  .offTxt {
    font-size: 11px;
  }

  .wishIcon{
    top: 5px;
    left: 2px;
  }

  .productBlock{
    width: 231px;
    height: 321px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -69px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 16px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 11px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 13px;
  }

  .price{
    font-size: 13px;
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: -5px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 150px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 140px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 4px;
  }

  .panelHeading{
    padding: 12px 0px 2px 44px;
  }

} 

@media only screen and (min-device-width: 1536px) {

  .categoryFilterTitle{
    font-size: 17px;
  }

  .chaneVendorBtn {    
    padding-right: 66px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 16px;
    width: 52%;
    padding-top: 4px;
  }

  .discounttag{
    width: 71px;
    height: 80px;
    padding-top: 11px;
    padding-left: 15px;
    font-size: 12px;
    top: -8px;
    left: 6px;
  }

  .offTxt {
    font-size: 12px;
  }

  .wishIcon{
    top: 5px;
    left: 2px;
  }

  .productBlock{
    width: 251px;
    height: 337px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -85px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 17px;
    color: #000;
  }

  .sizeUnitName{
    font-size: 12px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 14px;
  }

  .price{
    font-size: 14px;
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 45px;
  }

  .rightSidefilter {
    margin-right: -19px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 162px;
    margin-top: 20px;
  }

  .NoAvailableImg {
    height: 152px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 5px;
  }

  .panelHeading{
    padding: 12px 0px 0px 44px;
  }

}  

@media only screen and (min-device-width: 1680px) {

  .categoryFilterTitle{
    font-size: 18px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 17px;
  }

  .chaneVendorBtn {    
    padding-right: 80px;
  }

  .discounttag{
    width: 75px;
    height: 81px;
    font-size: 13px;
    padding-top: 12px;
    padding-left: 15px;
    top: -8px;
    left: 6px;
  }

  .offTxt {
    font-size: 13px;
  }

  .wishIcon{
    top: 5px;
    left: 2px;
  }

  .productBlock{
    width: 271px;
    height: 331px;
    margin: auto;
  }

  .f14 {
    font-size: 14px;
    margin-left: -68px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 17px;
  }

  .sizeUnitName{
    font-size: 13px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 15px;
  }

  .price{
    font-size: 15px;
  }

  .productBlock .ImgWrapper{
    margin-top: 42px;
  }

  .productWrapper {
    margin-bottom: 44px;
  }

  .rightSidefilter {
    margin-right: -35px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    padding: 6px;
    height: 34px;
  }

  .ImgWrapper{
    height: 153px;
    margin-top: 30px;
  }

  .NoAvailableImg {
    height: 155px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 6px;
  }

  .panelHeading{
    padding: 24px 0px 12px 34px;
  }

}

@media only screen and (min-device-width: 1920px) {

  .venderName2{
    font-size: 15px;
  }

  .chaneVendorBtn a{
    margin-top: 5px;
    font-size: 13px;
  }

  .chaneVendorBtn {    
    padding-right: 90px;
  }

  .categoryFilterTitle{
    font-size: 22px;
    height: 76px;
    padding-top: 19px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 25px;
    margin-top: -43px;
  }

  .discounttag{
    width: 80px;
    height: 90px;
    font-size: 14px;
    padding-top: 12px !important;
    margin-top: 0px;
    top: -8px;
    left: 5px;
    padding-left: 13px;
  }

  .offTxt {
    font-size: 14px;
  }

  .wishIcon{
    padding: 0px 0px;
    font-size: 20px;
    top: 14px;
    left: -3px;
  }

  .productBlock{
    width: 301px;
    height: 376px;
    margin: auto;
  }

  .f14 {
    font-size: 18px;
    margin-left: -82px;
    color: #222222;
  }

  .labelCategory {
    font-size : 14px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 20px;
  }

  .sizeUnitName{
    font-size: 14px;
    padding-top: 7px;
  }

  .oldprice {
    font-size: 16px;
  }

  .price{
    font-size: 16px;
  }

  .productBlock .ImgWrapper{
    margin-top: 83px;
  }

  .productWrapper {
    margin-bottom: 56px;
  }

  .rightSidefilter {
    margin-right: -35px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 20px !important;
  }

  .pcButtonwrapper {
    font-size: 14px;
    padding: 6px;
    height: 34px;
  }

  .productBlock .ImgWrapper{
    height: 171px;
    margin-top: 60px;
  }

  .NoAvailableImg {
    height: 172px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 7px;
  }

  .panelHeading{
    padding: 31px 0px 7px 33px;
  }

}  

@media only screen and (min-device-width: 2560px) {

  .categoryFilterTitle{
    font-size: 21px;
  }

  .panelHeading h4 a, .panelHeading span{
    font-size: 26px;
  }

  .chaneVendorBtn {    
    padding-right: 157px;
  }

  .chaneVendorBtn a{
    font-size: 18px;
  }

  .venderName2 {
    font-size: 18px;
   } 

  .categoryFilterTitle{
    font-size: 22px;
    height: 86px;
    padding-top: 26px;
  }

  .discounttag{
    width: 90px;
    height: 100px;
    font-size: 16px;
    padding-top: 9px !important;
    margin-top: 0px;
    top: -4px;
    left: 5px;
  }

  .offTxt {
    font-size: 16px;
  }

  .wishIcon{
    padding: 0px 0px;
    font-size: 20px;
    top: 10px;
    left: 8px;
  }

  .productBlock{
    width: 371px;
    height: 399px;
    margin: auto;
  }

  .f14 {
    font-size: 20px;
    margin-left: -85px;
    color: #222222;
  }

  .css-yk16xz-control{
    background-color: #000 !important;
  }

  .labelCategory {
    font-size : 15px;
    width: 230px;
    background-color: #eee;
  }

  .ellipsis {
    font-size: 21px;
  }

  .sizeUnitName{
    font-size: 15px;
    padding-top: 8px;
  }

  .oldprice {
    font-size: 17px;
  }

  .price{
    font-size: 17px;
  }

  .productBlock .ImgWrapper{
    margin-top: 83px;
  }

  .productWrapper {
    margin-bottom: 56px;
  }

  .rightSidefilter {
    margin-right: -57px;
    margin-bottom: 23px;
  }

  .globalAddToCartBtn {
    font-size: 21px !important;
  }

  .pcButtonwrapper {
    font-size: 15px;
    padding: 6px;
    height: 34px;
  }

  .productBlock .ImgWrapper{
    height: 200px;
    margin-top: 60px;
  }

  .NoAvailableImg {
    height: 192px;
  }

  .priceWrapper {
    padding-top: 1px;
    margin-bottom: 9px;
  }

  .panelHeading{
    padding: 37px 0px 12px 70px;
  }

}

/*********************************************************************************************************************************************/ 


@media (min-width: 1440px) and (max-width: 1535px) { 
    .newDealTitle{
      font-size: 24px;
    }
    .titleFont1,.titleFont{
      font-size: 45px!important;
      /*margin-left: 100px;*/
    }
    .productCaroselBlock{
      width: 175px;
      height: 250px;
    }
    .productCaroselBlock .ImgWrapper{
      height: 150px;
      margin-top: 40px;
    }
}
@media (min-width: 1536px) and (max-width: 1679px) { 
    .newDealTitle{
      font-size: 26px;
    }
    .titleFont1,.titleFont{
      font-size: 50px!important;
      /*margin-left: 110px;*/
    }
    .productCaroselBlock{
      width: 185px;
      height: 260px;
    }
    .productCaroselBlock .ImgWrapper{
      height: 155px;
      margin-top: 40px;
    }
}
@media (min-width: 1680px) and (max-width: 1919px) { 
    .newDealTitle{
      font-size: 28px;
    }
    .titleFont1,.titleFont{
      font-size: 55px!important;
      /*margin-left: 120px;*/
    }
    .titleFont1,.titleFont{
      margin-bottom: 10px;
    }
    .productCaroselBlock{
      width: 195px;
      height: 265px;
    }
    .productCaroselBlock .ImgWrapper{
      height: 160px;
      margin-top: 40px;
    }

} 
@media (min-width: 1920px) and (max-width: 2559px) { 
    .newDealTitle{
      font-size: 30px;
    }
}
@media (min-width: 2560px) {
    .newDealTitle{
      font-size: 32px;
    }
}

