.breadCrumbs{
  background-color: #efefef;
  padding: 25px;
}
.breadCrumbs ul{
  margin-bottom: 0px !important;
}
.links li {
  display: inline-block;
  list-style: none;
  padding: 5px 0px;
  text-decoration: none;
}
.links li a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* ---------- rightside flter -----------  */
.rightSidefilter{
  margin-top: 20px;
}
.sortProducts,
.limitProducts{
  border: solid 1px #eee !important;
  padding: 10px !important;
  background-color: transparent;
}
.limitProducts option{
  line-height: 20px !important;
}
.selectOption{
  line-height: 20px !important;
}
.loadingBlock{
  height: 400px;
}
.react-multi-carousel-track {
  list-style: none !important;
}
.singleProduct{
  /* background-color: yellow; */
  padding-left: 5px;
  padding-right: 5px;
}
.priceDivProduct{
  color:#333!important;
}
.transDivEcommerce{
  background-color: #333;
  position: absolute;
  margin-top: -365px !important;
  height: 300px;
}
.optionDiv{
  height: 55px;
  opacity: 0;
  padding-right:22px !important;
  padding-left:40px !important;
  margin-top: -40px;
  transition-duration: 0.7s;

}
.ecommerceProduct:hover .optionDiv{
  transform:  translate(0px,-80px);
   opacity: 1;
  transition-duration: 0.7s;

}
.cartButton1{
  height: 48px;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.mr0{
  margin-right:0px !important;
}
.cartButton1:hover i{
  color: #1c3481;
}
.offerDetails{
  background-color:transparent;
  height: 25px;
  padding-top: 3px;
  color:#fff;
  font-size: 13px;
  font-weight: bold;
}
.ecommerceCollage{
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  padding-bottom: 20px;
}
.mb20{
  margin-bottom: 20px;
}  

.productcomponentheading{
  padding:0px!important;
  margin-bottom: -30px;
  margin-top: 20px;
}
.producttextclass{
  border-bottom: 2px solid #555;
  margin:0px!important;
  color: #555;
  text-align: left;
  width: auto;
}
.producttimer li {
display: inline-block;
list-style-type: none;
padding-right:1em;
text-transform: uppercase;
color: #777;
font-weight: 700; 
}
.producttimerdiv{
  background-color: #F7F7F7;
  padding: 5px 10px;
  border-radius:5px;
}
.producttimer ul{
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
}

.productcarotext1{
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
}
.productcarotext1:hover{
color: #FBBD65!important;
}
.productcarotext1:focus{
color: #FBBD65!important;
}
.discounttag{
  position: absolute;
  /* background-color: var(--Discountcolor) !important; */
  background-image: url("/images/eCommerce/OfferTag.png");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: var(--whiteColor) !important;
  /* border: solid 1px #666; */
  border-radius: 3px;
  padding-top: 10px;
  /* padding: 3px 6px 3px 5px; */
  /* left: 7.7%; */
  /* top: 4%; */
  width: 50px;
  height: 55px;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  margin-top: 0px;
}
.labelCategory{
  font-size: 14px !important;
}
@media screen and (max-width: 480px) {
 .card{
  border: 1px solid #f1f2f2;
  /* max-width: 270px; */
  /* margin: 5px; */
  height: 385px;
  padding: 0px;
 }   
}
.ratebox{
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
  /*width: 40px;*/
}
.sortLable{
  margin-top: 10px;
}
.ecommerceTabContent,
.carouselWraper,
.carouselInnerBlock1{
  padding-left: 0px;
  padding-right: 0px;
}
.card{
  border: 1px solid #f1f2f2;
}
/* .productDetails{
  padding-bottom: 15px;
  min-height: 110px;
} */
.item-top{
  text-align: center;
}
.ImgWrapper{
  /* height: 200px; */
}
.wishlistBtn{
  /* margin-top: 20px; */
  z-index: 1;
  position: absolute;
}
.productImg{
  overflow: hidden;
  height: auto;
  z-index: 0 !important;
} 
.productImg a{
  display: grid;
  text-align: center;
  /*padding-top: 20px;*/
  outline: 0px;
}
.noAvailableImg{
  display: block;
  text-align: center;
  outline: 0px;
  width: 100%;
}
.NoAvailableImg{
  width: 100%;
  background-image: url("/images/eCommerce/productloader.gif");
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.hoveractions1 a{
  display: block;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.productImg .hoveractions1{
  z-index: 9999;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 263px;
  background: rgba(128,125,116,0);
  text-align: center;
  visibility: hidden;
  transform: scale(0);
  -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
}

.productImg:hover .hoveractions1{
  /*background: rgba(0,0,0,0.5);*/
  visibility: visible;
  transform: scale(1);
  -webkit-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  width: 84%;
  left: 20px;
  height: 187px;
  top: 5px;} 


.innerDiv{
  padding: 10px 0px 0px 0px;
  text-align: center;
}
.innerDiv a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
} 
.innerDiv a:hover{
  color: #A2632C !important;
  text-decoration: none;
}
.bracket{
font-weight: bold;
}
.disscountDetails span,
.disscountDetails .fa-inr{
  font-size: 10px !important;
}
.globalProductItemName{
  height: 25px;
}
.globalProdName{
  height: 25px;
  margin-bottom: -10px;
  font-size: 14px;
  /* cursor: pointer; */
}
.priceWrapper{
  height: 25px;
}
.price{
  font-size: 14px;
  font-weight: 600;
  color: #555 !important;
  height: 30px;
}
.oldprice{
  font-size: 12px;
  color: #aaa !important;
  text-decoration: line-through;
}
.product_brand{
  color: #555;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 17px;
}
.producttextclass h3{
  font-size: 18px!important;
}
.producttimerposition{
  position: absolute;
  top: 18px;
  left: 684px;
}
.producttimerposition1{
  top: 12px;
}
.addtocartbtn:before {
 font-family: "Font Awesome 5 Free";
 content: "\f07a";
 display: inline-block;
 padding-right: 3px;
 vertical-align: middle;
 font-weight: 900;
}

.product_item_photo Image {
  border:none !important;
  padding: 45px !important;
  filter:drop-shadow(3px 3px 3px #888) !important;
}
.productInnerWrap {
  transition: .4s ease;
}
.productWrapper{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px !important;
}
.productListWrapper{
  margin-top: 20px;
  border-top: solid 1px #eee;
  padding-bottom: 20px;
}
.filterWrapper{
  margin-top: 20px;
}
.ProductViewWrapper{
  padding-bottom: 20px;
  background : #E8E8E8;
}
.productCaroselBlock{
  border: 1px solid #aaa;
  margin-top: 5px;
  margin-bottom: 5px;
  /* height: 310px; */
  border-radius: 15px;
}
.productBlock {
  /* border: 1px solid #637070; */
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
background: #fff;
  /* height: 300px; */
}
.productDetailVendorName{
  font-size: 13px !important;
}
.vendorName{
  font-size: 12px;
}
.chaneVendorBtn{
  text-decoration: underline;
}
.availablesize {
  padding: 0 10px!important;
  text-transform: uppercase!important;
  font-size: 12px!important;
  border: 1px solid #80b435!important;
  font-weight: 400!important;
  border-radius: 5px;
  background-color: #fff;
  height: 30px;
  margin-left: -3px;
}
.addtocartbtn{
  height:26px;
  padding-top:5px;
  padding-bottom:7px;
  border:1px solid #A2632C;
  border-radius:15px;
  width:140px;
  margin-top:10px;
  color:#A2632C;
}
.homeCart{
  /* margin-top: 5px; */
  padding: 0px 14px;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #80b435;
  border-radius: 5px;
  color: #80b435;
  height: 30px;
  background: #fff;
}
.homeCart:hover{
  background: #80b435;
  color: #fff;
}
.marathiName{
  font-family: 'aps_dev_priyanka' !important;
  font-weight: 700;
  font-size: 13px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-top: -15px;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 14px;
}
.wishIcon{ 
  margin-top: 5px;
  padding: 0px 6px;
  font-weight: bold;
  font-size: 12px;
  border: transparent;
  z-index: 1;
  /* border-radius: 15px; */
  /* color: #80b435; */
  background: transparent;
  position: absolute;
  left: 80%;
  top: 2%;
  font-size: 20px;
  font-weight: 700;
}
.exclusiveProduct .owl-nav button.owl-next{
  /* display: none; */
  margin-left: 1220px !important;
}
.NoPadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.custom-container{
  height: 100px;
  width: 100%;
  background: #fff;
  position: absolute;
  color: #000;
}
.modal-content{
  border-radius: 0px!important;
}
.modal-header img{
  height: 20px;
}
/* css for filters */
.categoryFilterTitle{
  font-size: 16px;
  padding: 20px 10px;
  font-weight: 700;
  border-bottom:solid 1px #ddd;
}
.activeSubCategory{
  /*background-color: #FFC0CB !important;*/
  background-color: #033554 !important;  
}

.activeSubCategory a{
  color:#fff !important;  
}

.filterBlockWrapper{
   border: solid 1px #eee;
   height: max-content;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panelCategory {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 
.centreDetaillistItemEcommerce{
  font-size: 15px !important;
}
.panelHeading{
  padding: 5px 10px !important;
  cursor: pointer;
  border-bottom: solid 1px #ccc;
}
.panelHeading h4 a{
  text-decoration: none !important;
  font-size: 15px !important;
  color: #000;
}
.categoryUl{
  list-style-type:none;
  margin-top: -10px;
}
.subCategorylia{
  color: black !important;
  text-decoration: none !important;
  font-size: 15px;
}

.subcategoryLi{
  /* padding:10px; */
  margin-top: 10px;
  cursor: pointer;
}
.panel-body{
  padding-left: 0px;
}
.morecontent span {
	display: none;
}
.comment {
	width: 400px;
	background-color: #f0f0f0;
	margin: 10px;
}
/* input[type=text]:focus {
  width: 250px;
} */
.productNotAvailable{
  height: 400px;
  background-image: url("/images/eCommerece/book.gif");
  background-position: center;
  font-size: 20px;
  text-align: center;
}

.textAlign{
  text-align: center;
}

.line {
  position: relative;
  height: 2px;
  width:150px;
  background-color: #ff4157;
  margin:0 auto;
  margin-bottom: 45px;
  bottom: 0;
  top : 0;
}

.title4 .line .span{
    position:absolute;height:2px;width:80px;background-color:#ff4157;margin-bottom:35px;top:6px;margin:auto;left:0;right:0
}

.title4 .line .span:after,.title4 .line .span:before{
  position:absolute;height:2px;width:6px;content:"";background-color:#ff4157;top:0px
}
.title4 .line .span:after{right:-10px}
.title4 .line .span:before{left:-10px}
.title_inner4{
  font-weight: 600;
  line-height: 1;
  /* text-transform: uppercase; */
  letter-spacing: 0.02em;
  font-size: 36px;
}
.ProductListWrapper{
  /* margin-top: 20px !important; */
}

@media only screen and (max-device-width: 480px) {
.mobileViewPadding{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
}


.panelCategory{
  border-bottom: solid 1px #ccc;
}
.brandFilterInput{
  height: 15px !important;
  width: 15px !important;
}
.brandInput{
  padding: 5px 0px;
}

.react-multiple-carousel__arrow::before {
    font-size: 14px !important;
    right:0px;
    color: #ccc !important;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
}

.react-multiple-carousel__arrow{
  background: none;
    min-width: 30px;
    min-height: 30px;
}