.accUserDetails h6{
    font-size: 14px !important;
}

.accUserDetails p{
    font-size: 14px !important;
}
.editAddress,
.deleteAddress{
    color: #aaa;
}
.contactInformationWrapper{
    border: 1px solid #033554;
    border-radius: 12px;
}

.accountDashBoardwrapper{
    min-height: 300px;
    /* background-color: aqua; */
}

.addressBookMainWrapper{
    min-height:300px;
    /* background-color:red; */
}

.accountDashBoardInnerwrapper{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #033554;
    border-radius: 19px;
    opacity: 1;
}
.accountDashBoardMainTitle{
    font-family: 'Montserrat-Bold';
    color:#000000;
}
.creditHeader {
    padding                : 15px;
    background             : #033554;
    color                  : #fff;
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
    font-size              : 11px !important;

}
.CreditTotalPtTitle {
    font-size     : 12px;
    font-family   : Montserrat-Medium;
    opacity       : 1;
    color         : #ffff;
    letter-spacing: 0px;
}
.additionAddress{
    border:solid 0.5px #033554;
    border-radius: 8px;
    height: 190px;
}

.box {
   
    background-color: white;
    border: 2px solid #033554;
    border-radius: 12px;
    width: 100%;
    min-height: 250px;

    color: black;
  }
  .modalHeaderM {
    background-color       : #033554;
    border-bottom          : 0px !important;
    border-top-left-radius : 19px !important;
    border-top-right-radius: 19px !important;
    padding-bottom         : 45px !important;
}
.modalCloseButtonWrapperM {
    margin-left: -27px !important;
    cursor     : pointer !important;
    margin-top : -25px !important;
    font-size  : 24px !important;
}
.f14BM p {
    font-size     : 12px !important;
    /* font-weight: bold; */
    margin-top    : 15px;
    margin-left   : 71%;
    position      : absolute;

}
.modalLogoWrapperM {
    position   : absolute;
    height     : 29px !important;
    margin-left: -10px;
    margin-top : 11px !important;
}
.modalContentM {
    border-radius: 25px !important;
    margin-bottom: 45px !important;
}
.addType{
    color: #000 !important;
    font-family   : Montserrat-Regular;
}
  @media (min-width: 1200px) {
    .CreditTotalPtTitle {
        font-size     : 18px;
        font-family   : Montserrat-Medium;
        opacity       : 1;
        color         : #ffff;
        letter-spacing: 0px;
    }

    .addressInnerDescWrapper{
        height: 155px;
        font-size:14px ;
        font-family   : Montserrat-Medium;
        opacity       : 0.6;
        color         : #000;
        opacity: 0.6;
        letter-spacing: 0px;
    }

    .defaultBillingAddTitle{
        font-size: 16px;
        font-family   : Montserrat-Medium;
        opacity       : 1;
        color         : #000000;
        letter-spacing: 0px;
    }

  }

@media only screen and (min-device-width: 1366px) {

    .accountDashBoardMainTitle{
        font-size: 25px;
    }
}  

@media only screen and (min-device-width: 1440px) {

    .accountDashBoardMainTitle{
        font-size: 28px;
    }
}


@media only screen and (min-device-width: 1536px) {
    .additionAddress{
        height: 197px;
    }

    .addNewAddressBtn{
        margin-left: 80px;
    }

    .accountDashBoardMainTitle{
        font-size: 30px;
    }
}

@media only screen and (min-device-width: 1920px) {

    .accountDashBoardMainTitle{
        font-size: 37px;
    }

    .addNewAddressBtn{
        margin-left: 60px;
        font-family   : Montserrat-Bold;
    }

    .additionalAddressDeleteBtn{
        margin-left: 0px;
    }

    .defaultBillingAddTitle{
        font-size: 18px;
    }

    .addressInnerDescWrapper{
        font-size: 15px;
    }

    .CreditTotalPtTitle {
        font-size: 18px;
        font-family   : Montserrat-Bold;
    }

    .additionAddress{
        height: 219px;
    }

    .editAddress, .deleteAddress{
        font-size: 18px;
    }

    .addNewAddressBtn{
        margin-left: 95px;
    }

    .addressInnerDescWrapper{
        margin-bottom: 10px;
    }

}