
.fa {
    float: right;
}
.panel-body{
        font-size: 15px;
        color: #555;
        background-color: white !important;
        line-height: 1.8;
        letter-spacing: 0.06em;
        border-top: none !important;
        padding: 15px 18px;
        box-sizing: border-box;
        border: 1px solid #eee;
}
.panel-title {
        font-size: 17px;
         color: #333!important;
         font-weight:600;
         cursor: pointer;
         text-decoration:none !important;
         background-color: transparent !important;
         border: 1px solid #eee;

}
.panel-title:hover{
    color: #ff0000!important;
    text-decoration:none!important; 
}
.panel-heading {
    padding: 22px 15px!important;
    transition: all 0.3s ease;
    /* background-color: white !important; */
    border: 1px solid gray;
    background-color: #f1f1f1 !important;
    margin-bottom: 0px;
    padding:0;
    height: 63px !important;

}

#sidebar1 ul li.active > a, a[aria-expanded="true"]{
    background-color:transparent !important;
    color: black !important;
}

.accordion_icon{
    font-size:22px!important;
}
.panel-group .panel {
    margin-bottom: 12px!important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.panel-group{
    margin-top:50px;
}