@font-face {
  font-family: 'Montserrat-Regular';
  src        : url('../../../fonts/Montserrat-Regular.ttf');
}
.modal{
    z-index: 10000;
}
.searchBarInput::placeholder {
    font-size: 13px!important;
}
.headerWrapper{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
    height: 117px;
}
.megamenuWrapper{
    margin: 0!important;
    padding: 0!important;
}
.megamenu{
    width: 100%;
    height: 60px;
    background-color: var(--globalColor);
    padding-top: 15px;
}
.mainMenuWrapper{
    height: 32px;
    background-color: #ddd;
}
.mainMenu2{
    height: 100%;
    padding-left: 10px;
}
/*.sampurnaLogoWrapper{
    background-color: #f00;
}*/
.logoImg{
    width: 120px;
    height: 35px;
}
.searchWrapper{
    padding-top: 0px;
}
.searchIcon{
    position: absolute;
    right: 0px;
    width: 6%;
    height: 100%;
    background-color: var(--yellowBgColor);
    border-top-right-radius: 0.50rem;
    border-bottom-right-radius: 0.50rem;
    cursor: pointer;
}
.homeSearchIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;   
}
.homeSearchIcon1{
    position: absolute;
    top: 50%;
    left: 15px ;
    font-size: 13px;
    transform: translate(0 , -50%);
    color: #000;   
}
.searchBarInput{
    background: #E8E8E8;
    padding: 0.375rem 1.2rem;;
    color: #000000;
    height: 32px;
    font-family: 'Montserrat-Regular';
    border-radius: 0.50rem;

}
.searchBarInput::placeholder {
    color: #bbb;
}
.signInWrapper{
    position: relative;
    background-color: #fff;
    margin-top: 2px;
    height: 30px;
    border-radius: 0.25rem;
    padding: 0.25rem 1.5rem;;
}
.signDivWrapper2{
    margin-top: 2px;
    margin-left: -7px;
}
.signInTitle{
    position: absolute;
    font-size: 15px;
    color: #000;
   /* font-weight: 600;*/
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    z-index: 10!important;
}
.signInIcon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10!important;
}
.userIcon{
    height: 16px;
}
.signInWrapper a{
    text-decoration: none!important;
}
.signInWrapper a:hover{
    color: #000;
}
.cartIcon{
    height: 30px;
    margin-top: 5px;
}
/*============================Nav List============================================*/
.allCategories{
    border-right: 1px solid #ccc;
    padding-top: 7px;
    padding-left: 60px;
    text-transform: uppercase;
    font-size: 13px;
    color: #DC1919;
}
.listSubTitles{
    height: 100%;
    display: inline-block;
    padding-top: 8px;
    font-size: 11px;
    text-transform: uppercase;
    /*font-weight: 600;*/
    padding-left: 9px;
    color: #000;
    transition: all 0.3s;

}
.listSubTitles:hover{
    color: #DC1919;
}
.listItemAtag{
    text-decoration: none;
    color: #000;
}
/*=============================Location Header====================================*/
.locationHeaderwrapper{
    height: 26px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.locationHeader{
    height: 100%;
}
.DisplayLocation{
    height: 100%;
}
.locationText{
    font-size: 13px;
    /*font-weight: 600;*/
    padding-left: 45px;
}
.deliveryAddress{
    height: 100%;
}
.locationSubText{
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #777;
}
.changelocationBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    box-shadow: -1px 1px 3px #000000A3;
    border-radius: 2px;
    border: none;
    height: 22px;
    font-size: 12px;
    font-weight: 300;
    width: 96%;
    background-image: linear-gradient(to left, #cccccc, #d9d9d9, #e5e5e5, #f2f2f2, #ffffff);
    text-align: left;
    padding-left: 10px;
    margin-left: 10%;
}
.changelocationBtn1:active{
    border: none;
}
.changeLocationIcon{
    position: absolute;
    right: 5px;
}
.changeLocationIcon img{
    height: 14px;
}

.changeLocationTitle{
    padding-left: 0px;
    margin-left: -5px;
}
/*================================================================*/
.userName{
    font-size: 11px;
    color: #fff;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85px;
    display: block;
}
.userInfo{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.userInfoWrapper{
    position: relative;
    height: 65px;
}
.userInfoCircle{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #ff0;
    top: 23%;
    left: 10%;
    background-color: var(--color);
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
.userFullName,.userEmail{
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userFullName{
    color: #555;
    font-weight: 600;
    text-transform: capitalize;
}
.userEmail{
    font-size: 11px;
    color: #555;
}
.userDetalisWrapper{
    position: relative;
    margin-top: 12%;
    width: 100%;
}
.userDetailsList{
    border-top: 1px solid #ccc;
    height: 40px;
}
.userDetailsList2{
    height: 40px;
}
.userDetailsList1{
    border-top: 1px solid #ccc;
    height: 35px;
    position: relative;
    background-color: var(--color);
    color: #fff;
}
.userDetailsListTitle{
    padding: 9px 10px;
    font-size: 14px;
}
.userDetailsListTitle1{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.signDivWrapper{
    margin-top: 2px;
    margin-left: -9px;
}
.myAccDropdown{
    transition: all 0.6s;
    height: 50px!important;
}
.myAccountTitle{
    color: #fff;
    font-size: 10px;
    margin-top: -1px;
    width: 80px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.signDivWrapper:hover,.myAccountTitle:hover{
    cursor: pointer;
}
.myAccDropdown:hover .listDropDownMenu {
    display: block;
    left: -30px;
    top:  0px;
    cursor: pointer;
}
.myAccDropdown:hover .listDropDownMenu1 {
    display: block;
    left: -35px;
    top: -20px;
    cursor: pointer;
}
.cartCountWrapper{
    position: absolute;
    color: #fff;
    top: -11px;
    right: 3px;
    background-color: #DC1919;
    height: 14px;
    width: 14px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
}
.listDropDownMenu {
    position: absolute;
     left: 0;
    z-index: 1000;
    display: none;
    width: 200px;
    padding:  0;
    margin:   0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-top: 32px!important;
}
.listDropDownMenu2{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.wishListIconWrapper{
    margin-top: 4px;
    margin-left: 5px;
}
.wishListIcon{
    height: 22px;
}
.cartIconWrapper{
    margin-top: 5px;
}
.cartLogo{
    height: 25px;
}
/*================================================================*/
@media  (min-width: 2560px) {
        .headerWrapper{
            height: 213px;
        }
        .megamenu{
            height: 100px;
        }
        .logoImg{
            width: 160px;
            height: 60px;
            margin-left: 35px;
            margin-top: 5px;
        }
        .searchBarInput,.signInWrapper,.cartIcon{
            height: 50px;
        }
        .searchWrapper{
            padding-top: 10px;
        }
        .signInWrapper{
            width: 100%;
            margin-left: 0%;
            margin-top: 10px;
        }
        .cartIcon{
            margin-top: 10px;
        }
        .signInTitle{
            font-size: 26px;
        }    
        .userIcon{
            height: 30px;
        }
        .mainMenuWrapper{
            height: 60px;
        }
        .allCategories{
            padding-top: 14px;
            font-size: 22px;
            padding-left: 100px;
        }
        .listSubTitles{
            padding-top: 15px;
            font-size: 20px;
            padding-left: 15px;
        }
        .locationHeaderwrapper{
            height: 53px;
        }
        .locationText{
            font-size: 22px;
            display: inline-block;
            padding-top: 11px;
            padding-left: 85px;
        }
        .locationSubText{
            font-size: 21px;
            padding-left: 20px;
        }
        .changeLocationTitle{
            font-size: 23px;
            margin-left: 0px;
        }
        .changeLocationIcon{
            font-size: 22px;
            right: 15px;
        }
        .searchIcon{
            font-size: 30px;
        } 
        .signInIcon{
            right: 10px;
        }
        .changelocationBtn1{
            width: 90%;
            margin-left: 6%;
            margin-top: 4px;
            height: 45px;
        }
        .userName{
            font-size: 20px;
            width: 150px;
        }
        .signDivWrapper2{
            margin-top: 5px;
            margin-left: 10px;
        }
        .myAccountTitle{
            font-size: 18px;
        }
        .signDivWrapper{
            margin-top: 8px;
            margin-left: 4px;
        }
        .wishListIconWrapper{
            margin-top: 14px;
        }
        .cartIconWrapper{
            margin-top: 13px;
        }
        .wishListIcon{
            height: 40px;
        }
        .cartLogo{
            height: 48px;
        }
        .cartCountWrapper{
            height: 25px;
            width: 25px;
            font-size: 16px;
            right: 5px;
            top: -15px;
        }
        .listDropDownMenu{
            width: 360px;
            top: 30px!important;
        }
        .userDetalisWrapper{
            margin-top: 9%;
        }
        .userFullName{
            font-size: 20px;
        }
        .userEmail{
            font-size: 20px;
        }
        .userInfoWrapper{
            height: 100px;
        }
        .userInfoCircle{
            width: 60px;
            height: 60px;
        }
        .userDetailsList,.userDetailsList2{
            height: 60px;
        }
        .userDetailsListTitle{
            padding: 10px 18px;
            font-size: 25px;
        }
        .userDetailsList1{
            height: 50px;
        }
        .userDetailsListTitle1{
            font-size: 25px;
        }
        .changeLocationIcon img{
            height: 25px;
        }
        .searchBarInput::placeholder {
            font-size: 22px!important;
        }
}
@media (min-width: 1920px) and (max-width: 2559px) {
        .headerWrapper{
            height: 160px;
        }
        .megamenu{
            height: 80px;
        }
        .logoImg{
            width: 130px;
            height: 40px;
            margin-top: 3px;
            margin-left: 10px;
        }
        .searchBarInput{
            height: 47px;
        }
        .searchBarInput::placeholder {
            font-size: 18px!important;
        }
        .cartIcon{
            height: 46px;
            margin-top: 5px;
        }
        .signInWrapper{
            width: 124px;
            height: 44px;
            margin-top: 4px;
            margin-left: -6px;
        }
        .searchWrapper{
            padding-top: 2px;
        }
        .signInTitle{
            font-size: 22px;
        } 
        .searchIcon{
            font-size: 25px;
        }   
        .userIcon{
            height: 28px;
        }
        .mainMenuWrapper{
            height: 40px;
        }
        .allCategories{
            padding-top: 8px;
            font-size: 18px;
            padding-left: 70px;
        }
        .listSubTitles{
            padding-top: 9px;
            font-size: 17px;
            padding-left: 13px;
        }
        .locationHeaderwrapper{
            height: 40px;
        }
        .locationText{
            font-size: 19px;
            display: inline-block;
            padding-top: 7px;
            padding-left: 55px;
        }
        .locationSubText{
            font-size: 19px;
            padding-left: 20px;
        }
        .changeLocationTitle{
            font-size: 13px;
            margin-left: 0px;
        }
        .changeLocationIcon{
            top: 6px;
            right: 7px;
        }
        .changeLocationIcon img{
            height: 17px;
        }
        .signInIcon{
            right: 5px;
        }
        .cartIconWrapper{
            margin-top: 5px;
        }
        .changelocationBtn1{
            width: 160px;
            height: 30px;
            margin-top: 6px;
            margin-left: 25%;
        }
        .signDivWrapper{
            margin-top: 2px;
            margin-left: 0px;
        }
        .signDivWrapper2{
            margin-top: 3px;
            margin-left: 3px;
        }
        .wishListIconWrapper{
            margin-top: 7px;
            margin-left: 6px;
        }
        .wishListIcon{
            height: 34px;
        }
        .cartLogo{
            height: 46px;
        }
        .cartCountWrapper{
            height: 25px;
            width: 25px;
            font-size: 16px;
            right: -15px;
        }
        .userName{
            font-size: 18px;
            width: 110px;
        }
        .myAccountTitle{
            font-size: 13px;
            width: 110px;
        }
        .cartCountWrapper{
            height: 23px;
            width: 23px;
            font-size: 15px;
        }
        .listDropDownMenu{
            width: 280px;
            top: 18px!important;
        }
        .userDetalisWrapper{
            margin-top: 9%;
        }
        .userFullName{
            font-size: 17px;
        }
        .userEmail{
            font-size: 17px;
        }
        .userInfoWrapper{
            height: 85px;
        }
        .userInfoCircle{
            width: 45px;
            height: 45px;
        }
        .userDetailsList,.userDetailsList2{
            height: 50px;
        }
        .userDetailsListTitle{
            padding: 9px 18px;
            font-size: 22px;
        }
        .userDetailsList1{
            height: 45px;
        }
        .userDetailsListTitle1{
            font-size: 22px;
        }
}
@media (min-width: 1680px) and (max-width: 1919px) {
        .searchBarInput::placeholder {
            font-size: 16px!important;
        }
        .searchWrapper{
            padding-top: 2px;
        }
        .signDivWrapper2{
            margin-left: 0px;
        }
        .headerWrapper{
            height: 167px;
        }
        .megamenu{
            height: 80px;
        }
        .logoImg{
            width: 140px;
            height: 45px;
            margin-top: 3px;
        }
        .searchBarInput,.signInWrapper,.cartIcon{
            height: 45px;
        }
        .signInTitle{
            font-size: 18px;
        } 
        .searchIcon{
            font-size: 25px;
        }   
        .userIcon{
            height: 24px;
        }
        .mainMenuWrapper{
            height: 45px;
        }
        .allCategories{
            padding-top: 10px;
            font-size: 18px;
            padding-left: 70px;
        }
        .listSubTitles{
            padding-top: 11px;
            font-size: 16px;
            padding-left: 7px;
        }
        .locationHeaderwrapper{
            height: 45px;
        }
        .locationText{
            font-size: 18px;
            display: inline-block;
            padding-top: 6px;
            padding-left: 55px;
        }
        .listDropDownMenu{
            top: 16px!important;
        }
        .locationSubText{
            font-size: 15px;
            padding-left: 15px;
        }
        .changeLocationTitle{
            font-size: 16px;
            margin-left: 0px;
        }
        .changeLocationIcon{
            font-size: 16px;
            right: 5px;
        }
        .changeLocationIcon img{
            height: 18px;
        }
        .signInIcon{
            right: 10px;
        }
        .DisplayLocation{
            height: 96%;
        }
        .changelocationBtn1{
            margin-top: 4px;
            height: 34px;
        }
        .signDivWrapper{
            margin-top: 3px;
            margin-left: -5px;
        }
        .wishListIcon{
            height: 35px;
        }
        .cartLogo{
            height: 40px;
        }
        .cartCountWrapper{
            height: 23px;
            width: 23px;
            font-size: 15px;
            top: -18px;
            right: -20px;
        }
        .userName{
            font-size: 15px;
            width: 95px;
        }
        .myAccountTitle{
            font-size: 13px;
        }
        .listDropDownMenu{
            width: 250px;
            top: 16px!important;
            left: -45px;
        }
        .userDetalisWrapper{
            margin-top: 9%;
        }
        .userFullName{
            font-size: 17px;
        }
        .userEmail{
            font-size: 17px;
        }
        .userInfoWrapper{
            height: 85px;
        }
        .userInfoCircle{
            width: 45px;
            height: 45px;
        }
        .userDetailsList,.userDetailsList2{
            height: 50px;
        }
        .userDetailsListTitle{
            padding: 10px 18px;
            font-size: 18px;
        }
        .userDetailsList1{
            height: 40px;
        }
        .userDetailsListTitle1{
            font-size: 18px;
        }
}
@media (min-width: 1440px) and (max-width: 1679px) {
        .searchBarInput::placeholder {
            font-size: 15px!important;
        }
        .headerWrapper{
            height: 145px;
        }
        .megamenu{
            height: 75px;
        }
        .logoImg{
            width: 140px;
            height: 45px;
            margin-top: 1px;
        }
        .searchWrapper {
            padding-top: 2px;
        }
        .searchBarInput,.signInWrapper,.cartIcon{
            height: 40px;
        }
        .signInTitle{
            font-size: 18px;
        } 
        .searchIcon{
            font-size: 25px;
        }   
        .userIcon{
            height: 20px;
        }
        .mainMenuWrapper{
            height: 40px;
        }
        .allCategories{
            padding-top: 8px;
            font-size: 16px;
            padding-left: 70px;
        }
        .listSubTitles{
            padding-top: 10px;
            font-size: 13px;
            padding-left: 7px;
        }
        .locationHeaderwrapper{
            height: 40px;
        }
        .locationText{
            font-size: 16px;
            display: inline-block;
            padding-top: 4px;
            padding-left: 55px;
        }
        .locationSubText{
            font-size: 13px;
            padding-left: 15px;
        }
        .changeLocationTitle{
            font-size: 13px;
            margin-left: 0px;
        }
        .changeLocationIcon{
            font-size: 13px;
            right: 5px;
        }
        .signInIcon{
            right: 5px;
        }
        .DisplayLocation{
            height: 96%;
        }
        .changelocationBtn1{
            margin-top: 3px;
            height: 25px;
        }
        .signDivWrapper{
            margin-top: 3px;
            margin-left: -10px;
        }
        .wishListIconWrapper{
            margin-top: 6px;
            margin-left: 5px;
        }
        .signDivWrapper2{
            margin-left: -10px;
        }
        .wishListIcon{
            height: 31px;
        }
        .cartLogo{
            height: 36px;
        }
        .cartCountWrapper{
            height: 23px;
            width: 23px;
            font-size: 15px;
            top: -18px;
            right: -20px;
        }
        .userName{
            font-size: 14px;
            width: 90px;
        }
        .myAccountTitle{
            font-size: 13px;
        }
        .listDropDownMenu{
            width: 230px;
            top: 12px!important;
            left: -45px;
        }
        .userDetalisWrapper{
            margin-top: 9%;
        }
        .userFullName{
            font-size: 17px;
        }
        .userEmail{
            font-size: 17px;
        }
        .userInfoWrapper{
            height: 85px;
        }
        .userInfoCircle{
            width: 45px;
            height: 45px;
        }
        .userDetailsList,.userDetailsList2{
            height: 50px;
        }
        .userDetailsListTitle{
            padding: 10px 18px;
            font-size: 18px;
        }
        .userDetailsList1{
            height: 40px;
        }
        .userDetailsListTitle1{
            font-size: 18px;
        }
}
@media (min-width: 1366px) and (max-width: 1439px) {
    
}
@media (min-width: 1200px) and (max-width: 1365px) {
        .signInTitle{
            font-size: 13px;
        }  
        .userIcon{
            height: 14px;
        }
        .listSubTitles{
            font-size: 10px;
            padding-left: 5px;
        }
        .changeLocationTitle{
            font-size: 11px;
        }
        .myAccountTitle{
            font-size: 12px;
        }
        .userName{
            font-size: 10px;
        }
        .signDivWrapper{
            margin-left: -12px;
        }
}
@media (min-width: 1024px)and (max-width: 1200px){
    .logoImg {
        height: 38px;
    }
    .searchIcon{
        width: 8%;
    }
    .searchWrapper{
        padding-top: 0px;
    }
    .signDivWrapper2{
        margin-left: 40px;
    }
    .cartIconWrapper{
        margin-top: 6px;
    }
    .signDivWrapper{
        margin-top: 2px;
    }
    .wishListIconWrapper {
        margin-top: 5px;
    }
    .cartCountWrapper{
        right: 0px;
    }
    .signInWrapper{
        margin-top: 1px;
    }
    .cartIcon{
        margin-top: 2px;
    }
    .allCategories{
        padding-left: 45px;
        font-size: 11px;
    }
    .listSubTitles{
        font-size: 9.5px;
        padding-left: 5px;
    }
    .locationText{
        padding-left: 30px;
    }
    .changelocationBtn1{
        font-size:10px;
    }
    .changelocationBtn1{
        height: 20px;
    }
}
@media (min-width: 768px)and (max-width: 1023px){
    .logoImg {
        height: 38px;
    }
    .searchWrapper{
        padding-top: 0px;
    }
    .signDivWrapper{
        margin-top: 5px;
        margin-left: -45px;
    }
    .signDivWrapper2{
        margin-left: 10px;
    }
    .searchIcon{
        width: 11%;
    }
    .wishListIconWrapper {
        margin-top: 7px;
        margin-left: -8px;
    }
    .cartCountWrapper{
        right: 0px;
    }
    .signInWrapper{
        margin-top: 1px;
    }
    .cartIcon{
        margin-top: 2px;
    }
    .allCategories{
        padding-left: 16px;
        font-size: 10px;
    }
    .listSubTitles{
        font-size: 8.5px;
        padding-left: 5px;
        padding-top: 10px;
    }
    .locationText{
        padding-left: 0px;
    }
    .changelocationBtn1{
        font-size:8.5px;
        height: 18px;
    }
    .userName{
        font-size: 9px;
    }
    .myAccountTitle{
        font-size: 10px;
    }

}
@media (min-width: 640px) and (max-width: 767px) {
    .headerWrapper{
        min-height: 137px;
        height: auto;
    }
    .megamenu{
        height: 125px;
    }
    .searchWrapper{
        padding-top: 5px;
        margin-left: 80px;
    }
    .signDivWrapper{
        margin-left: 25px;
        margin-top: 7px;
    }
    .mobileMargin{
        margin-top: -8px;
    }
    .logoImg{
        height: 40px;
    }
    .signInWrapper{
        margin-top: 10px;
    }
    .cartIcon{
        margin-top: 12px;
    }
    .navbarHeader{
        position: absolute;
        top: -62px;
        left: 0px;
    }
    .mainMenu{
        min-height: 100px;
        height: auto;
        padding-bottom: 10px;
        background-color: #ddd;
    }
    .allCategories{
        padding-left: 0px;
    }
    .listSubTitles,.mainMenu2{
        padding-left: 0px;
    }
    .locationText{
        padding-left: 0px;
    }
    .deliveryAddress{
        padding-left: 10px!important;
        padding-right: 0px!important;
    }
    .locationText{
        font-size: 15px;
    }
    .deliveryAddress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .locationSubText{
        font-size: 15px; 
    }
    .changeLocationTitle{
        font-size: 14px;
    }
    .searchIcon{
        width: 15%;
    }
    .locationHeaderwrapper{
        height: 27px;
    }
    .navbarIcon {
        border: 1px solid #fff;
        color: #fff;
        position: relative;
    }
    .navbarIcon2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .cartCountWrapper{
        top: -10px;
        right: -15px;
        height: 18px;
        width: 18px;
    }
    .changeLocationIcon i{
        font-size: 13px;
    }
    .DisplayLocationBtn{
        margin-left: 10px;
    }
    .cartLogo{
        margin-left: 30px;
    }
    .wishListIcon{
        margin-left: 30px;
    }
    .userName{
        font-size: 12px;
    }
    .myAccountTitle{
        font-size: 14px;
    }
    .listDropDownMenu{
        left: 80px!important;
    }
}

@media (min-width: 736px)and (max-width: 767px){
    .changeLocationTitle{
        font-size: 12px;
    }
    .deliveryAddress{
        padding-top: 2px;
    }
    .locationSubText{
        font-size: 14px;
    }
    .wishListIconWrapper{
        margin-top: 13px;
        margin-left: 30px;
    }
    .cartIconWrapper{
        margin-top: 14px;
        margin-left: 0px;
    }
    .signDivWrapper{
        margin-left: 100px;
    }
    .changelocationBtn1{
        margin-top: 2px;
        width: 88%;
    }
}
@media (min-width: 640px)and (max-width: 735px){
    .changeLocationTitle{
        font-size: 12px;
    }
    .deliveryAddress{
        padding-top: 2px;
    }
    .locationSubText{
        font-size: 14px;
    }
    .wishListIconWrapper{
        margin-top: 13px;
        margin-left: 30px;
    }
    .cartIconWrapper{
        margin-top: 14px;
        margin-left: 0px;
    }
    .signDivWrapper{
        margin-left: 90px;
    }
    .changelocationBtn1{
        margin-top: 2px;
    }
}

@media  (min-width: 414px) and (max-width: 639px){
    .megamenu{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .signDivWrapper{
        margin-left: 40px;
        margin-top: 5px;
    }
    .userName{
        font-size: 12px;
    }
    .signDivWrapper2{
        margin-left: 90px;
        margin-top: 5px;
    }
    .mobileMargin{
        margin-top: -8px;
    }
    .headerWrapper{
        min-height: 137px;
        height: auto;
    }
    .logoImg{
        height: 35px;
    }
    .signInWrapper{
        margin-top: 8px;
    }
    .cartIcon{
        margin-top: 10px;
        margin-left: 15px;
    }
    .megamenu{
        height: 110px;
        padding-left: 0px!important;
    }
    .searchWrapper{
        padding-top: 5px;
    }
    
    .navbarHeader{
        position: absolute;
        top: -55px;
        left: -13px;
    }
    .mainMenu{
        min-height: 100px;
        height: auto;
        padding-bottom: 10px;
        background-color: #ddd;
    }
    .allCategories{
        padding-left: 0px;
    }
    .listSubTitles,.mainMenu2{
        padding-left: 0px;
    }
    .locationText{
        padding-left: 0px;
    }
    .deliveryAddress{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .locationText{
        font-size: 10px;
    }
    .deliveryAddress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .locationSubText{
        font-size: 9px; 
    }
    .changeLocationTitle{
        font-size: 10.5px;
    }
    .searchIcon{
        width: 15%;
    }
    .locationHeaderwrapper{
        height: 27px;
    }
    .navbarIcon {
        border: 1px solid #fff;
        color: #fff;
        position: relative;
    }
    .navbarIcon2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .cartCountWrapper{
        top: -10px;
        right: 2px;
        height: 16px;
        width: 16px;
    }
    .changeLocationIcon i{
        font-size: 11px;
    }
    .DisplayLocationBtn{
        margin-left: 10px;
    }
    .cartLogo{
        margin-left: 10px;
    }
    .listDropDownMenu{
        left: 35px!important;
    }
    .changelocationBtn1{
        margin-top: 2px;
        width: 85%;
    }
    .cartIconWrapper{
        margin-top: 10px;
        margin-left: -2px;
    }
    .wishListIconWrapper{
        margin-top: 9px;
        margin-left: 25px;
    }
}
@media (min-width: 360px) and  (max-width: 413px) {
    .changelocationBtn1{
        margin-top: 2px;
    }
    .megamenu{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .mobileMargin{
        margin-top: -8px;
    }
    .headerWrapper{
        min-height: 137px;
        height: auto;
    }
    .logoImg{
        height: 35px;
    }
    .signInWrapper{
        margin-top: 10px;
    }
    .cartIcon{
        margin-top: 12px;
    }
    .megamenu{
        height: 110px;
        padding-left: 0px!important;
    }
    .searchWrapper{
        padding-top: 5px;
    }
    
    .navbarHeader{
        position: absolute;
        top: -54px;
        left: -13px;
    }
    .mainMenu{
        min-height: 100px;
        height: auto;
        padding-bottom: 10px;
        background-color: #ddd;
    }
    .allCategories{
        padding-left: 0px;
    }
    .listSubTitles,.mainMenu2{
        padding-left: 0px;
    }
    .locationText{
        padding-left: 0px;
    }
    .deliveryAddress{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .locationText{
        font-size: 10px;
    }
    .deliveryAddress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .locationSubText{
        font-size: 9px; 
    }
    .changeLocationTitle{
        font-size: 10px;
    }
    .searchIcon{
        width: 15%;
    }
    .locationHeaderwrapper{
        height: 27px;
    }
    .navbarIcon {
        border: 1px solid #fff;
        color: #fff;
        position: relative;
    }
    .navbarIcon2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .cartCountWrapper{
        top: -10px;
        right: 2px;
        height: 16px;
        width: 16px;
    }
    .changeLocationIcon i{
        font-size: 11px;
    }
    .DisplayLocationBtn{
        margin-left: 10px;
    }
    .listDropDownMenu{
        left: 35px!important;
    }
    .userName{
        font-size: 12px;

    }
    .myAccountTitle{
        font-size: 11px;
    }
    .signDivWrapper {
        margin-left: 15px;
        margin-top: 5px;
    }
    .signDivWrapper2 {
        margin-left: 60px;
        margin-top: 5px;
    }
    .wishListIconWrapper{
        margin-top: 10px;
        margin-left: 15px;
    }
    .cartIconWrapper{
        margin-top: 11px;
        margin-left: 0px;
    }
    .changelocationBtn1{
        width: 86%;
    }
}
@media  (max-width: 359px) {
    .searchBarInput{
        margin-left: 20px;
    }
    .changelocationBtn1{
        margin-top: 2px;
    }
    .megamenu{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .mobileMargin{
        margin-top: -8px;
    }
    .headerWrapper{
        min-height: 137px;
        height: auto;
    }
    .logoImg{
        height: 35px;
    }
    .signInWrapper{
        margin-top: 10px;
    }
    .cartIcon{
        margin-top: 12px;
    }
    .megamenu{
        height: 110px;
        padding-left: 0px!important;
    }
    .searchWrapper{
        padding-top: 5px;
    }
    
    .navbarHeader{
        position: absolute;
        top: -54px;
        left: -13px;
    }
    .mainMenu{
        min-height: 100px;
        height: auto;
        padding-bottom: 10px;
        background-color: #ddd;
    }
    .allCategories{
        padding-left: 0px;
    }
    .listSubTitles,.mainMenu2{
        padding-left: 0px;
    }
    .locationText{
        padding-left: 0px;
    }
    .deliveryAddress{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .locationText{
        font-size: 10px;
    }
    .deliveryAddress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .locationSubText{
        font-size: 9px; 
    }
    .changeLocationTitle{
        font-size: 10px;
    }
    .searchIcon{
        width: 15%;
    }
    .locationHeaderwrapper{
        height: 27px;
    }
    .navbarIcon {
        border: 1px solid #fff;
        color: #fff;
        position: relative;
    }
    .navbarIcon2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .cartCountWrapper{
        top: -10px;
        right: 2px;
        height: 16px;
        width: 16px;
    }
    .changeLocationIcon i{
        font-size: 11px;
    }
    .DisplayLocationBtn{
        margin-left: 10px;
    }
    .listDropDownMenu{
        left: 35px!important;
    }
    .userName{
        font-size: 12px;

    }
    .myAccountTitle{
        font-size: 11px;
    }
    .signDivWrapper {
        margin-left: 15px;
        margin-top: 5px;
    }
    .signDivWrapper2 {
        margin-left: 50px;
        margin-top: 5px;
    }
    .wishListIconWrapper{
        margin-top: 10px;
        margin-left: 15px;
    }
    .cartIconWrapper{
        margin-top: 11px;
        margin-left: 0px;
    }
}