.locationBg{
	height: 480px;
}


.height550{
	/* height:430px !important;	 */
}

.height385{
	height:600px;	
}

.ma{
	margin:auto;
	text-align:center;
}

.searchAdrressLable input{
	font-size:12px !important;
}

.f12{
	font-size:12px !important;
}

.locationBTN{
	background-color:#fff;
	color:#000;
	font-weight:bold;
}

.zindex{
	position: absolute;
  left: 0px;
  top: -71px;
  z-index: 0;
}
.deliveryForm{
	z-index: 4 !important;
}
.googleMap{
	background-color: rgba(0,0,0,0.3) !important;   
}
