.locationBg{
	background:url("/images/eCommerce/snazzy-image.gif");
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-top:0px !important;
	height:550px !important;
	z-index: 1;
}

.locationBg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);   
}

.height550{
	height:550px !important;	
}

.height385{
	height:385px;	
}

.ma{
	margin:auto;
	text-align:center;
}

.tw{
	/*color:#fff !important;*/
}

.searchAdrressLable input{
	font-size:12px !important;
}

.f12{
	font-size:12px !important;
}

.locationBTN{
	background-color:#fff;
	color:#000;
	font-weight:bold;
}

.zindex{
	position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}