.locationBg{
	height: 550px !important; 
}
.googleMap{
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

.height385{
	height:600px;	
}

.gLocationMap{
    background: transparent linear-gradient(360deg, #000000 0%, #090909DB 31%, #484848C4 77%, #5454548F 100%) 0% 0% no-repeat padding-box; 
    opacity: 0.69;
    z-index: 2;
}

.ma{
	margin:auto;
	text-align:center;
}

.searchAdrressLable input{
	font-size:12px !important;
}

.f12{
	font-size:12px !important;
}

.locationBTN{
	background-color:#033554;
	color:#fff;
	font-weight:bold;
	font-size: 13px;
	padding: 11px;
}
.locationBTN:hover{
	color: #fff !important;
}
.zindex{
  position: absolute;
  left: 0px;
  top: -210px;
  z-index: 0;
}
.deliveryForm{
	z-index: 999 !important;
	vertical-align: middle !important;
	margin-top: 14%;
}
.googleMap{	
	background-color: rgba(0,0,0,0.3) !important;   
}
.formcontrol1 {
    background-color: #eee;
    border:none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
}

.signinBG{
	/*background-color:#033554 !important;*/
	color:#fff;
	font-size:12px;
}

.loginBGImg{
	background-image:url("/images/eCommerce/visa-logo.png") 100% 100% no-repeat;
}

.modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
}

.MapOr{
	height: 100%;
	width: 50%;
	border-radius: 100%;
	background-color: #fff;
	padding: 5px;
	float:left;
	margin: 0px 8%;
	margin-top: -2%;
}

.orline{
    border-bottom:1px solid #ccc !important;
    float:left;
    margin-top: 10px !important;
}

.search{
	position: absolute;
	top: 20%;
    right: 5%;
    color: #999;
}