
.galleryWrapper{
    margin-top: 30px;
}
.galleryImg{
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.boxShadow{
  box-shadow:  2px 2px 18px -11px #777;

}
.img{
    background-color: red;
}
.img:hover{
    transform: rotate(-15deg) scale(1.4);
    -webkit-transform: rotate(5deg) scale(1.2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity:0.5;
    background:rgba(255, 0, 0, 0.5);
}

.hover_rotate_img:hover {
    -webkit-transform: rotate(10deg) scale(1.4);
    transform: rotate(-10deg) scale(1.4);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .courceDiv .hover_rotate_img {
	 opacity: 1;
	 -webkit-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
   background: red;

  }
  .courceDiv:hover .hover_rotate_img {
    opacity: .5;
    background: red;
  }