.modalCenter {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}



.admin-orders-SubTitleRow input {
    border-radius: 15px;
    margin-bottom: 10px;
}

.admin-orders-stat {
    background: #dd4b39;
    color: #fff;
}.newOrder { background: #f36512 !important;}
.verified {background: #f39c12!important;}
.green{background-color: rgb(106, 168, 79)!important;}
.packed{background: #337ab7!important;}
.colorBlack{color:#fff !important;}
.disApproved{background: #dd4b39!important;}
.dispatched {  background: #dd3941;}
.delivery {background: #78dab6!important;}    
.Deliveredpaid {background: #00a661!important;}
.paid{background-color: #0275d8 !important;}

.admin-orders-stat-NewOrder {
    background: #f36512;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Verified {
    background: #f39c12;
    color: #fff;
}
.admin-orders-stat-Packed {
    background: #337ab7;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Inspection {
    background: #4b4e53;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-OrderVerified {
    background: #dd4b39;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Dispatched {
    background: #dd3941;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Deliveredpaid {
    background: #00a661;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Delivered {
    background: #78dab6;
    color: #fff;
    padding: 1px 6px;
}

.admin-orders-stat-NewOrdericon {
    background: #f36512;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Verifiedicon {
    background: #f39c12;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Packedicon {
    background: #337ab7;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Inspectionicon {
    background: #4b4e53;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-OrderVerifiedicon {
    background: #dd4b39;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Dispatchedicon {
    background: #dd3941;
    color: #fff;
    padding:8px 10px;
    
}
.admin-orders-stat-Deliveredicon {
    background: #999;
    color: #fff;
    padding:8px 10px;
    
}



.admin-order-view {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    /*background: #eee;*/
    cursor: pointer;
    color: #808080 !important;
}
.admin-order-changeStat {
    display: inline-block;
    padding: 5px 10px;
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
.admin-order-changeStatus{
    display: inline-block;
    /*padding: 5px 10px;*/
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
.admin-order-view:hover, .admin-order-changeStat:hover {
    /* color: #fff !important; */
    /* background: #444; */
    /* padding: 5px 25px 5px 13px; */

     color: #337ab7 !important;
     background:none;
    /* padding: 5px 25px 5px 13px; */
}

/* .admin-order-view:visited, .admin-order-changeStat:visited {
    color: #808080;    
} */

.comm-status-of-order{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.admin-orders-listofColors {
    color: #444;
    font-weight: normal;
}
.dispatchdetails{
    margin-top: 5%;
}
.dispatchWrap{
    border: 1px solid #aaa;
}
/* .addBannerWrapperBtn1:hover{
    background: transparent!important;
} */

.MuiTypography-h6{
    /* font-size:2.25rem !important; */
    font-size: 18px !important;
}
.MuiTableCell-head{
    font-size: 18px !important;
    /* font-size:1.5em !important; */
}
.MuiTableCell-root{
    font-size:1.2rem !important;
}
.MuiTypography-caption{
    font-size:1em !important;
}
.MuiTooltip-tooltip{
    font-size:1em !important;
}
.MuiTableCell-head{
    background: #7f7f7f !important;
    color: #fff !important;    
}

.MUIDataTableHeadCell-fixedHeaderCommon-150{
    z-index : 0 !important;
}



.modalBodyHeight{
    min-height:130px;
    padding-top:40px;

}
.borderColor{
    background-color: #3c8dbc !important;
    color:#fff;
    text-align:center;
}
.hideBorder{
    border:none !important;
}
.modal-borderbtn{
    /*width:100px;*/
    border:1px solid #777;
    border-radius:3px;
    padding:3px;
    margin-left:8px;
    margin-bottom:15px;
    /*cursor: pointer;*/
    color:#fff;
    /*margin-top:5px;*/
}

.modal-greyborderbtn{
    /*width:100px;*/
    border:1px solid #808080c9;
    border-radius:3px;
    padding:3px;
    margin-left:8px;
    margin-bottom:15px;
    /*cursor: pointer;*/
    color:#fff;
    /*margin-top:5px;*/
}


.boldWeight{
    font-weight:bold !important;
}
.not-allowed {
    color:999 !important;
     pointer-events: auto! important;
     cursor: not-allowed! important;
     background-color: #ffffff;
     color:#808080c9;
}

.succesBg{
    background-color: #f36512 !important;
}

.normlBtn{
    background-color: #fff;
    color: #333;
}

.blueBtn{
    background-color: #0275d8 !important;

}

.paddingright25{
    padding-right: 25px;
}
.modal-content-height{
    margin-top: 65px !important;
}
.dispatch-height{
        margin-top: 176px;
    margin-right: 40px;
    margin-left: 26px;

}
.admin-orders-stat1{
    padding-left: 3px ! important;
}
.downloadCsv:hover{
   background-color: #ddd;
   border-radius: 50px;
   /*padding: 6px ! important;*/
   overflow: visible;


}
.csvDownload1:hover{
    /*padding: 6px ! important;*/

}
.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.statusAction{
 cursor: pointer;
}
.changeVendorStatusBtn{
    background: #367ea8;
    width: fit-content;
    padding: 8px 15px;
    font-size: 12px !important;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}
.vendorOrderStatus{

}
.statusDiv{
    padding: .75rem 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}
.new, .new_order{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.processing {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.ready_to_dispatch{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.on_the_way{
    color: #1f1717;
    background-color: #86dbe8;
    border-color: #17a2b8;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.delivered{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.cancelled{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type : none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-wip {
    color: black;
    border-bottom: 4px solid rgb(245, 202, 61);
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

