.content{
    font-family: 'montserrat-font';
}
.admin-orders-SubTitleRow input {
    border-radius: 15px;
    margin-bottom: 10px;
}

.admin-orders-stat {
    background: #dd4b39;
    color: #fff;
}

.alphab{
    background-color:#ccc;
    margin: 1px;
    border-radius: 15px
}
.admin-orders-stat-NewOrder {
    background: #f36512;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Verified {
    background: #f39c12;
    color: #fff;
}
.admin-orders-stat-Packed {
    background: #337ab7;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Inspection {
    background: #4b4e53;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-OrderVerified {
    background: #dd4b39;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Dispatched {
    background: #dd3941;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Deliveredpaid {
    background: #00a661;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Delivered {
    background: #78dab6;
    color: #fff;
    padding: 1px 6px;
}

.admin-orders-stat-NewOrdericon {
    background: #f36512;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Verifiedicon {
    background: #f39c12;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Packedicon {
    background: #337ab7;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Inspectionicon {
    background: #4b4e53;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-OrderVerifiedicon {
    background: #dd4b39;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Dispatchedicon {
    background: #dd3941;
    color: #fff;
    padding:8px 10px;
    
}
.admin-orders-stat-Deliveredicon {
    background: #999;
    color: #fff;
    padding:8px 10px;
    
}



.admin-order-view {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    /*background: #eee;*/
    cursor: pointer;
    color: #808080 !important;
}
.admin-order-changeStat {
    display: inline-block;
    padding: 5px 10px;
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
.admin-order-changeStatus{
    display: inline-block;
    /*padding: 5px 10px;*/
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
/* .admin-order-view:hover, .admin-order-changeStat:hover {
    color: #fff !important;
    background: #444;
} */

/* .admin-order-view:visited, .admin-order-changeStat:visited {
    color: #808080;    
} */

.comm-status-of-order{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.admin-orders-listofColors {
    color: #444;
    font-weight: normal;
}
.dispatchdetails{
    margin-top: 5%;
}
.dispatchWrap{
    border: 1px solid #aaa;
}
/* .addBannerWrapperBtn1:hover{
    background: transparent!important;
} */


.mtop10{
  margin-top: 10px;
}
.bglight{
  background-color: #eee;
  /*height: 350px;*/

}

.orderButton{
  width: 100% !important;
  margin-top: 15px;
  /*margin-left: 15px;*/
  background-color: #77777759 !important;
  text-align: center;
  padding: 5px 0px;
  border-radius: 8px;
  color: #333;
}
.orderButton2{
  width: 196px !important;
  margin-top: 15px;
  /*margin-left: 15px;*/
  /*background-color: #7B943F;*/
  /*padding: 5px 10px;*/
  border-radius: 8px;
}
.itemImg{
  height: 75px;
  width: 75px;
  margin-top: 10px;
}

.orderButton1{
  margin-top: 15px !important;
  /*width: 90px;*/
  padding: 0px 0px;
  /*margin: 0px 10px;*/
  background-color: #7B943F;
}
.plright{
  text-align: right;
}

.hrline{
  border-top: #888 1px solid;
  margin-bottom: 0px !important;
}

.orderpagebox{
  padding-bottom: 2%;
  /*border: 1px solid;*/
  margin-top: 25px;
  background: #fff;
}

.admin-orders-stat-NewOrdericon {
    background: #f36512;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
}
.admin-orders-stat-Verifiedicon {
    background: #f39c12;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
}
.admin-orders-stat-Packedicon {
    background: #337ab7;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
}
.admin-orders-stat-Inspectionicon {
    background: #4b4e53;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
}
.admin-orders-stat-OrderVerifiedicon {
    background: #dd4b39;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
}
.admin-orders-stat-Dispatchedicon {
    background: #dd3941;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;

}
.admin-orders-stat-Deliveredicon {
    background: #78dab6;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
   
}

.admin-orders-stat-Deliveredpaidicon {
    background: #00a661;
    color: #fff;
    padding:8px 9px;
    border-radius: 50%;
   
}
.orderfloat{
  float: left;
}

.orderButtonicon{
  font-size: 25px;
  margin-top: 13px !important;
  color: #7B943F;
}
.orderButtonicon:hover{
  color: #C8B476;
}
.orderstatushr{
  border: 1px solid #7B943F ;
  margin-top: 30px;
}
.ordertimedate{

  font-size: 11px;
  text-align: center;
}
.actionbtn{
  margin-top: 10px
}
.parentDiv{
  height: auto;
}
.outerbox{
  border : 1px solid #ddd;
  border-radius: 4px;
  padding: 14px 18px;
  margin:10px 0;
}
.padding30{
    padding: 30px;
}
.orderDetailTitles{
    font-size:14px;
}
.vendorOrderDetails{
    background-color: #fff8f8;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
/* .vendorTotalRows{
    background-color: #fff4f4;
} */
.orderTotalRows{
    background-color: #d5e3ea;
}
.totals{
    text-align: center;
    vertical-align: middle;
}
.finalTotal{
    font-weight: 700;
    font-size: 14px !important;
}
.orderedOn{
    font-size: 14px !important;
    padding: 15px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    border-radius: 25px;
}
.orderedOnDate, .orderNumber{
    color:  #8b0000;
    font-size: 16px;
}
.orderSummary{
    padding: 10px 0;
}








.box-content{
    font-weight: 500 !important;
    color: #333 !important;
    font-size: 13px !important;
    font-family: 'montserrat-font';
}
.orderNumberDiv{
    text-align: right;
}
.vendorNameRow th{
    border-top: solid 1px #ddd;
    padding: 20px 10px 10px 10px;
    font-size: 18px !important;
    font-weight: 700;
    color: #000;
    /*text-align: center;*/
}
.vendorNameRow th div{    
    font-size: 16px !important;
}
.vendorNameRow th .vendorName{    
    color: #8b0000;
}
.shippingAddressTitle{
    padding: 9px;
}
.shippingAddress{
    word-break: break-all;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    height: 680px;
    /* overflow: auto; */
}
.discountValue{
    color: #f00 !important;
}
.discountValue span, .faPercent{
    color: #f00 !important;
}
.addressWrapper{
    height: 560px;
    /* height: 533px; */
    overflow: auto;
}
.termConditionErrorMsg {
    margin-left: 20px;
    margin-top: -13px;
}
.orderReviewsWrapper{
    height:650px;
    overflow:auto;
    margin-bottom: 20px;
}
.shippingInput{
    margin-top: 20px;
}
.shippingtimes{
    margin-top: 30px;
    margin-bottom: 20px;
}
.mgbtm20{
    margin-bottom: 40px;
}
.orderConfirmation {
    text-align: right;
    border-radius: 15px;
    color:  #999;
    font-size: 26px;
    cursor: pointer;
}
.orderConfirmation:hover{
    color: #A2632C !important
}
.shippingLogin{
    border-radius: 25px;
}
.shipLog{
    margin-top: 15px;
    color: #999;
}
.shipLog label{
    margin-top: 6px;
}
.shippingMethod{
    margin-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #ddd; 
}
.shippingMethodTitle{
    padding: 9px;
    margin-bottom: 10px;
}
.shippingMethod label{
    margin-top: 15px;
}
.shippingMethod input{
    margin-top: 10px;
}
.paymentMethod{
    margin-top: 30px;
    padding-bottom: 50px;
    border: 1px solid #ddd; 
}
.paymentMethodTitle{
    padding: 9px;
    margin-bottom: 10px;
}
.paymentInput{
    margin-top: 15px;
}
.orderImg{
    height: 90px;
    width: 90px;
    position:relative;
}
.vendorTotalTitle{
    text-align: right;
    float: right;
    font-weight: 600;
    font-size: 14px !important;
}
.vendorTotalAmount{
    float: right; 
    font-weight: 600;
    font-size: 14px !important;
}
.orderTable .table th,
.orderTable .table td{
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.orderTable .table tr{
    margin-bottom: 20px;
}
.orderTable>tbody>tr>td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
}
.orderTable>tbody>tr>td {
    vertical-align: middle !important;
}
.orderTable>thead>tr>th{
    border-bottom: 1px solid #fff;
}
.crossOrder{
    cursor: pointer;
    color: #9d9d9d;
}
.checkoutBorder{
    height: 1px;
    background: #f5f5f5;
}
.quantityInput{
    padding: 5px 10px;
    border: 1px solid #333;
}
.orderReviews{
    margin-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #ddd; 
    margin-bottom: 20px;
}
.orderReviewsTitle{
    padding: 9px;
    margin-bottom: 10px;
}
.orderReviews span{
    /* font-weight: 700; */
    margin-top: 10px;
    color: #333;
    font-size: 15px;
}
.tableRowWrapper{
    display: contents;
}
.cuponBtn{
    padding: 5px;
    font-size: 12px;
    height: 37px;
    
}
.textAlignRight{
    text-align: right !important;
}
.productName{
    font-weight: 500 !important;
    color: #333 !important;
}
.productPrize{
    white-space: nowrap;
    color: #333 !important;
    font-weight: 900;
    font-size: 15px;
}
.couponCode{
    color: #999;
}
.discountCode{
    cursor: pointer;
}
.price{
    font-size: 15px;   
}
.orderTotalText{
    font-size: 17px !important;
    font-weight: bold;
    text-align: left;
    color: #4b4a4a;
}
.transactionpageText{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #4b4a4a;
    
}
.transaction{
    margin-top: 300px;
}
.loadercircle{
    margin-top: 100px;
    align-content: center;
}
.orderTotalPrize{
    color: #80b435 !important;
    font-size: 18px;
    font-weight: bold;
}
.giftBtn{
    border-radius: 25px;
}
.giftWrapPrize{
    color: #A2632C !important;
}
.placeOrder{
    border-radius: 25px;
}
.notplaceOrder{
    border-radius: 25px;
    background-color: #999 !important;
    
}
.required{
    color: red !important;
}
.termsNconditionsmodal{
    margin-top: -10px;
    cursor: pointer;
}
.listStyle li{
    list-style: disc;
}
.termsNconditionsmodal:hover{
    color: #80b435;   
}
.close{
    font-size: 26px;
    font-weight: 600;
    opacity: 1;
}
.checkoutADDCss{
    word-break: break-word;
}
.codRadio{
    height: 15px !important;
    width: 15px !important;
    margin-right: 5px !important;
}
.termsWrapper{
    margin-top: -16px;
}
.acceptTerms{
    height: 20px;
    width: 20px;
    margin-top: -15px !important;
}
.notAvailable{
    color: #f00;
    font-size: 12px;
    margin-bottom: 5px;
    display: none;
    padding-left: 0px;
}
.DeliveryNotPoss{
    color: #f00;
    font-size: 12px;
    margin-bottom: 5px;
    display: none;
    padding-left: 0px;
}
.title{
    display: inline-block;
}
.manageHeight{
    height : 49px;
}
.checkoutADDCss{
    font-size: 14px ! important;
}
.tableRow{
    padding-top: 20px;
    border-top: solid 1px #ddd;
    /* border-bottom: solid 1px #ddd; */
}
.orderTable thead tr th{
    padding: 20px 15px;
    background: #d5e3ea;
    font-size: 16px;
}
.tableRowWrapper tr{
    margin: 10px 0;
}
.orderTable .productImageTH{
    width: 200px;
}
.orderTable tbody tr td{
    padding: 10px;
}
.orderTable{
    margin-bottom: 0;
}
.currencyStyle{
    font-size: 10px;
}
.discountedPrice{
    font-weight: 600;
    float: left;
    font-size: 14px !important;
    padding: 0 10px 0 0;
}
.beforeDiscount{
    float: left;    
}
.oldProductPrice{
    text-decoration: line-through;
    font-size: 13px !important;
}
.productDiscountPercent{
    color: #388e3c !important;
    font-weight: 600;
    font-size: 14px !important;
}
.backtoMyOrdersDiv{
    padding: 14px 0;
    text-decoration: underline;
    font-size: 14px !important;
}

@media only screen and (max-device-width: 480px) {   
.orderImg{
    width: 60px;
}
.termConditionErrorMsg{
    margin-top: 0px;
    margin-left: 4px;
}
.checkOutTerms{
    padding-right: 0px;
    padding-left: 0px;
}
.termsWrapper{
    margin-top: -17px !important;
    font-size: 12px;
    padding-right: 0px;
}
.orderReviews span{
    font-size: 9px;
}
}

.actionBtns{
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 5px 10px;
    font-size: 12px !important;
    font-weight: 700;
    color: #666;
}