.BannerWrapper {
	height: auto;
}

.BannerImageWrapper {
	background-size: 100% 100%;
	height: auto;
	padding-bottom: 60px;
}

.bannerImgSB {
	height: auto;
	padding-top: 50px;
}

.TitleWrapper {
	padding-top: 250px;
	padding-left: 50px;
}

.Title1 {
	color: #fff;
	font-weight: 500;
}

.Title2 {
	color: #fff;
	font-weight: 500;
}

.Title3 {
	color: #fff;
	font-weight: 500;
}

/* ***************************************Media Query For Mobile View********************************************** */

@media only screen and (min-device-width: 375px)and (max-device-width: 736px) {
	.TitleWrapper {
		padding-top: 100px;
		margin-left: -72px;
	}
	.Title1 {
		color: #fff;
		font-size: 7vw;
		font-weight: 500;
		text-align: center;
	}
	.Title2 {
		color: #fff;
		font-size: 9vw;
		font-weight: 500;
		text-align: center;
	}
	.Title3 {
		color: #fff;
		font-size: 4.5vw;
		font-weight: 500;
		text-align: center;
	}
}