.bannerContainerEcomm{
    height: 360px;
}
.bannerContainerEcomm .item .BgImg{
    height: 315px;
    width: 100%;
    margin-top: 0px;
}
.bannerContainerEcomm .item .blockTitle .FgImg{
    height: 300px;
    /* width: 40%; */
    /* margin-top: -200px; */
    z-index: 1000;
}
.blockTitle{
    font-size: 18px !important;
    font-weight: 300;
    color: #111;
    /* text-align: left; */
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-transform: capitalize;
    font-family: inherit;

}
.blockSubTitle{
    font-size: 60px !important;
    font-weight: 800;
    color: #444;
    margin-bottom: 30px;
    /* text-align: left; */
    text-transform: uppercase;
}
/* video css */
.fullScreen_videoWrap{
    height: 700px;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}
.video_overlay{
    position: absolute;
    height: 700px;
    top:0;
    left:0;
    background-color: #225470;
    /* margin-top: -200px !important; */
    opacity: 0.70;
    
}

/* swiper */
  .swiperContainer {
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 0 !important; */
    height: 330px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* custome css */
  .nextPreArrows{
      opacity: 1;
  }

  .showDots{
    bottom: 0px !important;
    position: relative !important;
    margin-top: -18px !important;
  }
  .titleWrapper{
      margin-top: -400px;
      font-size: 20px;
      /* padding-left: 80px !important; */
      /* padding-right: 80px !important; */
  }
  .evenBlock{
    float:right !important;
    text-align:right;
}
  .OddBlock{
      float:left !important;
      text-align:left;
  }
  .swiper-pagination-bullet{
      height: 10px !important;
      width: 10px !important;
      background:  transparent !important;
      border: solid 1px #aaa;
  }
@media (min-width: 1920px){
    .BgImg{
        height: 365px!important;
    }
    .bannerContainerEcomm{
        margin-bottom: 10px;
        height: 385px;
    }
    .swiperContainer{
        height: 400px!important;
    }
    .showDots{
        margin-top: -30px !important;
    }

}
  @media only screen and (max-device-width: 480px) {
    .titleWrapper{
        margin-top: -90px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .blockTitle{
        font-size: 9px !important;
        margin-bottom: 5px !important;
    }
    .blockSubTitle{
        font-size: 15px !important;
        margin-bottom: 18px !important;
    }
  }

  