.headerWrapper{
    height: 75px;
    background-color: transparent;
    position: absolute;
}
.headerLogo{
    width: 6%;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 10 !important;
    opacity: 1;
    cursor: pointer;
}
.barWrapper{
    height: 20px;
    width: 30px;
    position: absolute;
    top: -5px;
    right: 50px;
    cursor: pointer;
}
.bars{
    height: 3px;
    width: 25px;
    background: #f1f1f1;
    position: fixed;
    margin-top:35px;
    z-index: 1000 !important;
    cursor: pointer;
}
.bars::before, .bars::after{
    content: '';
    height: 3px;
    width: 25px;
    background: #f1f1f1;
    position: absolute;
    z-index: 1000 !important;
}
.bars::before{
    margin-top: 7px;
    z-index: 1000 !important;
}
.bars::after{
    margin-top: 14px;
}
.navBarNewWrapper .navBarMain{
    height: 830px;
    width: 100%;
    background: #333333;
    position: absolute;
    right: -200vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000 !important;
}
.navBarNewWrapper .navBarMain .navBarContentWrapper{
    margin-top: -220px;
    list-style: none;
}
.navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner{
    margin: 6px 0;
    text-align: center;
}
.navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent{
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    position: relative;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
.navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent:hover{
    color: #f1f1f1;
}
.navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent:after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 5px;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
}
.navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent:hover:after{
    transform: scaleX(1);
}
.navBarNewWrapper .navBarMain .close{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.navBarNewWrapper .navBarMain h2{
    font-size: 2em;
    color: #fff;
    position: absolute;
    top:5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
}
.navBarMain .close .innerClose::before, .close .innerClose::after{
    content: '';
    height: 4px;
    width: 30px;
    background: #fff;
    position: absolute;
    transition: background .5s ease;
}
.close .innerClose::before{
    transform: rotate(-45deg);
}
.navBarMain .close .innerClose::after{
    transform: rotate(45deg);
}
.navBarNewWrapper .navBarMain .close:hover .innerClose::before, .navBarNewWrapper .navBarMain .close:hover .innerClose::after{
    background: #fff;
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */


@media (min-width: 992px) and (max-width: 1199px){
    .headerLogo{
        width: 10%;
        top: 8px;
        left: 30px;
    }
    .barWrapper{
        right: 30px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper{
        margin-top: -60px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner{
        margin: 10px 0px 10px -40px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent{
        font-size: 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .headerLogo{
        width: 12%;
        top: 10px;
        left: 30px;
    }
    .barWrapper{
        right: 30px;
    }
    .navBarNewWrapper .navBarMain{
        height: 1025px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper{
        margin-top: -20px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner{
        margin: 10px 0px 10px -50px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent{
        font-size: 35px;
    }
}

@media (min-width: 577px) and (max-width: 767px){
    .headerLogo{
        width: 13%;
        top: 12px;
        left: 30px;
    }
    .barWrapper{
        right: 30px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper{
        margin-top: -440px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner{
        margin: 3px 0px 3px -35px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent{
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .headerLogo{
        width: 22%;
        top: 15px;
        left: 30px;
    }
    .barWrapper{
        right: 30px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper{
        margin-top: -250px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner{
        margin: 10px 0px 10px -25px;
    }
    .navBarNewWrapper .navBarMain .navBarContentWrapper .navBarInner .navBarInnerContent{
        font-size: 24px;
    }
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */