.cartHeightWrapper{
    margin-top: 40px;
}
.t6dbb2c16-9484-4311-96c6-72f7dd2c3613.place-left {
    margin-left: 5px!important;
}
.tooltipWrapper{
    margin-left: 0px!important;
}
.alertMessage{
    position: fixed;
    z-index: 1000;
    top: 25px !important;
    right: 42px !important;
    display: block;
}
.cartHeartIcon{
    width: 15px!important;
}
.vendorTitle{
    font-size: 20px;
    font-weight: bold;
    font-family   : 'Montserrat-Bold';
    letter-spacing: 0px;
    color         : #000000;
    opacity       : 1;
    margin-bottom: 10px;  
}

.singleVendorBox {
    border        : 1px solid #707070;
    border-radius : 19px;
    padding       : 15px;
    font-size     : 14px;
    font-family   : 'Montserrat-Bold';
    letter-spacing: 0px;
    color         : #000000;
    opacity       : 1;
    margin-left: 13%;
    margin-bottom: 40px;
}

.singleRow {
    margin-bottom: 20px;
    height       : auto;
}

.tableHeading{
    font-size: 15px;
    margin-bottom: 5px;
    font-family   : 'Montserrat-Bold';
}

.cartProductImg{
    width:  130px;
}
.productBrand{
    font-size: 14px;
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    margin-top: 8px;
    padding-left: 20px!important;
}
.cartHeartIcon{
    margin-top: -15px;
}
.quantityWrapper{
    font-size: 12px;
    margin-top: 22px!important;
    font-family: 'Montserrat-Regular';
    color: #000;
}
.cartProductPrize{
    font-size: 12px;
    margin-top: 10px;
}
.cartOldprice{
    font-size: 12px;
    margin-top: 10px;    
}

.cartWishlist{
    font-size: 12px;
    color: #999;
    margin-top: -10px;
}
.cartWishlistRed{
    color: #f00 !important;    
    font-size: 12px;
    margin-top: -10px;
}

.trashIcon{
    font-size: 12px;
    color: #999;
}
.vendorWarning{
    font-size: 12px;
    color: #dc1919;
    text-align: right;
}
.currency{
    text-align: center;
}
.amount{
    text-align: right;
}

.summeryCurrency{
    text-align: left;
    width: 50%;
    float: left;
}
.summeryAmount{
    text-align: right;
    width: 50%;
    float: left;
}
.summeryTotCurrency{
    text-align: left;
    width: 50%;
    float: left;
    font-weight: bold;
}
.summeryTotAmount{
    text-align: right;
    width: 50%;
    float: left;
    font-weight: bold;
}
.cartInnerTitleWrapperOfGrandTotal{
    font-family   : 'Montserrat-Bold';
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    float: left;
    margin-left: 0px;
    padding-left: 28px;
}


.discMsgColor {
    color    : black;
    font-size: 12px;
    font-weight: bold;
}




.regularShippingCharge{
    text-decoration: line-through;
    color: #aaa;
}
.cartInnerTitleWrapperHidden1{
    text-align: right;
}
.cartTotalLineWrapper {
    border     : 1px solid #e8e8e8 !important;
    position   : absolute;
    margin-left: -25px;
    width      : 100%;
}
.cartEmptyTitle{
    color: #DC1919;
    margin-top: 40px;
}
.cartEmptySubTitle{
    margin-top: 10px;
    color: #222;
}
.cartEmptyBackIcon{
    margin-right: 5px;
    margin-top: -5px;
}
.cartEmptySubTitle:hover{
    text-decoration: none;
    color: #222222;
}
.productName {
    margin-bottom : 0.5rem;  
    line-height   : 1.2;
    font-size     : 12px;
    font-family: 'Montserrat-Medium';
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
    padding-left: 20px!important;
}

.table {
    border       : 1px solid lightgray;
    border-radius: 9px;
}

.summaryClass {
    /*max-height      : 200px;*/
    padding         : 15px;
    height          : auto;
    margin-top      : 0px !important;
    border          : none;
    display         : inline-block;
    background      : #f6f6f6;
    border-radius   : 7px;
}

.bbBox {
    border-bottom : 1px solid #ccc;
    padding-bottom: 15px !important;
}

.shopping {
    color          : #033554 !important;
    text-decoration: underline;
    font-family: 'Montserrat-Medium';
}

.cardHeadingWrapper {
    border-bottom: 1px solid #ddd;

}

.cartSummary1 {
    font-size: 12px;
    max-height      : 200px ! important;
    height          : auto !important;
    display         : inline-block;
    margin-left     : 0% !important;
}

.tdCartWrapper {
    right: -7% !important;
}

.checkoutBtn {
    background-color  : #033554 !important;
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px 0px;
    width: 96%;
    margin-left: 4%;
}
.checkoutBtn:hover {
    color: #fff;    
}

.infoCircle {
    color      : #648295 !important;
    position   : absolute;
    margin-left: 3% !important;
    margin-top : 3px !important;
    cursor     : pointer !important;
    right: -3px;
}

.cartInnerTitleWrapper {
    font-size: 13px;
    left     : 4% ;
    font-family: 'Montserrat-Bold';
    color      : #000000;
}

.cartInnerTitleWrapper1 {
    font-size: 13px !important;
   text-align: right;
}
.cartInnerCurrencyWrapper1{
    text-align: right;
    padding-left: 35px;
}
.savingaMTcOLOR {
    color: #3e9d5e !important;
}

.vendorNameTooltip {
    font-size: 18px;
    
}
.vendorNameTooltipAlign{
    margin-top: -20px;
}
.tooltipWrapper {
    border-radius: 7px !important;
    font-weight  : 500 !important;
}

.cartTitle {
    font-size     : 20px;
 /*   margin-left   : 41px;*/
    margin-top    : 50px;
    font-family   : 'Montserrat-Bold';
    color         : #000000;
    letter-spacing: 0px;
    opacity       : 1;
}

.cartInnerTitleWrapper h5 strong {
    font-size: 18px !important;
}

.emptycartImageWrapper{
    height:100px;
    margin-top: 3%;
}
.oldprice{
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
    -webkit-text-decoration-color: #DC1919;
    text-decoration-color: #DC1919;
}

.vendorWiseinnerTitle{
    font-family: 'Montserrat-Medium'!important;
    color         : #000000!important;
}

.productDetails{
    padding: 0px;
}


/*==================  MEDIA QUERIES  ========================*/

@media (min-width: 320px) and (max-width: 480px) {
    .noMobilePadding{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .cartProductPrize span{
        display: block;
    }
    .cartProductPrize{
        margin-top: -10px;
    }
    .productBrand{
        margin-top: -12px;
    }
    .quantityWrapper span{
        padding-right: 2px!important;
        padding-left: 2px!important;
    }
    .quantityWrapper{
        margin-top: 0px!important;
    }
    .cartHeartIcon{
        margin-top: 9px;
    }
    .cartDeleteIcon{
        margin-top: 10px;
    }
    .shopping{
        font-size: 12px;
    }
    .cartTitle {
        font-size     : 36px;
      /*  margin-left   : 8%;*/
        margin-top    : 15px;
        font-family   : 'Montserrat-Bold';
        color         : #000000;
        letter-spacing: 0px;
        opacity       : 1;
    }
    .cartInnerTitleWrapper{
        left: 1%;
    }
    .cartInnerTitleWrapper1{
        margin-left: -12px;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 20px;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 0% !important;
        font-family: 'Montserrat-Bold';
        color      : #000000;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 0px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }

    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 0%;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
    .cartTotalIpad td{
        padding:  2px 8px!important;
    }
    .checkoutBtn{
        width: 100%;
        margin-left: 0%;
    }
    .summeryTotAmount{
        text-align: left;
        padding-left: 5px;
    }
    .cartHeightWrapper{
        margin-top: 20px;
    }
}

@media (min-width: 480px) and (max-width: 640px) {

    .cartTitle {
        font-size     : 36px;
        /*margin-left   : 8%;*/
        margin-top    : 15px;
        font-family   : 'Montserrat-Bold';
        color         : #000000;
        letter-spacing: 0px;
        opacity       : 1;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 2.5% !important;
        font-family: 'Montserrat-Bold';
        color      : #000000;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 10px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }

    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
}


@media (min-width: 640px) and (max-width: 767px) {
    .quantityWrapper{
        margin-top: 0px!important;
    }
    .cartTitle {
        font-size     : 36px;
       /* margin-left   : 8%;*/
        margin-top    : 15px;
        font-family   : 'Montserrat-Bold';
        color         : #000000;
        letter-spacing: 0px;
        opacity       : 1;
        padding-left: 30px;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 0% !important;
        font-family: 'Montserrat-Bold';
        color      : #000000;
    }
    .cartInnerTitleWrapper{
        left: 0%;
    }
    .summeryAmount{
        text-align: left;
        padding-left: 5px;
    }
    .infoCircle{
        right: 38px;
        top: -3px;
    }
    .checkoutBtn{
        width: 100%;
        margin-left: 0%;
    }
    .cartTotalLineWrapper{
        margin-left: -20px;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 16px;
    }
    .cartProductPrize span{
        display: block;
    }
    .cartHeartIcon{
        margin-top: 9px;
    }
    .cartDeleteIcon{
        margin-top: 10px;
    }
    .cartProductPrize{
        margin-top: -10px;
        margin-left: -20px;
    }
    .productBrand{
        margin-top: -12px;
    }
    .summeryTotAmount{
        text-align: left;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 10px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }

    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 0%;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
        padding-left: 20px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) { 
    .cartTitle{
        padding-left: 30px;
    }
    .singleVendorBox{
        margin-left: 0%;
    }
    .cartTitle {
        font-size     : 28px;
        margin-top    : 15px;
    }
    .singleRow{
        margin-left: 0%;
        width: 100%;        
    }
    .cartProductImg{
        width:  90px;
    }
    .cartHeightWrapper{
        margin-top: 35px;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 0% !important;
        font-family     : 'Montserrat-Bold';
        color           : #000000;
    }
    .cartInnerTitleWrapper{
        left: 2%;
    }
    .summeryCurrency{
        margin-left: -11px;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 0px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }
    .summeryTotAmount{
        text-align: left;
    }
    .infoCircle{
        right: 60px;
        top: -2.5px;
    }
    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 0%;
    }
    .vendorTitle{
        padding-left: 15px;
    }
    .cartTotalLineWrapper{
        margin-left: -20px;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
    .productBrand{
        margin-top: 0px;
    }
    .shopping{
        font-size: 12px;
    }
    .summeryAmount{
        text-align: left;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) { 
    .cartTitle {
        font-size     : 28px;
        margin-top    : 15px;
    }
    .singleRow{
        margin-left: -16%;
        width: 110%;        
    }
    .cartProductImg{
        width:  90px;
    }
    .cartHeightWrapper{
        margin-top: 35px;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 2.5% !important;
        font-family     : 'Montserrat-Bold';
        color           : #000000;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 10px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }

    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) { 
    .productBrand{
        padding-left: 5px!important;
        margin-top: 0px;
    }
    .cartDeleteIcon{
        width: 13px!important;
    }
    .cartTotalIpad td{
        padding:  2px 8px!important;
    }
    .cartTotalLineWrapper{
        margin-left: -20px;
    }
    .shopping{
        font-size: 12px;
    }
    .cartHeartIcon{
        width: 13px!important;
    }
    .checkoutBtn{
        width: 97%;
        margin-left: 11%;
    }
    .productName{
        padding-left: 5px!important;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 25px;
    }
    .cartTitle {
        font-size     : 36px;
        /*margin-left   : 8%;*/
        margin-top    : 15px;
        font-family   : 'Montserrat-Bold';
        color         : #000000;
        letter-spacing: 0px;
        opacity       : 1;
        padding-left: 60px;
    }

    .cartSummary1 {
        max-height      : 200px ! important;
        height          : auto !important;
        display         : inline-block;
        margin-bottom   : -15px;
        margin-left     : 2.5% !important;
        font-family: 'Montserrat-Bold';
        color      : #000000;
    }
    .cartWrapper{
        min-height: 600px;
    }
    .loaderWrapper{
        position: fixed;
        top: 200px;    
    }
    .emptycartImageWrapper{
        height:250px
    }
    .summaryClass {
        max-height      : 200px;
        padding         : 10px;
        height          : auto;
        margin-top      : 0px !important;
        border          : none;
        display         : inline-block;
        background      : #f6f6f6;
        border-radius   : 7px;
        margin-left: 95px;
    }
    .currency, .amount{
        width: 50%;
        font-size: 12px;
    }
    .vendorTitle{
        font-size: 22px;
        margin-bottom: 20px;  
        margin-left: 90px;
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 25px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        margin-left: 0px;    
    }
    .discMsgColor{
        padding-left: 50px;
    }

    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 16%;
    }
    .tableHeading{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 10px;
    }
    .cartProductPrize{
        padding: 0px !important;
    }
    .trashIcon{
        margin-top: -6px;
        position: absolute;
    }

    .cartWishlist{
        margin-top: -15px;
        position: absolute;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 12px;        
    }
    .vendorWarning{
        font-size: 10px;
    }
    .summaryClass table td{
        font-size: 12px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 10px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 12px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 15px;
        height: 36px;
        padding: 7px 0px;
    }
    .discMsgColor{
        font-size: 12px;
    }
}


@media (min-width: 1280px) and (max-width: 1366px) { 
    .vendorTitle{
        font-size: 24px;
        margin-bottom: 20px;  
    }
    .summeryTotCurrency{
            font-size: 20px;
            margin-top: 4px;
    }
    .summeryTotAmount{
            font-size: 20px;
            margin-top: 4px;
    }
    .cartInnerCurrencyWrapper1{
        /*margin-left: 20px;*/
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 11px;
    }
    .cartTitle{
        font-size: 30px;
        padding-left: 75px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) { 
    .cartTitle {
        font-size: 40px; 
        padding-left: 75px;
    }    
    .vendorTitle{
        font-size: 24px;
        margin-bottom: 20px;  
        margin-left: 6%;
    }
    .singleVendorBox {
        margin-left: 10%;
    }
}

@media (min-width: 1440px) and (max-width: 1535px) { 
    .cartTitle {
        font-size: 56px; 
        /*margin-left: 5%;*/
        margin-top: 50px;
    }
    .vendorTitle{
        font-size: 26px;
        margin-bottom: 20px;  
    }

    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper{
        font-size: 14px;
    }
    .cartProductPrize,.oldprice{
        font-size: 13px;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 18px;        
    }
    .vendorWarning{
        font-size: 14px;
    }
    .summaryClass{
        max-height: 300px;
        padding: 20px 30px;
    }
    .summaryClass table td{
        font-size: 20px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 19px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 22px;
        margin-top: 10px;
    }
    .checkoutBtn {
        font-size: 22px;
    }
    .discMsgColor{
        font-size: 18px;
    }
    .currency{
        /*margin-left: -70%;*/
    }
    .amount{
        margin-left: 30%;
    }
    .cartInnerCurrencyWrapper1{
        /*margin-left: 20px;*/
        padding-left: 40px;
    }
    .infoCircle{
        font-size: 17px;
        margin-top: 5px !important;
            margin-right: -3px;
    }

    .cartTotalLineWrapper{
        margin-left: -40px;
    }
}

@media (min-width: 1536px) and (max-width: 1679px) { 
    .cartTitle {
        font-size: 56px; 
        padding-left: 80px;
        /*margin-left: 5%;*/
        margin-top: 50px;
    }
    .vendorTitle{
        font-size: 27px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper{
        font-size: 15px;
    }
    .cartProductPrize,.oldprice{
        font-size: 14px;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 19px;        
    }
    .vendorWarning{
        font-size: 15px;
    }
    .summaryClass{
        max-height: 300px;
        padding: 20px 30px;
    }
    .summaryClass table td{
        font-size: 22px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 21px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 24px;
        margin-top: 10px;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 30px;
    }
    .checkoutBtn {
        font-size: 23px;
    }
    .discMsgColor{
        font-size: 18px;
    }
    .currency{
        /*margin-left: -80%;*/
    }
    .amount{
        margin-left: 20%;
    }

    .cartInnerCurrencyWrapper1{
        padding-left: 45px;
        /*margin-left: 20px;*/
    }
    .infoCircle{
        font-size: 18px;
        margin-top: 6px !important;
         margin-right: -3px;
    }
    .cartDeleteIcon{
        width: 17px!important;
    }
    .cartHeartIcon{
        width: 17px!important;
    }
    .cartTotalLineWrapper{
        margin-left: -40px;
    }
}

@media (min-width: 1680px) and (max-width: 1919px) { 
    .cartTitle {
        font-size: 60px; 
        padding-left: 80px;
        /*margin-left: 5%;*/
        margin-top: 50px;
    }
    .vendorTitle{
        font-size: 28px;
        margin-bottom: 20px;  
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
    }
    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 15px;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 19px;        
    }
    .vendorWarning{
        font-size: 15px;
    }
    .summaryClass{
        max-height: 300px;
        padding: 20px 30px;
    }
    .summaryClass table td{
        font-size: 22px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 22px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 28px;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 35px;
    }
    .checkoutBtn {
        font-size: 23px;
    }
    .discMsgColor{
        font-size: 18px;
    }
    .currency{
        /*margin-left: -95%;*/
    }
    .amount{
        margin-left: 15%;
    }
    .cartInnerCurrencyWrapper1{
        padding-left: 45px;
        /*margin-left: 20px;*/
    }
    .infoCircle{
        font-size: 19px;
        margin-top: 6px !important;
            margin-right: -3px;
    }
    .cartDeleteIcon{
        width: 17px!important;
    }
    .cartHeartIcon{
        width: 17px!important;
    }
    .cartTotalLineWrapper{
        margin-left: -40px;
    }
}

@media (min-width: 1920px)  {
    .shopping{
        font-size: 16px;
    }
    .infoCircle{
        font-size: 20px;
        margin-top: 9px !important;
            margin-right: -3px;
    }
    .cartInnerCurrencyWrapper1{
        text-align: right;
       /* margin-left: 20px;*/
    }
    .tdCartWrapper {
        right: -4% !important;
        text-align: right;
    }
    .tdCartWrapper span{
        text-align: right;
    }
    .cartTitle {
        font-size: 65px; 
        padding-left: 80px;
     /*   margin-left: 5%;*/
        margin-top: 50px;
    }
    .vendorTitle{
        font-size: 30px;
        margin-bottom: 10px;  
    }
    .singleVendorBox {
        margin-left: 13%;
    }
    .tableHeading{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .productBrand, .productName, .quantityWrapper, .cartProductPrize,.oldprice{
        font-size: 17px;
    }
    .cartWishlist, .trashIcon,.cartWishlistRed{
        font-size: 20px;        
    }
    .vendorWarning{
        font-size: 16px;
    }
    .summaryClass{
        max-height: 300px;
        padding: 20px 30px;
    }
    .summaryClass table td{
        font-size: 25px; 
    }
    .cartInnerTitleWrapper, .summeryCurrency , .summeryAmount { 
        font-size : 25px;
    }
    .summeryTotCurrency, .summeryTotAmount, .cartInnerTitleWrapperOfGrandTotal{
        font-size: 30px;
        padding-left: 15px;
    }
    .cartInnerTitleWrapperOfGrandTotal{
        padding-left: 35px;
    }
    .checkoutBtn {
        font-size: 25px;
    }
    .discMsgColor{
        font-size: 19px;
    }
    .currency{
        /*margin-left: -110%;*/
    }
    .amount{
        margin-left: 0%;
    }
    .cartDeleteIcon{
        width: 19px!important;
    }
    .cartHeartIcon{
        width: 21px!important;
    }
    .cartTotalLineWrapper{
        margin-left: -40px;
    }

}

