
@font-face {
  font-family:'Montserrat-SemiBold';
  src: url('../../Themes/Sampurna/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('../../Themes/Sampurna/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family:'Montserrat-Regular';
  src: url('../../Themes/Sampurna/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Medium';
  src: url('../../Themes/Sampurna/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family:'Montserrat-Thin';
  src: url('../../Themes/Sampurna/fonts/Montserrat-Thin.ttf');
}

.navPillsWrapper a {
    background-color: #e9e9e9;
    color           : black;
    border-radius   : 15px !important;
}

.myAccountTitleWrapper {
    color         : #000000;
    font-family   : 'Montserrat-Bold';
    letter-spacing: 0px;
    color         : #000000;
    opacity       : 1;
}

.sideBarTabNames{
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
}

.sideBarTabNameAllignment{
    padding-left: 60px;
}




/**********************************************************Media Query***************************************************************/

@media only screen and (min-device-width: 320px) {

    .sideBarTabNames{
        font-size: 13px;
    }

    .sideBarTabNameAllignment{
        padding-left: 30px;
    }

    .myAccountTitleWrapper{
        font-size: 19px;
    }

    .navPillsWrapper a {
        border-radius: 9px !important;
    }
}


@media only screen and (min-device-width: 360px) {

    .sideBarTabNames{
        font-size: 14px;
    }

    .sideBarTabNameAllignment{
        padding-left: 45px;
    }

    .myAccountTitleWrapper{
        font-size: 20px;
    }

    .navPillsWrapper a {
        border-radius: 9px !important;
    }
}

@media only screen and (min-device-width: 375px) {

    .sideBarTabNames{
        font-size: 14px;
    }

    .sideBarTabNameAllignment{
        padding-left: 55px;
    }

    .myAccountTitleWrapper{
        font-size: 21px;
    }

    .navPillsWrapper a {
        border-radius: 9px !important;
    }
}



@media only screen and (min-device-width: 414px) {

    .sideBarTabNames{
        font-size: 14px;
    }

    .sideBarTabNameAllignment{
        padding-left: 75px;
    }

    .myAccountTitleWrapper{
        font-size: 22px;
    }

    .navPillsWrapper a {
        border-radius: 9px !important;
    }

}


@media only screen and (min-device-width: 768px) {

    .sideBarTabNames{
        font-size: 11px;
    }

    .sideBarTabNameAllignment{
        padding-left: 20px;
    }

    .myAccountTitleWrapper{
        font-size: 22px;
    }

    .navPillsWrapper a {
        border-radius: 8px !important;
    }

    .myAccountSideWrapper{
        margin-top: 11px !important;
        margin-left: -15px;
    }
} 

@media only screen and (min-device-width: 1024px) {

    .sideBarTabNames{
        font-size: 12px;
    }

    .myAccountTitleWrapper{
        font-size: 26px;
    }

    .navPillsWrapper a {
        border-radius: 10px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 15px;
    }

    .myAccountSideWrapper{
        margin-top: 0px !important;
        margin-left: -14px;
    }
} 

@media only screen and (min-device-width: 1280px) {

     .sideBarTabNames{
        font-size: 16px;
    }

    .myAccountTitleWrapper{
        font-size: 29px;
    }

    .navPillsWrapper a {
        border-radius: 11px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 38px;
        margin-top: -5px;
    }
    
    .myAccountSideWrapper{
        margin-top: 24px !important;
        margin-left: -10px;
    }

}    


@media only screen and (min-device-width: 1366px) {

    .sideBarTabNames{
        font-size: 16px;
    }

    .myAccountTitleWrapper{
        font-size: 29px;
    }

    .navPillsWrapper a {
        border-radius: 11px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 38px;
        margin-top: -5px;
    }
    
    .myAccountSideWrapper{
        margin-top: 24px !important;
        margin-left: -10px;
    }
}    

@media only screen and (min-device-width: 1440px) {

    .sideBarTabNames{
        font-size: 17px;
    }

    .myAccountTitleWrapper{
        font-size: 32px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 35px;
        margin-top: -7px;
    }

    .myAccountSideWrapper{
        margin-top: 27px !important;
        margin-left: -10px;
    }
}


@media only screen and (min-device-width: 1536px) {
    
    .sideBarTabNames{
        font-size: 18px;
    }

    .myAccountTitleWrapper{
        font-size: 35px;
    }

    .myAccountSideWrapper{
        margin-top: 29px !important;
        margin-left: -10px;
    }

    .sideBarTabNameAllignment{
        padding-left: 50px;
        margin-top: -8px;
    }

}


@media only screen and (min-device-width: 1920px) {

    .myAccountSideWrapper{
        margin-top: 33px !important;
        margin-left: -9px;
    }

    .myAccountTitleWrapper{
        font-size: 38px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNames{
        font-size: 19px;
    }

    .myAccountMainDiv{
        margin-top: 30px;
    }

    .sideBarTabNameAllignment{
        padding-left: 95px;
        margin-top: -8px;
    }

}

@media only screen and (min-device-width: 2560px) {

    .myAccountSideWrapper{
        margin-top: 28px !important;
        margin-left: -9px;
    }

    .myAccountTitleWrapper{
        font-size: 41px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNames{
        font-size: 24px;
    }

    .myAccountMainDiv{
        margin-top: 30px;
    }

    .sideBarTabNameAllignment{
        padding-left: 150px;
        margin-top: -14px;
    }

}

