
.navPillsWrapper a{
    background-color: #e9e9e9;
    color:black;
    border-radius: 10px !important;
}
/* .myAccountSideWrapper{
    margin-top: -36px;
} */


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.myAccountSideWrapper{
        margin-top: -36px;
    }
  }