@font-face {
  font-family:'Montserrat-SemiBold';
  src: url('../../Themes/Sampurna/fonts/Montserrat-SemiBold.ttf');
}


.navPillsWrapper a {
    background-color: #e9e9e9;
    color           : black;
    border-radius   : 15px !important;
}

/* .myAccountSideWrapper{
    margin-top: -36px;
} */
.myAccountTitleWrapper {
    color         : #000000;
    font-family   : 'Montserrat-Bold';
    letter-spacing: 0px;
    color         : #000000;
    opacity       : 1;
}

.sideBarTabNames{
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
}

.sideBarTabNameAllignment{
    padding-left: 60px;
}


/* Extra large devices (large desktops, 1200px and up) */


/*@media (min-width: 1200px) {
    .myAccountSideWrapper {
        margin-top: -36px;
    }
}

@media (max-width: 1024px) {
    
    .sideBarTabNameAllignment{
        padding-left: 20px;
    }

}

@media (max-width: 768px) {
    
    .sideBarTabNameAllignment{
        padding-left: 85px;
    }

}

@media (max-width: 480px) {
    
    .sideBarTabNameAllignment{
        padding-left: 85px;
    }

}

@media (max-width: 384px) {
    
    .sideBarTabNameAllignment{
        padding-left: 70px;
    }

}

@media (max-width: 360px) {
    
    .sideBarTabNameAllignment{
        padding-left: 60px;
    }

}


@media (max-width: 320px) {
    
    .sideBarTabNameAllignment{
        padding-left: 40px;
    }

}*/

@media only screen and (min-device-width: 480px) {

    .sideBarTabNames{
        font-size: 12px;
    }

    .sideBarTabNameAllignment{
        padding-left: 20px;
    }

    .myAccountTitleWrapper{
        font-size: 25px;
    }

    .myAccountSideWrapper{
        margin-top: 0px !important;
        margin-left: 0px;
    }

    .navPillsWrapper a {
        border-radius: 6px !important;
    }
} 


@media only screen and (min-device-width: 768px) {

    .sideBarTabNames{
        font-size: 12px;
    }

    .sideBarTabNameAllignment{
        padding-left: 20px;
    }

    .myAccountTitleWrapper{
        font-size: 25px;
    }

    .myAccountSideWrapper{
        margin-top: 23px !important;
        margin-left: -10px;
    }

    .navPillsWrapper a {
        border-radius: 6px !important;
    }
} 

@media only screen and (min-device-width: 1024px) {

    .sideBarTabNames{
        font-size: 12px;
    }

    .navPillsWrapper a {
        border-radius: 10px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 15px;
    }

    .myAccountTitleWrapper{
        font-size: 26px;
    }

    .myAccountSideWrapper{
        margin-top: 23px !important;
        margin-left: 0px;
    }
} 


@media only screen and (min-device-width: 1366px) {

     .sideBarTabNames{
        font-size: 17px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 38px;
    }

    .myAccountTitleWrapper{
        font-size: 32px;
    }
    .myAccountSideWrapper{
        margin-top: 29px !important;
        margin-left: -10px;
    }
}    

@media only screen and (min-device-width: 1440px) {

    .sideBarTabNames{
        font-size: 17px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNameAllignment{
        padding-left: 35px;
    }

    .myAccountTitleWrapper{
        font-size: 35px;
    }

    .myAccountSideWrapper{
        margin-top: 29px !important;
        margin-left: -10px;
    }
}


@media only screen and (min-device-width: 1536px) {
    
    .sideBarTabNames{
        font-size: 18px;
    }

    .myAccountTitleWrapper{
        font-size: 38px;
    }

    .myAccountSideWrapper{
        margin-top: 33px !important;
        margin-left: -10px;
    }

    .sideBarTabNameAllignment{
        padding-left: 50px;
    }

}


@media only screen and (min-device-width: 1920px) {

    .myAccountSideWrapper{
        margin-top: 40px !important;
        margin-left: -9px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNames{
        font-size: 25px;
    }

    .myAccountTitleWrapper{
        font-size: 50px;
    }

    .myAccountMainDiv{
        margin-top: 30px;
    }

    .sideBarTabNameAllignment{
        padding-left: 70px;
    }

}

@media only screen and (min-device-width: 2560px) {

    .myAccountSideWrapper{
        margin-top: 40px !important;
        margin-left: -9px;
    }

    .navPillsWrapper a {
        border-radius: 15px !important;
    }

    .sideBarTabNames{
        font-size: 30px;
    }

    .myAccountTitleWrapper{
        font-size: 50px;
    }

    .myAccountMainDiv{
        margin-top: 30px;
    }

    .sideBarTabNameAllignment{
        padding-left: 130px;
    }

}

