.blockWrapper{
	height: auto;
} 
.innerblockWrapper{
}
.bookStoreTitle{
	font-size: 30px;
	text-align: center;
}
.description1{
	margin-top: 18px;
	text-align: justify;
}
.firstblock{
	height:350px;
	margin-top: 70px;
	text-align: center;
}
.firstCircle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	background-color: #ff4157;
	/*margin-left: 112px;*/
}
.googleMapImage{
	height: 50px;
	width: 50px;
	text-align: center;
	margin-top: 24px;
	padding: 0px;
}
.globeImage{
	height: 50px;
	width: 50px;
	text-align: center;
	margin-top: 100px;
	padding: 0px;
}
.firstNumber{
	margin-top: 15px;
	font-size: 2.50rem;
    color: #000;
    font-weight: 700;
}
.firstTitle{
	color: #000;
	font-size: 18px;
}
/*.secondblock{
	height:350px;
	margin-top: 70px;
	text-align: center;
}
.thirdblock{
	height:350px;
	margin-top: 70px;
	text-align: center;
}*/
