.thirdBlockHome{
	margin-top: 30px;
}
.fourthBlockHome{
	margin-top: 30px;
}
.fifthBlockHome{
	margin-top: 20px;
}
.sixthBlockHome{
	margin-top: 40px;
	margin-bottom: 35px;
}
.eightBlockHome{
	margin-top: 20px;
	margin-bottom: 30px;
}
.tenBlockHome{
	margin-top: 30px;
	margin-bottom: 35px;
}
.tewlveBlockHome{
	margin-top: 25px;
	margin-bottom: 40px;
}
@media (min-width: 1920px)  {
	.secondBlockHome{
		margin-top: 10px;
	}
	.thirdBlockHome{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.fifthBlockHome{
		margin-top: 20px;
	}
	.sixthBlockHome{
	    margin-bottom: 25px;
	    margin-top: 10px;
	 }
	.eightBlockHome{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.nineBlockHome{
		margin-top: 30px;
	}
	.tenBlockHome{
		margin-bottom: 30px;
		margin-top: 10px;
	}
	.tewlveBlockHome{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	
}