.paymentMainWrapper{
    height: auto;
    border: 1px solid lightgray;
    border-radius: 12px;
}
.paymentLeftSideWrapper{
    height: auto;
    background-color: #3E9D5E;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
 .backtoMyOrdersDivWrapper img{
        margin-right: 8px;
}
.paymentRightSideWrapper{
    height: auto;
    background-color:#fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.paymentBgWrapper{
    position: absolute;
	width: 42.5%;
    top: 100px;
    left: 140px;
}
.paymentLogoWrapper{
    height:30px;
    margin-right: 10px;
}
.backtoMyOrdersDivWrapper a{
    color: #033554 !important;
    font-family: 'Montserrat-Medium';
}
.paymentAlertWrapper i{
    font-size:40px;
    color: #fff;
}
.paymentAlertWrapper h6{
    color: #fff;

}
.paymentLockWrapper i{
    color:#fff;
}
.paymentLockWrapper{
    color: #fff;
    font-size: 14px;
}
.paymentOrderMesseageTitle{
    font-size: 15.5px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: 'Montserrat-Regular';
}
.paymentOrderMesseageSubTitle{
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #F9F9F9;
    font-family: 'Montserrat-Light';
}
.paymentOrderMesseageSubTitle1{
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #F9F9F9;
    margin-left: 28px!important;
}
.paymentOrderMesseageTitle2{
    font-size: 16px;
    letter-spacing: 0px;
    font-family: 'Montserrat-Medium';
}

.paymentOrderMesseageSubValue2{
    font-size: 15px;
    font-family: 'Montserrat-Bold';
}
.paymentOrderMesseageSubTitleValue3{
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
}
.paymentOrderMesseageSubTitleValue{
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 600;
    margin-left: 28px!important;
    font-family: 'Montserrat-Regular';
}
.paymentOrderMesseageSubTitleImg{
    margin-right: 5px;
    width: 18px;
    height: 23px;
}
.paymentOrderCurrency{
    font-size: 13px;
}

/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */


/* [xs] Extra Small Devices [Phone - Portrait, less than 575px] */
@media (max-width: 575px){
  /* No media query for "xs'' since this is the default in Bootstrap 4 because it is "Mobile First" */
}


/* [sm] Small Devices [Phone - Landscape, 576px and up] */
@media (min-width: 576px){

}


/* [md] Medium Devices [Tablet - Portrait, 768px and up] */
@media (min-width: 768px){

}


/* [lg] Large Devices [Tablet - Landscape, 992px and up] */
@media (min-width: 992px){

}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1200px and up] */
@media (min-width: 1200px){

    .paymentLeftSideWrapper{
        height: 480px;
    }
    .paymentRightSideWrapper{
        height: 480px;
    }
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1366px and up] */
@media (min-width:1366px){

}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1440px and up] */
@media (min-width:1440px){

}


/* [xxl] Extra Large Devices [Desktop/Laptop (FHD), 1920px and up] */
@media (min-width:1920px){
    .paymentLogoWrapper{
        height: 42px;
        margin-top: 20px!important;
    }
    .paymentOrderMesseageTitle{
        font-size: 22px;
    }
    .paymentOrderMesseageSubTitle{
        font-size: 18px;
    }
    .paymentOrderMesseageSubTitleValue3{
        font-size: 18px;
    }
    .paymentOrderCurrency{
        font-size: 14px;
    }
    .paymentOrderMesseageSubTitleValue{
        font-size: 18px;
    }
    .paymentOrderMesseageSubTitle1{
        font-size: 18px;
    }
    .paymentOrderMesseageTitle2{
        font-size: 22px;
    }
    .paymentOrderMesseageSubValue2{
        font-size: 22px;
    }
    .backtoMyOrdersDivWrapper a{
        font-size: 22px;
    }
    .backtoMyOrdersDivWrapper img{
        height: 15px;
        margin-right: 8px;
    }
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */