
.stdBlockFGImage{
	height: 190px;
    border-radius: 19px;
	margin-top: 30px;
}
.stdBlockDescriptionBlack{
    font-size: 20px;
    color: #000;
	text-align: justify;
	margin-top: 20px;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (min-device-width: 1200px){

	.stdBlockWrapper{
		height: 430px;
	}
	
	.stdBlockFGImage{
		height: 300px;
		margin-left: 0px;
	}
	
	.stdBlockDescriptionBlack{
		font-size: 20px;
		margin-top: 90px;
		margin-left: 50px;
		margin-right: 80px;
		text-align: right;
	}
}


@media (min-device-width: 1366px){

	.stdBlockFGImage{
        height: 309px;
    }

    .stdBlockDescriptionBlack{
        font-size: 19px;
        margin-top: 115px;
        margin-left: 181px;
    	margin-right: 58px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 90px;
    }

}


@media (min-device-width: 1440px){

	.stdBlockFGImage{
        height: 300px;
    }

    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 105px;
        margin-left: 185px;
    	margin-right: 58px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 23px;
    }

}

@media (min-device-width: 1536px){

	.stdBlockFGImage{
        height: 362px;
        margin-left: 61px;
    }

    .stdBlockDescriptionBlack{
        font-size: 21px;
        margin-top: 133px;
        margin-left: 205px;
    	margin-right: 54px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 120px;
    }

}

/*@media (min-device-width: 1640px){

}*/

@media (min-device-width: 1920px){

	.stdBlockFGImage{
        height: 460px;	
        margin-left: 103px;
    }

    .stdBlockDescriptionBlack{
        font-size: 22px;
        margin-top: 200px;
        margin-left: 212px;
        text-align: justify;
    }

    .stdBlockWrapper{
    	height: 430px;
    	padding-bottom: 520px;
	}

}

@media (min-device-width: 2560px){

	.stdBlockFGImage{
        height: 543px;
    }

    .stdBlockDescriptionBlack{
        font-size: 28px;
        margin-top: 210px;
        margin-left: 233px;
        text-align: justify;
    }

    .stdBlockWrapper{
    	height: 430px;
    	padding-bottom: 611px;
	}

}

