
.stdBlockFGImage{
	height: 190px;
    border-radius: 19px;
	/*margin-top: 30px;*/
}
.stdBlockDescriptionBlack{
    font-size: 20px;
    color: #000;
	text-align: justify;
	margin-top: 20px;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (max-width: 480px){
    .stdBlockWrapper{
        height: 450px;
    }
    
    .stdBlockFGImage{
        height: 150px;
        margin-left: 0px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 30px;
        /*margin-left: 50px;*/
        margin-right: 80px;
        text-align: right;
        text-align: justify;
    }
}

@media (min-width: 480px) and (max-width: 640px){
    .stdBlockWrapper{
        height: 480px;
    }
    
    .stdBlockFGImage{
        height: 300px;
        margin-left: 0px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 30px;
        /*margin-left: 50px;*/
        margin-right: 80px;
        text-align: right;
        text-align: justify;
    }
}

@media (min-width: 640px) and (max-width: 860px){
    .stdBlockWrapper{
        height: 500px;
    }
    
    .stdBlockFGImage{
        height: 360px;
        margin-left: 0px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 30px;
        /*margin-left: 50px;*/
        margin-right: 80px;
        text-align: right;
        text-align: justify;
    }
}

@media (min-width: 860px) and (max-width: 1280px) {
    .stdBlockWrapper{
        height: 600px;
    }
    
    .stdBlockFGImage{
        height: 440px;
        margin-left: 0px;
    }
    
    .stdBlockDescriptionBlack{
        font-size: 20px;
        /*margin-top: 90px;*/
        /*margin-left: 50px;*/
        margin-right: 80px;
        text-align: right;
        text-align: justify;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) { 

	.stdBlockWrapper{
		height: 500px;
	}
	
	.stdBlockFGImage{
		height: 380px;
		margin-left: 0px;
	}
	
	.stdBlockDescriptionBlack{
		font-size: 20px;
		margin-top: 90px;
		margin-left: 150px;
		/*margin-right: 80px;*/
		text-align: right;
	}
}


@media (min-width: 1366px) and (max-width: 1440px) { 

	.stdBlockFGImage{
        height: 320px;
    }

    .stdBlockDescriptionBlack{
        font-size: 20px;
        /*margin-top: 115px;*/
        /*margin-left: 181px;*/
    	/*margin-right: 58px;*/
        text-align: right;
    }

    .stdBlockWrapper {
        margin-bottom: 0px;
    }

}


@media (min-width: 1440px) and (max-width: 1536px) { 

	.stdBlockFGImage{
        height: 330px;
    }

    .stdBlockDescriptionBlack{
        font-size: 20px;
        margin-top: 80px;
        margin-left: 150px;
    	margin-right: 58px;
        text-align:right;
    }

    .stdBlockWrapper {
        margin-bottom: 110px;
    }

}

@media (min-width: 1536px) and (max-width: 1680px) { 

	.stdBlockFGImage{
        height: 362px;
        margin-left: 61px;
    }

    .stdBlockDescriptionBlack{
        font-size: 21px;
        margin-top: 133px;
        margin-left: 150px;
    	margin-right: 54px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 120px;
    }

}

@media (min-width: 1680px) and (max-width: 1920px) { 
    .stdBlockFGImage{
        height: 362px;
        margin-left: 61px;
    }

    .stdBlockDescriptionBlack{
        font-size: 21px;
        margin-top: 133px;
        margin-left: 150px;
        margin-right: 54px;
        text-align: justify;
    }

    .stdBlockWrapper {
        margin-bottom: 120px;
    }
}

/*@media (min-device-width: 1640px){

}*/

@media (min-width: 1920px) and (max-width: 2560px)  {
    .stdBlockFGImage{
        height: 460px;  
        margin-left: 103px;
    }

    .stdBlockDescriptionBlack{
        font-size: 22px;
        margin-top: 200px;
        margin-left: 212px;
        text-align: right;
    }

    .stdBlockWrapper{
        height: 430px;
        padding-bottom: 520px;
    }
}

@media (min-device-width: 2560px){

	.stdBlockFGImage{
        height: 543px;
    }

    .stdBlockDescriptionBlack{
        font-size: 28px;
        margin-top: 210px;
        margin-left: 150px;
        text-align: right;
    }

    .stdBlockWrapper{
    	height: 480px;
    	padding-bottom: 611px;
	}

}

