.stdBlockFGImage{
    width:75%;
    height: 125%;
    border-radius: 10px;
}

.stdBlockWrapper{
   min-height: 350px;
   height: auto;
}

.stdBlockDescriptionBlack{
    font-size: 20px!important;
    color: black;
    text-align: justify;
}

.stdBlockDescriptionBlack strong{
    font-size: 32px!important;
    color: black;
    text-align: justify;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .stdBlockFGImage{
        width:84%;
        height: 94%;
        border-radius: 10px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .stdBlockFGImage{
        width:81%;
        height: 99%;
        border-radius: 10px;
    }
    .stdBlockDescriptionBlack{
        font-size: 20px!important;
        color: black;
        margin-left: 84px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .stdBlockFGImage{
        width:81%;
        height: 99%;
        border-radius: 10px;
    }
    .stdBlockDescriptionBlack{
        font-size: 20px!important;
        color: black;
        margin-left: 125px;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .stdBlockFGImage{
        width:81%;
        height: 99%;
        border-radius: 10px;
    }
    .stdBlockDescriptionBlack{
        font-size: 20px!important;
        color: black;
        margin-left: 125px;
        text-align: justify;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .stdBlockFGImage{
        width:81%;
        height: 99%;
        border-radius: 10px;
    }
    .stdBlockDescriptionBlack{
        font-size: 20px!important;
        color: black;
        margin-left: 125px;
        text-align: justify;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .stdBlockFGImage{
        width:81%;
        height: 50%;
        border-radius: 10px;
    }
    .stdBlockDescriptionBlack{
        font-size: 20px!important;
        color: black;
        margin-left: 125px;
        text-align: justify;
    }

}
