.addressOnGoogleMapWrapper{
	height: auto;
	background-color: #fff;
}
.addressOnGoogleMapWrapper .mapouter{
	position: relative;
	text-align: right;
	display: none;
}
.addressOnGoogleMapWrapper .gmap_canvas{
	overflow: hidden;
	background: none!important;
}
.addressOnGoogleMapWrapper .demogmap_canvas{
	overflow: hidden;
	padding: 15px 0px;
}