.item_Name{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionCategoryBlock img{
    height: 130px;
    border-radius: 10px;
    width: 100%;
}
.producttextclass{
    margin-top: 20px;
}
.itemImg img{
    border-radius: 10px;
}
.secCateblock{
    text-decoration: none !important;
    color: #000;
    transition: 0.6s ease;
    margin-bottom: 15px;
}
.secCateblock:hover{
    color: lightcoral;
}