.item_Name {
    font-size    : 18px;
    margin-top   : 10px;
    margin-bottom: 10px;
}

.sectionCategoryBlock img {
    height       : 120px;
    border-radius: 10px;
    width        : 100%;
}

.producttextclass {
    margin-top    : 20px;
    text-transform: capitalize;
    font-size     : 22px;
}

.secCateblock .itemImg img {
    background-image : url(/images/eCommerce/productloader.gif);
    background-size  : cover;
    background-repeat: no-repeat;
    box-shadow       : -3px 3px 6px #00000029;
    border-radius    : 24px;
    height           : 150px;
}
.categoryblock .itemImg img {
    background-image : url(/images/eCommerce/productloader.gif);
    background-size  : cover;
    background-repeat: no-repeat;
    box-shadow       : -3px 3px 6px #00000029 !important;
    border-radius    : 7px;
    height           : 200px;
}

.titleFont {
    font-size       : 36px !important;
    margin-top      : 40px !important;
    /* margin-bottom: 20px !important; */
    color           : black;
}

.line {
    position          : absolute;
    height            : 2px;
    width             : 100%;
    background-color  : #000;
    /*background-color: #ff4157;*/
    /*margin          :0 auto;*/
    /*margin-bottom   : 45px;*/
    bottom            : 0;
    top               : 30;
}

.secCateblock {
    text-decoration: none !important;
    color          : #000;
    transition     : 0.6s ease;
    margin-bottom  : 15px;
}

.secCateblock:hover {
    color: lightcoral;
}

.rowPadding {
    padding: 20px 40px 0px 40px;
}


.subCategoryBlock .item_Name{
    margin-top: -30px !important;
}

@media only screen and (max-device-width: 640px) {
  
}
@media (min-width: 768px) and (max-width: 1024px) {  
    .secCateblock .itemImg img{
        height: 110px !important;
    }
    .categoryblock .itemImg img{
        height: 150px;
    }
}
@media (min-width: 769px) and (max-width: 1365px) {  
    .secCateblock .itemImg img{
        height: 150px;
    }
    .categoryblock .itemImg img{
        height: 150px;
    }
}
@media (min-width: 1024px) and (max-width: 1366px) {  
    .secCateblock .itemImg img{
        height: 120px;
    }
    .categoryblock .itemImg img{
        height: 150px;
    }
}
@media (min-width: 1281px) and (max-width: 1535px) {  
    .secCateblock .itemImg img{
        height: 150px;
    }
    .categoryblock .itemImg img{
        height: 200px;
    }
}
@media (min-width: 1536px) and (max-width: 1679px) {  
    .secCateblock .itemImg img{
        height: 180px;
    }
    .categoryblock .itemImg img{
        height: 250px;
    }
}

@media (min-width: 1680px) and (max-width: 1920px) {  
    .secCateblock .itemImg img{
        height: 220px;
    }
    .categoryblock .itemImg img{
        height: 310px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {  
    
    .secCateblock .itemImg img{
        height: 300px;
    }
    .categoryblock .itemImg img{
        height: 400px;
    }
}

