@font-face {
  font-family:'Montserrat-Thin';
  src: url('../../../fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family:'Montserrat-SemiBold';
  src: url('../../../fonts/Montserrat-SemiBold.ttf');
}

.contactUsTrollyMainWrapper{
	min-height: 1337px;
}
.contactUsTrollyBreadcumWrapper{
	height: 300px;
	background-size: 170% 100%;
}
.getInTouchBtnMainWrapper{
	margin-left: 13px;
}
.contactAddress{
	display: block;
}
.contactusFormWrapperMain{
	min-height: 970px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: absolute;
	margin-top: 227px;
	border-radius: 4px;
}
.contactusFormWrapperLeftSide{
	/*height: 550px;*/
	/*min-height: 550px;*/
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.emailWrapperContactUs{
	margin-top: -25px;
	margin-left: 13px;
}
.contactusFormWrapperRightSide{
	min-height: 476px;
	background-color: #033554;
	opacity: 1;
	border-radius: 4px;
}
.contactusFormInputInsideWrapper{
	border: none;
	border-bottom: 1px solid #bbb;
	border-radius: 0px;
	box-shadow: none;
	background-color: transparent;
}
.contactusFormInputWrapper{
	color:#033554;
	font-size: 14px;
}
.getInTouchBtnWrapper{
	height: 32px;
	width: 82px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #033554;
	outline: none;
	border: none;
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
}
.error{
	color: red;
}
.getInTouchBtnWrapper:hover{
	color: #fff;
}
.getInTouchSubTitle{
	color: #fff;
	font-family: "Montserrat-SemiBold";
	font-size: 18px;
}
.phoneFontAwesomeWrapper, .phoneFontAwesomeWrapper label{
	color: #fff;
	font-family:'Montserrat-Thin';
	font-size: 13px;
	cursor: pointer;
}
.hero{
	height: 35px;
	background: #033554;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.social_links{
	display: flex;
	margin-left: -8px;
	cursor: pointer;
}
.social_links a{
	width: 28px;
	height: 28px;
	text-align: center;
	text-decoration: none;
	color: #033554;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	margin: 0 5px;
	border: 1px solid #c0ccd4;
	background-color: #c0ccd4;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	font-size: 14px;
	cursor: pointer;
}
.social_links a .fab{
	margin-top: 7px;
	text-align:center;
	line-height: 80px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
	color: black;
}
.social_links i{
	margin-top: 6px;
}
.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
	-webkit-appearance: none;    
	appearance: none;
	margin: 0;  
}
.contactUsTrollyMainWrapper input[type='number'], 
.contactUsTrollyMainWrapper input[type='number']:hover,
.contactUsTrollyMainWrapper input[type='number']:focus{
	-moz-appearance: textfield;
}
.contactUsRightLogo{
	display: none;
}

.socialMediaFooterIcons{
	height: 20px;
}

.getInTouchIcon{
	height: 12px;
}

.contactUsPhoneIcon, .contactUsMailIcon{
	height: 15px;
}

/*.contactUscontent{
	font-size: 13px;
	color: #FFF;
	margin-top: 80px;
	font-family: 'Montserrat-Thin';
	text-align: justify;
}*/



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (max-width: 480px){
  /* No media query for "xs'' since this is the default in Bootstrap 4 because it is "Mobile First" */
	.contactUsTrollyBreadcumWrapper{
		height: 100px;
		background-size: cover;
	}

	.contactusFormWrapperMain{
		margin-top: 101px;
	}

}


/* [xs] Extra Small Devices [Phone - Portrait, less than 575px] */
@media (max-width: 575px){
  /* No media query for "xs'' since this is the default in Bootstrap 4 because it is "Mobile First" */
}


/* [sm] Small Devices [Phone - Landscape, 576px and up] */
@media (min-width: 576px){



}

@media (min-width: 567px){

	.contactUsTrollyBreadcumWrapper{
		height: 150px;
    	background-size: 100% 120%;
	}

	.contactusFormWrapperMain{
		margin-top: 150px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 1325px;
	}

}


/* [md] Medium Devices [Tablet - Portrait, 768px and up] */
@media (min-width: 768px){
	.contactUsTrollyBreadcumWrapper{
		height: 200px;
		background-size: cover;
	}

	.contactusFormWrapperMain{
		margin-top: 150px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 1267px;
	}

	.contactusFormWrapperRightSide{
		height: 448px;
	}

	.phoneFontAwesomeWrapper label{
		font-size: 15px;
	}

}


/* [lg] Large Devices [Tablet - Landscape, 992px and up] */
@media (min-width: 992px){

	.contactUsTrollyMainWrapper{
		min-height: 749px;
	}
	.contactUsTrollyBreadcumWrapper{
		height: 231px;
    	background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
	}
	.getInTouchBtnMainWrapper{
		margin-left: 13px;
	}
	.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		height: auto;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}
	.contactusFormWrapperMain{
		min-height: 450px;
		height: auto;
		/*margin-top: 227px;*/
		margin-top: 163px;
	}
	.contactusFormInputWrapper{
		font-size: 14px;
	}
	.getInTouchBtnWrapper{
		height: 32px;
		width: 82px;
		font-size: 14px;
		margin-top: 0px;
	}
	.getInTouchBtnWrapper:hover{
		height: 32px;
		width: 82px;
	}
	.getInTouchSubTitle{
		font-size: 18px;
	}
	.phoneFontAwesomeWrapper label{
		font-size: 14px;
	}
	.phoneFontAwesomeWrapper{
		font-size: 14px;
	}
	.hero{
		/*height: 35px;*/
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.social_links{
		display: flex;
		margin-left: -8px;
	}
	.social_links a{
		width: 28px;
		height: 28px;
		text-align: center;
		margin: 0 5px;
		font-size: 14px;
	}
	.social_links a .fab{
		margin-top: 7px;
		text-align:center;
		line-height: 80px;
	}
	.social_links i{
		margin-top: 6px;
	}
	.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
	.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
		-webkit-appearance: none;    
		appearance: none;
		margin: 0;  
	}
	.contactUsTrollyMainWrapper input[type='number'], 
	.contactUsTrollyMainWrapper input[type='number']:hover,
	.contactUsTrollyMainWrapper input[type='number']:focus{
		-moz-appearance: textfield;
	}
	.contactUsRightLogo{
		width: 40%;
		margin-top: 80px;
		margin-left: 220px;
	}
	.emailWrapperContactUs{
		margin-left: 27px;
	}
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1200px and up] */
@media (min-width: 1200px){

	.emailWrapperContactUs{
		margin-left: 13px;
	}
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1366px and up] */
@media (min-width:1366px){

	.contactUsTrollyMainWrapper{
		min-height: 900px;
	}

}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1440px and up] */
@media (min-width:1440px){

	.contactUsTrollyBreadcumWrapper{
		height: 300px;
    	background-size: 112% 167%;
	}

	.contactusFormWrapperMain{
		margin-top: 227px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 974px;
	}
}

@media (min-width:1536px){

	.contactUsTrollyBreadcumWrapper{
		height: 250px;
		background-size: cover;
	}

	.contactUsTrollyMainWrapper{
		min-height: 730px;
	}

	.contactusFormInputWrapper{
		font-size: 13px;
	}

	.contactusFormInputInsideWrapper{
		margin-top: -10px;
	}

	.contactusFormWrapperLeftSide{
		/*min-height: 483px;*/
	}

	.contactusFormWrapperMain{
		margin-top: 177px;
	}

	.emailWrapperContactUsOne{
		margin-left: 30px;
		margin-top: -21px;
	}

	.emailWrapperContactUsTwo{
		margin-left: 15px;
		/*padding-top: 5px;*/
	}

	.social_links a {
	    width: 30px;
	    height: 30px;
	    padding: 3px 0px 0px 0px;
	    font-size: 16px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 12px;
	}
	
	.contactUsPhoneNumber{
		padding-left: 27px;
		margin-top: -19px;
	}

}


/* [xxl] Extra Large Devices [Desktop/Laptop (FHD), 1920px and up] */
@media (min-width:1920px){

	.contactUsTrollyBreadcumWrapper{
		height: 300px;
		background-size: cover;
	}

	.contactusFormWrapperMain{
		margin-top: 250px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 974px;
	}

	.getInTouchSubTitle{
		font-size: 26px;
		opacity: 0.6;
	}

	.contactusFormWrapperLeftSide{
		min-height: 524px;
	}

	.contactusFormInputWrapper{
		font-size: 18px;
	}

	.getInTouchBtnWrapper{
	    height: 40px;
	    width: 120px;
	    margin-top: 20px;
	    font-size: 16px;
	    border-bottom-left-radius: 29px;
	    border-bottom-right-radius: 0px;
	    border-top-left-radius: 29px;
	    border-top-right-radius: 25px;
	    font-family: 'Montserrat-thin' !important;
	}

	.emailWrapperContactUsOne{
		margin-left: 30px;
		margin-top: -30px;
	}

	.emailWrapperContactUsTwo{
		margin-left: 15px;
		/*padding-top: 5px;*/
	}

	.social_links a {
	    width: 37px;
	    height: 37px;
	    padding: 4px 0px 0px 0px;
	    font-size: 20px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 16px;
	}

	.contactUsPhoneNumber{
		padding-left: 25px;
		margin-top: -28px;
	}

}



@media (min-width:2560px){

	.contactUsTrollyBreadcumWrapper{
		height: 400px;
		background-position: center;
		background-size: 100% 180%;
	}

	.contactusFormWrapperMain{
		margin-top: 279px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 899px;
		padding-bottom: 625px;
	}

	.getInTouchSubTitle{
		font-size: 26px;
	}

	.contactusFormWrapperLeftSide{
		/*min-height: 648px*/
	}

	.contactusFormInputWrapper{
		font-size: 21px;
	}

	.getInTouchBtnWrapper{
	    height: 50px;
	    width: 150px;
	    font-size: 17px;
	    margin-top: 10px;
	    border-bottom-left-radius: 29px;
	    border-bottom-right-radius: 0px;
	    border-top-left-radius: 29px;
	    border-top-right-radius: 25px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 18px;
	}

	.contactUsPhoneNumber{
		padding-left: 35px;
	}

	.emailWrapperContactUs {
	    margin-top: -28px;
	}

	.emailWrapperContactUsOne{
		padding-left: 8px;
		margin-top: -32px;
	}

	.emailWrapperContactUsTwo{
		padding-left: 25px;
		padding-top: 5px;
	}

	.contactAddress{
    	padding-left: 25px;
    	margin-top: -6px;
	}

	.social_links a {
	    width: 40px;
	    height: 40px;
	    padding: 5px 0px 0px 0px;
	    font-size: 20px;
	}
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */