@font-face {
  font-family:'Montserrat-Thin';
  src: url('../../../fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family:'Montserrat-SemiBold';
  src: url('../../../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family  : 'Montserrat-Light';
  font-style   : normal;
  src          : url("../../../fonts/Montserrat-Light.ttf");
}


.contactUsPhoneNumber{
  font-family  : 'Montserrat-Light';
	color: #fff;
}

.getInTouchIcon{
		height: 20px;
		width: 20px;
	}


.contactUsPhoneIcon, .contactUsMailIcon{
		height: 17px;
		width: 17px;
	}

.contactUsTrollyMainWrapper{
	min-height: 1337px;
}
.contactUsTrollyBreadcumWrapper{
			height: 300px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}
.getInTouchBtnMainWrapper{
	margin-left: 13px;
}
.contactAddress{
	display: block;
}
.contactusFormWrapperMain{
	/*min-height: 970px;*/
	/*margin-bottom: 50px;*/
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: absolute;
	margin-top: 300px;
	border-radius: 4px;
}
.contactusFormWrapperLeftSide{
	/*height: 550px;*/
	/*min-height: 550px;*/
	background-color: #fff;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.emailWrapperContactUs{
	margin-top: -25px;
	margin-left: 13px;
}
.contactusFormWrapperRightSide{
	min-height: 476px;
	background-color: #033554;
	opacity: 1;
	border-radius: 4px;
	padding-bottom: 70px;
}
.contactusFormInputInsideWrapper{
	border: none;
	border-bottom: 1px solid #bbb;
	border-radius: 0px;
	box-shadow: none;
	font-size: 16px;
	background-color: transparent;
}

body .contactusFormInputInsideWrapper{
	font-size: 20px;
}
.contactusFormInputWrapper{
	color:#033554;
	font-size: 14px;
	font-family  : 'Montserrat-Light';
}
.getInTouchBtnWrapper{
	height: 32px;
	width: 82px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #033554;
	outline: none;
	border: none;
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
}
.error{
	color: red;
}
.getInTouchBtnWrapper:hover{
	color: #fff;
}
.getInTouchSubTitle{
	color: #fff;
	font-family: "Montserrat-SemiBold";
	/*font-size: 25px;*/
}
.phoneFontAwesomeWrapper, .phoneFontAwesomeWrapper label{
	color: #fff;
	font-family  : 'Montserrat-Light';
	font-size: 13px;
	cursor: pointer;
}
.hero{
	height: 35px;
	background: #033554;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.social_links{
	display: flex;
	margin-left: 30px;
	cursor: pointer;
}
.social_links a{
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #033554;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	margin-right: 17px;
	border: 1px solid #c0ccd4;
	background-color: #c0ccd4;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	font-size: 14px;
	cursor: pointer;
}
.social_links a .fab{
	margin-top: 7px;
	text-align:center;
	line-height: 80px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
	color: black;
}
.social_links i{
	margin-top: 6px;
}
.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
	-webkit-appearance: none;    
	appearance: none;
	margin: 0;  
}
.contactUsTrollyMainWrapper input[type='number'], 
.contactUsTrollyMainWrapper input[type='number']:hover,
.contactUsTrollyMainWrapper input[type='number']:focus{
	-moz-appearance: textfield;
}
.contactUsRightLogo{
	display: none;
}

.socialMediaFooterIcons{
	height: 108%;
	width: 108%;
	background-size: cover;
	background-color: #033554;
	margin-top: -3px;
  margin-left: -2px;
}

.getInTouchIcon{
	height: 12px;
}

/*.contactUscontent{
	font-size: 13px;
	color: #FFF;
	margin-top: 80px;
	font-family: 'Montserrat-Thin';
	text-align: justify;
}*/


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media (max-width: 320px){	
		.contactUsTrollyBreadcumWrapper{
			height: 150px;
			background-size: 100% 188%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

	.getInTouchSubTitle{
				font-size: 20px;
			}

			.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 18px;
		}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 18px;
		}

			.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 18px;
	}

	.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		padding: 0px 30px;
		height: auto;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

		.contactusFormInputWrapper{
		font-size: 18px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 18px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 18px;
	}

	.contactusFormWrapperMain{
		margin-top: 101px;
	}

	.contactUsTrollyMainWrapper{
			min-height: 1472px;
		}
}
@media (min-width: 320px) and (max-width: 480px){	
		.contactUsTrollyBreadcumWrapper{
			height: 150px;
			background-size: 100% 198%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactUsTrollyMainWrapper{
			min-height: 1418px;
		}

	.getInTouchSubTitle{
				font-size: 20px;
			}

			.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 18px;
		}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 18px;
		}

			.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 18px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

	.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		padding: 0px 30px;
		height: auto;
		border-radius: 0px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-radius: 0px;
	}

		.contactusFormInputWrapper{
		font-size: 18px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 18px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 18px;
	}

	.contactusFormWrapperMain{
		margin-top: 101px;
	}
}

@media (min-width: 480px) and (max-width: 640px){	
		.contactUsTrollyBreadcumWrapper{
			height: 150px;
			background-size: 100% 208%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.getInTouchSubTitle{
				font-size: 21px;
			}

			.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 20px;
		}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 20px;
		}

		.contactusFormWrapperMain{
			margin-top: 120px;
		}

		.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 20px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

		.contactusFormInputWrapper{
		font-size: 20px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 20px;
		}

		.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		padding: 0px 30px;
		height: auto;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 20px;
	}

		.contactUsTrollyMainWrapper{
			min-height: 1428px;
		}
}

@media (min-width: 640px) and (max-width: 860px){	
		.contactUsTrollyBreadcumWrapper{
			height: 200px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactusFormWrapperMain{
			margin-top: 150px;
		}

		.contactUsTrollyMainWrapper{
			min-height: 1467px;
		}

		.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 21px;
		}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 21px;
		}

		.getInTouchSubTitle{
				font-size: 22px;
			}

			.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 21px;
	}

		.contactusFormInputWrapper{
		font-size: 21px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

	.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		padding: 0px 30px;
		height: auto;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.contactusFormWrapperRightSide{
		min-height: 550px;
		height: auto;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 21px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 21px;
	}

		.contactusFormWrapperRightSide{
			height: 448px;
		}

		.phoneFontAwesomeWrapper label{
			font-size: 15px;
		}
}

@media (min-width: 860px) and (max-width: 1279px) {
		.contactUsTrollyMainWrapper{
			min-height: 1450px;
		}
	.contactUsTrollyBreadcumWrapper{
		height: 231px;
    	background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
	}
	.getInTouchBtnMainWrapper{
		margin-left: 13px;
	}
	.contactusFormWrapperLeftSide{
		/*min-height: 450px;*/
		padding: 0px 30px;
		height: auto;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}
	.contactusFormWrapperMain{
		min-height: 450px;
		height: auto;
		/*margin-top: 227px;*/
		margin-top: 163px;
	}
	.contactAddress{
    	padding-left: 15px;
    	margin-top: -6px;
    	font-size: 21px;
	}

	.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 21px;
		}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 21px;
		}

		.contactusFormInputWrapper{
		font-size: 21px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 50px;
	}
	.getInTouchSubTitle{
		font-size: 24px;
	}
	.phoneFontAwesomeWrapper label{
		font-size: 14px;
	}
	.phoneFontAwesomeWrapper{
		font-size: 14px;
	}
	.hero{
		/*height: 35px;*/
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.social_links{
		display: flex;
		margin-left: 40px;
	}
	.social_links a{
		width: 30px;
		height: 30px;
		text-align: center;
		margin: 0 5px;
		font-size: 14px;
	}
	.social_links a .fab{
		margin-top: 7px;
		text-align:center;
		line-height: 80px;
	}
	.social_links i{
		margin-top: 6px;
	}
	.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
	.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
		-webkit-appearance: none;    
		appearance: none;
		margin: 0;  
	}
	.contactUsTrollyMainWrapper input[type='number'], 
	.contactUsTrollyMainWrapper input[type='number']:hover,
	.contactUsTrollyMainWrapper input[type='number']:focus{
		-moz-appearance: textfield;
	}
	.contactUsRightLogo{
		width: 40%;
		margin-top: 80px;
		margin-left: 220px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 21px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    margin-left: 27px;
	    font-size: 21px;
	}
}

@media (min-width: 1280px) and (max-width: 1366px) { 

	.contactUsTrollyBreadcumWrapper{
			height: 270px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactUsTrollyMainWrapper{
			min-height: 1015px;
		}

		.emailWrapperContactUs{
		margin-left: 13px;
	}

	.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 22px;
		}

		.getInTouchSubTitle{
				font-size: 26px;
			}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 22px;
		}

			.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 22px;
	}

		.contactusFormInputWrapper{
		font-size: 22px;
	}

	.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 22px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 22px;
	}
}

@media (min-width: 1366px) and (max-width: 1440px) { 
		.contactUsTrollyBreadcumWrapper{
			height: 270px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactUsTrollyMainWrapper{
			min-height: 1020px;
		}

		.contactusFormWrapperRightSide{
			min-height: 530px;
		}

		.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -22px;
			font-size: 22px;
		}

		.getInTouchSubTitle{
				font-size: 26px;
			}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 22px;
		}

		.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 22px;
	}

		.contactusFormInputWrapper{
		font-size: 22px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 20px;
	}

	.contactusFormWrapperMain{
			margin-top: 210px;
		}

		.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -21px;
			font-size: 22px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 22px;
	}
}

@media (min-width: 1440px) and (max-width: 1536px) { 
		.contactUsTrollyBreadcumWrapper{
			height: 300px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactusFormWrapperMain{
			margin-top: 245px;
		}

		.contactUsTrollyMainWrapper{
			min-height: 1000px;
		}

		.contactusFormWrapperRightSide{
			min-height: 530px;
		}

		.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -30px;
			font-size: 22px;
		}

		.getInTouchSubTitle{
				font-size: 28px;
			}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 22px;
		}

		.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

		.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 22px;
	}

		.contactusFormInputWrapper{
			font-size: 22px;
		}

		.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -27px;
			font-size: 22px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 22px;
	}


}

@media (min-width: 1536px) and (max-width: 1680px) { 
		.contactUsTrollyBreadcumWrapper{
			height: 300px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

		.contactusFormWrapperMain{
			margin-top: 237px;
		}

		.contactusFormWrapperLeftSide{
			min-height: 530px
		}

		.contactUsTrollyMainWrapper{
			min-height: 1010px;
		}

		.emailWrapperContactUsOne{
			margin-left: 40px;
			margin-top: -30px;
			font-size: 23px;
		}

		.getInTouchSubTitle{
				font-size: 28px;
			}

			.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 30px;
	}

		.emailWrapperContactUsTwo{
			margin-left: 27px;
			font-size: 23px;
		}

		.contactusFormInputWrapper{
			font-size: 23px;
		}

		.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 23px;
	}

		.contactUsPhoneNumber{
			padding-left: 35px;
			margin-top: -27px;
			font-size: 23px;
		}

	.emailWrapperContactUs {
	    margin-top: -28px;
	    font-size: 23px;
	}
}

@media (min-width: 1680px) and (max-width: 1920px) { 
		.contactUsTrollyBreadcumWrapper{
			height: 328px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

	.contactUsTrollyMainWrapper{
		min-height: 1100px;
	}

	.contactusFormInputWrapper{
		font-size: 23px;
	}

	.contactusFormInputInsideWrapper{
		margin-top: -10px;
	}

	.contactusFormWrapperLeftSide{
		min-height: 483px;
	}

	.contactusFormWrapperMain{
		margin-top: 275px;
	}

	.emailWrapperContactUsOne{
		margin-left: 40px;
		margin-top: -40px;
		font-size: 25px;
	}

	.emailWrapperContactUsTwo{
		margin-left: 26px;
		font-size: 25px;
		/*padding-top: 5px;*/
	}

	.social_links a {
	    width: 45px;
	    height: 47px;
	    margin-right: 17px;
	    padding: 3px 0px 0px 0px;
	    font-size: 16px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 25px;
	}
	
	.contactUsPhoneNumber{
		padding-left: 36px;
		margin-top: -35px;
		font-size: 25px;	
	}

	.contactUsPhoneIcon, .contactUsMailIcon{
		height: 15px;
		width: 15px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 0px;
	}
	.getInTouchSubTitle{
		font-size: 30px;
	}

	.getInTouchIcon{
		height: 18px;
		width: 20px;
	}

	.emailWrapperContactUs{
		margin-left: 14px;
	}

	.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 25px;
	}

	.ContactUsTrollyMart_social_links{
		margin-left: 0px;
	}

	.contactusFormWrapperRightSide{
		min-height: 488px;
	}
}

@media (min-width: 1920px) and (max-width: 2560px)  {
		.contactUsTrollyBreadcumWrapper{
			height: 328px;
			background-size: 100% 182%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

	.contactusFormWrapperMain{
		margin-top: 270px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 950px;
	}

	.getInTouchSubTitle{
		font-size: 30px;
	}

	.contactusFormWrapperLeftSide{
		min-height: 610px;
	}

	.contactusFormInputWrapper{
		font-size: 24px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 0px;
	}

	.getInTouchIcon{
		height: 18px;
		width: 20px;
	}

	.emailWrapperContactUsOne{
		margin-left: 40px;
		margin-top: -30px;
		font-size: 25px;	}

	.emailWrapperContactUsTwo{
		margin-left: 27px;font-size: 25px;
		/*padding-top: 5px;*/
	}

	.social_links a {
	    width: 37px;
	    height: 37px;
	    padding: 4px 0px 0px 0px;
	    font-size: 20px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 18px;
	}

	.contactUsPhoneNumber{
		padding-left: 37px;
		margin-top: -28px;
		font-size: 25px;
		padding-bottom: 6px;
	}

	.contactUsPhoneIcon, .contactUsMailIcon{
		height: 15px;
		width: 15px;
	}

	.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
    	font-size: 25px;
	}

	.contactusFormWrapperRightSide{
		padding-left: 33px;
		padding-top: 30px;
	}

}

@media (min-width: 2560px){
		.contactUsTrollyBreadcumWrapper{
			height: 330px;
			background-size: 100% 170%;
    	background-position-y: -85px;
    	background-repeat: no-repeat;
		}

	.contactusFormWrapperMain{
		margin-top: 260px;
	}

	.contactUsTrollyMainWrapper{
		min-height: 930px;
	}

	.getInTouchSubTitle{
		font-size: 32px;
	}

	.contactusFormWrapperLeftSide{
		min-height: 580px
	}

	.contactusFormInputWrapper{
		font-size: 25px;
	}

	.getInTouchBtnWrapper{
		height: 53px;
		width: 137px;
		font-size: 20px;
		font-family  : 'Montserrat-Light';
		margin-top: 0px;
	}

	.getInTouchIcon{
		height: 18px;
		width: 20px;
	}

	.phoneFontAwesomeWrapper{
		font-size: 26px;
	}

	.contactUsPhoneNumber{
		padding-left: 36px;
		margin-top: -35px;
		font-size: 25px;	
	}

	.emailWrapperContactUs {
	    margin-top: -28px;
	}

	.emailWrapperContactUsOne{
		padding-left: 40px;
		margin-top: -40px;
		font-size: 25px;
	}

	.emailWrapperContactUsTwo{
		padding-left: 40px;
		padding-top: 5px;
		font-size: 25px;
	}

	.contactAddress{
    	padding-left: 30px;
    	margin-top: -6px;
	}

	.contactUsPhoneIcon, .contactUsMailIcon{
		height: 20px;
		width: 20px;
	}

	.contactusFormWrapperRightSide{
		padding-left: 33px;
		padding-top: 30px;
	}

	.social_links a {
	    width: 40px;
	    height: 40px;
	    padding: 5px 0px 0px 0px;
	    font-size: 20px;
	}
}

/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */