@font-face {
  font-family:'Montserrat-Thin';
  src: url('../../../fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family:'Montserrat-SemiBold';
  src: url('../../../fonts/Montserrat-SemiBold.ttf');
}

.contactUsTrollyMainWrapper{
	height: 1220px;
}
.contactUsTrollyBreadcumWrapper{
	height: 300px;
	background-size: 170% 100%;
}
.getInTouchBtnMainWrapper{
	margin-left: 13px;
}
.contactusFormWrapperMain{
	min-height: 970px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: absolute;
	margin-top: 227px;
	border-radius: 4px;
}
.contactusFormWrapperLeftSide{
	height: 550px;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.emailWrapperContactUs{
	margin-top: -25px;
	margin-left: 13px;
}
.contactusFormWrapperRightSide{
	height: 300px;
	background-color: #033554;
	opacity: 1;
	border-radius: 4px;
}
.contactusFormInputInsideWrapper{
	border: none;
	border-bottom: 1px solid lightgray;
	box-shadow: none;
	background-color: transparent;
}
.contactusFormInputWrapper{
	color:#033554;
	font-size: 14px;
}
.getInTouchBtnWrapper{
	height: 32px;
	width: 82px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #033554;
	outline: none;
	border: none;
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
}
.error{
	color: red;
}
.getInTouchBtnWrapper:hover{
	color: #fff;
}
.getInTouchSubTitle{
	color: #fff;
	font-family: "Montserrat-SemiBold";
	font-size: 18px;
}
.phoneFontAwesomeWrapper, .phoneFontAwesomeWrapper label{
	color: #fff;
	font-family:'Montserrat-Thin';
	font-size: 14px;
	cursor: pointer;
}
.hero{
	height: 35px;
	background: #033554;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.social_links{
	display: flex;
	margin-left: -8px;
	cursor: pointer;
}
.social_links a{
	width: 28px;
	height: 28px;
	text-align: center;
	text-decoration: none;
	color: #033554;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	margin: 0 5px;
	border: 1px solid #c0ccd4;
	background-color: #c0ccd4;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	font-size: 14px;
	cursor: pointer;
}
.social_links a .fab{
	margin-top: 7px;
	text-align:center;
	line-height: 80px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
	color: black;
}
.social_links i{
	margin-top: 6px;
}
.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
	-webkit-appearance: none;    
	appearance: none;
	margin: 0;  
}
.contactUsTrollyMainWrapper input[type='number'], 
.contactUsTrollyMainWrapper input[type='number']:hover,
.contactUsTrollyMainWrapper input[type='number']:focus{
	-moz-appearance: textfield;
}
.contactUsRightLogo{
	display: none;
}



/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */


/* [xs] Extra Small Devices [Phone - Portrait, less than 575px] */
@media (max-width: 575px){
  /* No media query for "xs'' since this is the default in Bootstrap 4 because it is "Mobile First" */
}


/* [sm] Small Devices [Phone - Landscape, 576px and up] */
@media (min-width: 576px){

}


/* [md] Medium Devices [Tablet - Portrait, 768px and up] */
@media (min-width: 768px){

}


/* [lg] Large Devices [Tablet - Landscape, 992px and up] */
@media (min-width: 992px){

	.contactUsTrollyMainWrapper{
		height: 870px;
	}
	.contactUsTrollyBreadcumWrapper{
		height: 350px;
		background-size: 100% 100%;
	}
	.getInTouchBtnMainWrapper{
		margin-left: 13px;
	}
	.contactusFormWrapperLeftSide{
		min-height: 450px;
		height: auto;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.contactusFormWrapperRightSide{
		min-height: 450px;
		height: auto;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}
	.contactusFormWrapperMain{
		min-height: 450px;
		height: auto;
		margin-top: 227px;
	}
	.contactusFormInputWrapper{
		font-size: 14px;
	}
	.getInTouchBtnWrapper{
		height: 32px;
		width: 82px;
		font-size: 14px;
		margin-top: 0px;
	}
	.getInTouchBtnWrapper:hover{
		height: 32px;
		width: 82px;
	}
	.getInTouchSubTitle{
		font-size: 18px;
	}
	.phoneFontAwesomeWrapper label{
		font-size: 14px;
	}
	.phoneFontAwesomeWrapper{
		font-size: 14px;
	}
	.hero{
		height: 35px;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.social_links{
		display: flex;
		margin-left: -8px;
	}
	.social_links a{
		width: 28px;
		height: 28px;
		text-align: center;
		margin: 0 5px;
		font-size: 14px;
	}
	.social_links a .fab{
		margin-top: 7px;
		text-align:center;
		line-height: 80px;
	}
	.social_links i{
		margin-top: 6px;
	}
	.contactUsTrollyMainWrapper input[type='number']::-webkit-inner-spin-button, 
	.contactUsTrollyMainWrapper input[type='number']::-webkit-outer-spin-button{
		-webkit-appearance: none;    
		appearance: none;
		margin: 0;  
	}
	.contactUsTrollyMainWrapper input[type='number'], 
	.contactUsTrollyMainWrapper input[type='number']:hover,
	.contactUsTrollyMainWrapper input[type='number']:focus{
		-moz-appearance: textfield;
	}
	.contactUsRightLogo{
		width: 40%;
		margin-top: 80px;
		margin-left: 220px;
	}
	.emailWrapperContactUs{
		margin-left: 27px;
	}
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1200px and up] */
@media (min-width: 1200px){

	.emailWrapperContactUs{
		margin-left: 13px;
	}
}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1366px and up] */
@media (min-width:1366px){

}


/* [xl] Extra Large Devices [Desktop/Laptop (HD), 1440px and up] */
@media (min-width:1440px){

}


/* [xxl] Extra Large Devices [Desktop/Laptop (FHD), 1920px and up] */
@media (min-width:1920px){

}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  End Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */