.css-1r4vtzz , .css-1r4vtzz , .css-48ayfv , .css-1r4vtzz{
    border-radius : none;
    border-width : none;
    width:351px !important;
    border: 1px solid lightgray;
    box-shadow: none !important;
}
