.testimonialwrapper {
  min-height:700px ;
  height: auto;
}

.testimonialBox {
	height: auto;
	position: relative;
	top: 54px;
	background-color: #fff;
	border: 1px solid #efefef;
	border-radius: 8px;
	box-shadow: 2px 2px 20px 5px #dad6d6;
	cursor: pointer;
	/*padding-bottom: 20px;*/
}

.itemwrapp {
	height: auto;
}

.carousel-control.left,
.carousel_control.right {
	background-color: transparent;
}

.testimonialwrapper_img_area {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-left:16px;
	margin-top: 46px;
	box-shadow: 8px 3px 13px 1px #dad6d6;
	overflow: hidden;
	cursor: pointer;
	
}

.carousel_caption {
	position: static;
	/*padding-bottom: 15px;*/
	padding-top: 0px;
	padding-bottom: 0px;
}

.testimonialwrapper .testimonialWriter {
	position: absolute;
	margin-left: 135px;
	margin-top: 30px;
	color: #0073e6;
}

.testimonialwrapper .writerDetails {
	position: absolute;
	margin-left: 135px;
	margin-top: 60px;
	color: #555555;
}

.carousel-indicators {
	bottom: -35px;
}

.testContent {
	height: auto;
	width: 90%;
	margin: auto;
	margin-top: 40px;
	color: #555555;
	text-align: justify;
}

.testContentDescription {
	line-height: 27px;
}

.carousel_caption {
	text-shadow: none!important;
}

.testimonialwrapper .test_carousel_control_right {
	background-image: none;
}

.test_carousel_control_right {
	height: 60px!important;
	width: 72px;
	margin-top: 268px;
}

.arrow_rightWrapper {
	height: 50px;
	width: 50px;
	background-color: #376bff;
	border-radius: 100% 100%;
	position: absolute;
	top: 16px;
}

.arrow_rightWrapper:hover {
	height: 50px;
	width: 50px;
	background-color: #376bff!important;
	border-radius: 100% 100%;
	position: absolute;
	top: 16px;
}

.arrow_rightTest {
	display: block;
	margin: 17px 15px;
	width: 15px;
	height: 15px;
	border-top: 2px solid #f1f1f1;
	border-left: 2px solid #f1f1f1;
	cursor: pointer;
}

.arrow_rightTest {
	transform: rotate(135deg);
}

.arrow_leftTest {
	display: block;
	margin: 25px 5px;
	width: 20px;
	height: 20px;
	border-top: 3px solid #0073e6;
	border-left: 3px solid #0073e6;
	cursor: pointer;
}

.arrow_leftTest {
	transform: rotate(45deg);
}

.contWrapper {
	height: auto;
}

.imgTestimonial {
  margin-top: 110px;
  margin-left: 50px;
  height: 250px;
}

@media screen and (max-width: 1200px ){
	.test_carousel_control_right {
		margin-top: 300px;
}
}
@media screen and (max-width: 992px ){
	.test_carousel_control_right {
		margin-top: 260px;
}
}
@media screen and (max-width: 768px ){
	.test_carousel_control_right {
	margin-top: 268px;
}
}
@media screen and (max-width: 568px ){
	.test_carousel_control_right {
	margin-top: 565px;
}
	.itemwrapp {
		height: auto;
		padding-bottom: 100px;
	}
	.writerDetails{
		position: absolute;
	    margin-left: 4px!important;
	    margin-top: 115px!important;
	}
	.testimonialWriter{
	    position: absolute;
	    margin-left: 54px!important;
	    margin-top: 91px!important;
	}
	.testimonialwrapper_img_area {
		    margin-left: 80px;
	}

}