.singleVendorBox{
	margin-bottom:25px;
	border:1px solid #ddd;
	border-radius:10px;
	padding:15px;
}

.singleRow{
	margin-bottom:20px;
	height:auto;
}

.productName{
	margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size:14px !important;
}

.summaryClass{
	max-height:240px;
	padding:15px;
	height:auto;
	margin-top:0px !important;
	border:none;
	display: inline-block;
    background: #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}

.bbBox{
	border-bottom:1px solid #ccc;
	padding-bottom:15px !important;
}

.shopping{
	color:#333 !important;
	text-decoration: underline; 
}

.cartSummary1 {
    display: inline-block;
    margin-top: 15px;
    background: #eee;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    /* height: 170px; */
}
