<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023694532217-4mts1vajbqprhrk5mflhq36pcpg6ajhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023694532217-4mts1vajbqprhrk5mflhq36pcpg6ajhj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023694532217-k7tnr00vivofhjg6lp9d1652dti5cicd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDgvyU1exfTp6ge4LDzOk4-FYVeOQ9lPw</string>
	<key>GCM_SENDER_ID</key>
	<string>1023694532217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ae.trollymart</string>
	<key>PROJECT_ID</key>
	<string>knockknock-149cc</string>
	<key>STORAGE_BUCKET</key>
	<string>knockknock-149cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023694532217:ios:2267e3d1d9eb6e9ccf6ea8</string>
</dict>
</plist>