@import "../sites/bookstore/pages/ContactPage.css";
@import "../sites/bookstore/common/SignUp.css";
@import "../sites/bookstore/common/Sidebar.css";
@import "../sites/bookstore/common/StepWizard.css";
@import "../sites/bookstore/common/Pagealert.css";
/* @import "../sites/bookstore/common/Header.css"; */
@import "../styles/app.css";
/* @import "../static/bookstore/common/UnimandaiHeader.css"; */
/* @import "../component/StaticPages/Message/Message.css"; */
@import "../component/blockTemplate/Header/Header.css";
@import "../component/blockTemplate/Footer/Footer.css";
@import "../sites/bookstore/blocks/ProductViewEcommerce.css";
@import "../sites/bookstore/blocks/ProductViewEcommerceDetailsReviewFAQ.css";

@import "../sites/bookstore/blocks/CartProducts.css";
@import "../sites/bookstore/pages/Cart.css";
@import "../sites/bookstore/blocks/SmallBanner.css";
@import "../sites/bookstore/blocks/Message.css";
@import "../sites/bookstore/pages/Address.css";
@import "../sites/bookstore/pages/AddressBook.css";
@import "../sites//bookstore/pages/Checkout.css";
@import "../sites/bookstore/pages/Payment.css";
@import "../sites/bookstore/pages/MyOrders.css";
@import "../sites/bookstore/pages/Account.css";
@import "../sites/bookstore/pages/EditAccount.css";
@import "./loader.css";
@import "../sites/bookstore/pages/Wishlist.css";
@import "../sites/bookstore/pages/Productreview.css";
/* @import "../sites/bookstore/pages/ProductCaraousel.css"; */
@font-face {
  font-family: 'aps_dev_priyanka';
  src: url("../public/fonts/aps_dev_priyanka.ttf");
}

.RegionalFont{
  font-family: 'aps_dev_priyanka' !important;
  font-size: 16px !important;
  color:#222 !important;
}



@font-face {
  font-family: 'kruti';
  src: url("/fonts/kruti.ttf");
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: 'aps_dev_priyanka';
  src: url("/fonts/aps_dev_priyanka.ttf");
}
.RegionalFont{
  font-family: 'aps_dev_priyanka' !important;
  font-size: 16px !important;
  color:#222 !important;
  height: 25px !important;
}

:root {
  --globalblocktitlefontsize: 50px ;
  
  --globalblocksubtitlefontsize: 30px ;
  
  --globalblocktdecriptionfontsize: 20px ;

  --globalblockreptedtitlefontsize: 20px ; 
  
  --globalbanner1sttitlefontsize: 42px ; 
  
  --globalbanner2ndsubtitlefontsize: 60px ; 
  
  --globalbanner3rddescriptionfontsize: 24px ; 
  
  --globaldotteddashcolor1inallbg: #376bff ; 
  --globalfontweight600: 600 ; 
  --globaleCommBtnBg: #ff4157;
  --globaleCommBtnColor: #fff;
  --globaleCommBtnBorderRadius: 5px !important;
  --globaleCommBtnBorder: solid 2px #ff4157;
  --globaleCommBtnPadding: 14px 20px;
  --globaleCommBtnfontSize: 16px;
  --globaleCommBtnMarginTop: 10px;
  --globaleCommBtnBgHover: #fff;
  --globaleCommBtnHoverColor: #ff4157;
  --globalBrandNameColor: #0000006b;
  --globalBrandNameHoverColor: #ff4157;
  --globalProductFontSize: 15px;
  --globalPaddingLeft: 0px;
  --globalProductViewHeight: 350px;
  --globaleCommOverlayBg: #ff4157;
  
  --globalBorderColor : #ff4157;
  --gobalMinusQuantityColor : #ff4157;
  --gobalMinusQuaBorderColor : solid 1px #ff4157;
  --gobalPlusQuantityColor : #ff4157;
  --gobalPlusQuaBorderColor : solid 1px #ff4157;
  --gobalTotalPriceColor : #03a685;
  --globalSignOutBtnBackColor : #ff4157;
  --globalSignOutColor : #fff;
  --globalWishlistColor : #ff4157; 
  --globalWishlistBorderColor : #ff4157; 
  --gobalCurrentBgColor : #ff4157;
  --gobalCurrentColor : #fff;

  --globalHoverColor : #ff4157;
  --globalBgColor : #ff4157;
  --globalTransition : 0.6s ease !important;
  --globalColor : #ff4157;
  --globalborderRadious : 0px;
  --globalErrColor: #cc0000;

  --globalMainTitleFontSize : 30px;
  --globalMainTitleTextStyle : capitalize;
  --color: #ff4157;
  --border : 1px solid #ff4157 !important;

}



body{
  font-family: 'Montserrat-Medium';
}
.globalBgColor{
  background-color: var(--globalBgColor);
}
.eCommTitle{
  background-color: var(--globalBgColor);
  color:#fff;
}
.oldprice{
  text-decoration-line: line-through;
}
.current{
  color: var(--gobalCurrentColor) !important;
  background-color: var(--gobalCurrentBgColor) !important;
}
.marginTop50{
  margin-top : 50px;
}

.errorMsg{
  color: var(--globalErrColor) !important;
  font-size: 11px !important;
  line-height: 12px;
}
.swal-button--confirm{
  background:var(--globalBgColor) !important;
}
.globalSignoutBtn{
  background-color: var(--globalSignOutBtnBackColor) !important;
  color: var(--globalSignOutColor) !important;
}
.globalTermsAndCondition:hover{
  color: var(--globalHoverColor) !important;
}
.globalTotalPrice{
  color: var(--gobalTotalPriceColor) !important;
}
.minusQuantity{
  color: var(--gobalPlusQuantityColor) !important;
  border: var(--gobalPlusQuaBorderColor) !important;
}
.plusQuantity{
  color: var(--gobalMinusQuantityColor) !important;
  border: var(--gobalMinusQuaBorderColor) !important;
}
.globalTextColor{
  color: var(--globalColor);
}
.globalBgColor{
  background: var(--globalBgColor);
}
.multiIconBorder{
  border: 18px solid var(--globalColor);
  /* background-color : var(--globalWishlistBorderColor) !important; */
}
.wishListIconColor{
  color: var(--globalWishlistColor) !important;

}

.productWrap{
  height: var(--globalProductViewHeight);
}
.NoPadding{
  padding-left: var(--globalPaddingLeft) !important;
  padding-right: var(--globalPaddingRight) !important;
}
#atag:hover{
  /* background-color:#ff4157 !important; */
  color: #ff4157 !important;
}
.globalProduct_brand{
  color: var(--globalBrandNameColor);
  height: 25px;
}
.globalProduct_brand:hover{
  color: var(--globalBrandNameHoverColor) !important;
}
.globaleCommBtn{
  background-color: var(--globaleCommBtnBg) !important;
  color: var(--globaleCommBtnColor) !important;
  border-radius: var(--globaleCommBtnBorderRadius) !important;
  border: var(--globaleCommBtnBorder) !important;
  padding: var(--globaleCommBtnPadding)!important;
  transition: var(--globalTransition) !important;
  margin-top: var(--globaleCommBtnMarginTop) !important;
  font-size: var(--globaleCommBtnfontSize) !important;
}

.globaleCommBtn:hover{
  background-color: var(--globaleCommBtnBgHover) !important;
  color: var(--globaleCommBtnHoverColor) !important;
}
.globaleCommLargeBtn{
  background-color: var(--globaleCommBtnBgHover) !important;
  color: var(--globaleCommBtnHoverColor) !important;
  border: var(--globaleCommBtnBorder) !important;
  text-align: center;
}
.globaltext:hover{
  color: var(--globalColor) !important;
}
.globaleCommLargeBtn:hover{
  background-color: var(--globaleCommBtnBg) !important;
  color: var(--globaleCommBtnColor) !important;
}
.globaldotteddashcolor1inallbg{
	border : 2px solid  var(--globaldotteddashcolor1inallbg) !important;

}
.globalfontweight600{
	font-weight: var(--globalfontweight600) !important;

}
.globalblocktitlefontsize{
	font-size: var(--globalblocktitlefontsize) !important;
	font-weight: 600;

}
.globalblocksubtitlefontsize{
	font-size: var(--globalblocksubtitlefontsize);

}
.globalblocktdecriptionfontsize{
	font-size: var(--globalblocktdecriptionfontsize) !important;

}
.globalblockreptedtitlefontsize{
	font-size: var(--globalblockreptedtitlefontsize) !important;

}

.globalbanner1sttitlefontsize{
	font-size: var(--globalbanner1sttitlefontsize) !important;

}
.globalbanner2ndsubtitlefontsize{
	font-size: var(--globalbanner2ndsubtitlefontsize) !important;

}
.globalbanner3rddescriptionfontsize{
	font-size: var(--globalbanner3rddescriptionfontsize) !important;

}
.errorMsg{
  color: #f00;
}
/* banner css */
.bannerContainerEcomm:hover .nextPreArrows{
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease !important;
}
.nextPreArrows .swiper-button-prev{
  height: 10px;
  width: 10px;
}
.swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 13px !important;
  padding:10px 15px !important;
  background-color: var(--globalBgColor);
  color:#fff;
  /* opacity: 0; */
}
.bannerContainerEcomm:hover .nextPreArrows{
  opacity: 1 !important;
}
.swiper-button-next:after{
  margin-right: 100px;
}
.swiper-button-prev:after{
  margin-left: 100px;
}
.swiper-button-next:after:hover{
  background-color: #555 !important;
  transition: 0.4s ease;
}

.fontBold{
  font-weight: var(--globalfontweight600);
}
.servicesBannerImg{
  transform-style: preserve-3d;
  -webkit-transition: all 1.0s ease;
}
.servicesBannerImg:hover{
  transform: rotateY(180deg);
} 
.rotateImg{
  transform-style: preserve-3d;
  -webkit-transition: all 1.0s ease;

}
.rotateImg:hover{
  transform: rotateY(360deg);
} 
.BannerBtn{ 
  background-color: var(--globalBgColor);
  font-size: 17px !important;
  padding: 13px 25px;
  border-radius: 0px !important;
  border: 0px !important;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
  transition: 0.6s ease;
}
.BannerBtn:hover{
  text-decoration: none !important;
  background-color: #666 !important;
  color: #fff !important;
  /* border: solid 1px #ff4157 !important; */
}
.myaccDropdown{
  transition: 0.6s ease;
}
.myaccDropdown:hover .list-DropDownMenu{
  display: block;
  left: 0px;
  top:20px;
  max-width: 200px;
}

.carousel-item-padding-10-px{
  padding : 10px;
}
/* new */
/* BTN FIVE */
.globalCommonBtn{
  background-color: #ff4157 !important;
  font-size: 12px !important;
  color: #fff !important;
  border:2px solid #ff4157 !important;
  border-radius: 0px !important;
  text-align:center;
  padding: 10px 20px !important;
  margin-top: 5px !important;
  transition: 0.6s ease !important;
  font-weight: 600 !important;
}
.globalCommonBtn:hover{
  background-color: transparent !important;
  color: var(--globalColor) !important;
  border:2px solid #ff4157;
}
.globalAddToCartBtn{
  background-color: var(--globalBgColor) !important;
  transition: var(--globalTransition) !important;
  font-size: 12px !important;
  color: #fff !important;
  border:2px solid #ff4157;
  border-radius: var(--globalborderRadious) !important;
  text-align:center;
  padding: 7px 15px !important;
  margin-top: 10px !important;
  font-weight: 600 !important;
}

.globalAddToCartBtn:hover{
  background-color: transparent !important;
  color: #ff4157 !important;
}
.globalAddToCartBtn a{
  color: #fff;
}
.globalAddToCartBtn a:hover{
  text-decoration: none !important;
  color: #ff4157;
  background-color: transparent !important;
}
.globaleCommBtn a{
  font-size:13px;
  color:white;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-decoration:none;
}
.globaleCommBtn:hover .effect{
  /* border:1px solid #ff4157 !important; */
  background: white !important;

}
.globaleCommBtn:hover a{
  color: var(--globalColor);
  text-decoration:none;
}
.globaleCatCommBtn{
  border: solid 2px #ff4157;
  /* border-radius: 5px; */
  padding: 5px 20px !important;
}
.globaleCatCommBtn a{
  color: #fff !important;
  text-decoration: none !important;
}

.globaleCatCommBtn:hover{
  color: #ff4157 !important;
  background-color: #fff !important;
}

.globalMainTitle{
  font-size:var(--globalMainTitleFontSize) !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  margin-top: 30px;
  margin-bottom: 20px;
}

.globalTitle{
  font-size: 55px;
  text-transform: uppercase !important;
  margin-bottom: 10px;
}
.globalBannerTitle{
  font-size: 45px !important;
}
.copyrighttxt p{
  font-size: 15px;
}
.commonPara{
  font-size: 15px;
  text-align: justify;
}
.productDetailsMB{
  margin-bottom: 10px !important;
  font-size: 22px !important;
}
.productDetailsMT{
  margin-top: 10px !important;
}
.productDetailsMB{
  margin-bottom: 15px !important;
  /* font-size: 25px !important; */
  font-weight: 900 !important;
}
.productDetailsMB .globalProdName{
  font-size: 25px !important;
}
.BlankData{
  height: 300px;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
}

.loading{
  padding-top: 130px;
  height: 400px;
  text-align: center;
}
.masterPageWrapper{
  min-height: 500px; 
}
.mainPageLoader{
  height: 600px;
}
.componentWrapper{
  min-height: 500px !important;
}
#nprogress .bar {
  background: #ff4157 !important;
  color: #ff4157 !important;
  height: 2px !important;
  }
  #nprogress .spinner-icon {
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    text-align: center !important;
    margin-bottom: 100px;

    display: block;
    position: fixed !important;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  .textAlignCenter{
    text-align: center
  }
  
  .siteNotcreated{
    color: #777777
  }

  /* annimated button css */
  .middle{
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%,-50%);
  }
  .BennerRightBtn{
    position: absolute;
    top: 50%;
    right: -92px;
    transform: translate(-50%,-50%);
  }
  .annimatedBtn{
    position: relative;
    display: block;
    color: #ff4157;
    /* font-size: 15px;     */
    text-decoration: none;
    margin: 60px 0;
    /* background: #333; */
    font-family: 'Montserrat-Medium';
    font-size: 17px;    
    border-radius: 0px !important;
    border: 0px !important;
    border: 2px solid #ff4157 !important;
    padding: 12px 30px !important;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .annimatedBtn:hover{
    color: #fff !important;
  }
  .annimatedBtn::before{
    background: #ff4157;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  .btn1:hover::before{
    width: 100%;
    color: #fff;
  }
  .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
@media only screen and (max-device-width: 480px) {
  .mobileViewNoPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobileViewPaddingLeft{
    padding-left: 10px !important;
  }
  .annimatedBtn{
      font-size: 6px !important;
      margin: 10px 20px !important;
      padding: 7px 12px !important;
  }
  .middle{
      left: 16% !important;
  }
  .BennerRightBtn{
    right: -65px !important
  }
    .globalMainTitle{
        font-size: 15px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .commonPara{
      font-size: 13px;
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: justify;
    }