.CustomRepHiringModelWrapper{
	/*position: relative;*/
	height: 550px;
}
.nopadding{
	padding:0px;
}
.dashboxwrapper{
    height: 35px;

  }
  .dashBox{
    list-style: none;
    margin: auto;
    margin: 15px 0px;

    
  
  }
  .dashBox li{
  	float: left;
  }
  .dash1{
    height: 1px;
    width: 20px;
    margin:2px 2px 2px 10px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash2{
    height: 1px;
    width: 50px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
  .dash3 {
    height: 1px;
    width: 20px;
    margin:2px;
    border: 2px solid #00ccff;
    border-radius: 10px;
  }
.RepboxT1{
	margin: 25px 0px;
	margin-top: 45px;
	height: 340px;
}
.RepboxT1BxShadow{
    box-shadow: -3px 0px 9px 0px #dad6d6;
}
.RepboxT2BxShadow{
    box-shadow: 3px 0px 9px 0px #dad6d6;
}
.RepboxT1Active{
	margin: 25px 0px;
	height: 380px;
    box-shadow: 0px 2px 10px 2px #dad6d6;
	/*background-color: #ccc;*/
}
.margin20{
	margin: 20px;
}
.iconCircleCRHM{
	height: 130px;
    position: relative;  
    width: 130px; 
    left: 33%; 
    top: 41px; 
     background-color: #e3f1e2; 
    border-radius: 50%;
}
.innerCircleCRHM{
	position: relative;
    height: 45px;
    top: 39px;
    left: 30px;
}

.sptextBox1CRHM{
	position: relative;
	top: 27px;
    color: #555;
}