.BannerWithFormImageWrapper {
	background-size: 100% 100%;
	height: auto;
	padding-bottom: 100px;
	padding-top: 50px;
}

.TitleWrapper {
	padding-left: 50px;
}

.Title1 {
	color: #fff;
	font-weight: 500 !important;
}

.Title2 {
	color: #fff;
	font-weight: 500 !important;
	padding-bottom: 50px;
}

.BannerWithFormImgSB {
	height: 300px;
	margin: auto;
	padding-top: 50px;
}

.formWrapperTitle {
	padding-top: 60px;
}

.formWrapperTitle .formSubtitle1 {
	font-size: 2.2vw;
	font-weight: 700;
	/* color: #333333; */
}

.formWrapperTitle .formSubtitle2 {
	font-size: 1.2vw;
	color: #555555;
	margin-bottom: 30px;
}

.submitButtonWrapper {
	height: 45px;
	margin-left: 0px;
	margin-top: -10px;
	background-color: #283592;
	color: #f1f1f1;
	margin-top: 10px;
	margin-bottom: 20px;
}

.submitButtonWrapper:hover {
	margin-left: 0px;
	margin-top: -10px;
	background-color: #234ac9;
	color: #f1f1f1;
	margin-top: 10px;
	margin-bottom: 20px;
}

.InputBoxCustom {
	height: 36px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.formWrapper .userWrapper {
	position: absolute;
	margin-top: 10px;
	margin-left: 13px;
	z-index: 10!important;
}

.formWrapper .envelopeWrapper {
	position: absolute;
	font-size: 13px;
	margin-top: 11px;
	margin-left: 13px;
	z-index: 10!important;
}

.formWrapper .mobileWrapper {
	font-size: 18px;
	margin-top: 11px;
	margin-left: 13px;
	z-index: 10!important;
	position: absolute;
}

.formWrapper .lockWrapper {
	font-size: 16px;
	margin-top: 11px;
	margin-left: 13px;
	z-index: 10!important;
	position: absolute;
}

.formWrapper {
	margin: auto;
	margin-top: 90px;
	background-color: #fff;
	border-radius: 10px;
}

.InputBoxCustom {
	font-size: 18px;
	padding: 0 40px;
}

textarea.Bordertextarea {
	border: 1px solid lightgray;
	height: auto !important;
	min-height: 80px;
	padding: 6px 38px;
}

.InputBoxCustom {
	font-size: 16px;
	padding: 5px 40px;
}

.MainWrapperInside {
	height: 650px;
	float: left;
}

.BannerWithFormIMGUSBrand {
	position: inherit;
	z-index: 1000;
	height: 120px;
}

.formWrapper {
	margin-top: -60px !important;
}