.BlockWrapper{
  height:auto;
  background-color: #ccc;
}

.box {
  height: 350px;
  background-color: #fff;
  margin-top: 20px;
}


.box img{
    height: 180px;
    width:360px;
}
.dateTime{
  margin-top: 20px;
  color: #337ab7;
}
.horizontalLine {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.teamName{
  margin-top: 20px;
  text-align: justify;
  font-size: 18px;
  color: #000;
  
}
.teamName:hover{
  color: #25bbf3;
}
.teamProfile{
  text-align: justify;
  font-size: 16px;
}



  
  
